Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

polygon simulation: clarify that it's ZKP token balance top-up
  contracts/lib/polygon-fix.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

polygon simulation: don't ensure min ZKP balance for unstake
  contracts/testing/polygon-fix/unstaking-scenario-module.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

polygon-fix: adding staking actions at an appropriate time
  contracts/testing/polygon-fix/staking-simulation.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

polygon simulation: track rewards as BigNumber for increased accuracy
  contracts/testing/polygon-fix/staking-simulation.ts
  contracts/testing/polygon-fix/unstaking-scenario-module.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

polygon simulation: show summary after last transaction
  contracts/testing/polygon-fix/unstaking-scenario-module.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix calculation of Infura RPC endpoints
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix precedence of RPC endpoint choice in Hardhat config
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: adding --chunks-prefix to hardhat staking:list task
  contracts/lib/paginator.ts
  contracts/tasks/staking-list.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: use a ternary in staking:list for cleaner code
  contracts/tasks/staking-list.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix bugs in paginator
  contracts/lib/paginator.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: improve output of staking:list task
  contracts/lib/paginator.ts
  contracts/tasks/staking-list.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

upgrade Hardhat to 2.9.1 and remove from dapp
  contracts/package.json
  yarn.lock
Due: prettier --write

Add unit tests for StakesReporter
  contracts/contracts/StakesReporter.sol
  contracts/test/stakesReporter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Add stakeReport contract
  contracts/contracts/StakesReporter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: enhance StakesReporter unit tests
  contracts/contracts/StakesReporter.sol
  contracts/test/stakesReporter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: hardhat deployment script for StakesReporter contract
  contracts/deploy/07-StakeReporter.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

polygon simulation: get existing StakeRewardController and stakesReporter
  contracts/lib/polygon-fix.ts
  contracts/testing/polygon-fix/unstaking-scenario-module.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: make mineBlock() helper more useful
  contracts/lib/hardhat.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: rerequire function to re-import modules in case of update
  contracts/lib/rerequire.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: upgrade hardhat-deploy to 0.11.0
  contracts/package.json
  yarn.lock
Due: prettier --write

prevent adding a new thread if the thread already exists Issue-URL: https://app.clickup.com/t/2345x24 Clickup: #2345x24
  .gitlab-ci.yml
Due: prettier --write

add sequence diagram for advanced staking
  docs/advanced-staking.png
  docs/advanced-staking.puml
  docs/plantuml.skin
Due: prettier --write

add more sequence diagrams for advanced staking
  docs/advanced-staking.early-exit.png
  docs/advanced-staking.early-exit.puml
  docs/advanced-staking.normal-exit.png
  docs/advanced-staking.normal-exit.puml
Due: prettier --write

more advanced staking diagram updates
  docs/advanced-staking.early-exit.png
  docs/advanced-staking.early-exit.puml
  docs/advanced-staking.normal-exit.png
  docs/advanced-staking.normal-exit.puml
  docs/advanced-staking.png
  docs/advanced-staking.puml
  docs/plantuml.skin
Due: prettier --write

ignore mac os specific filesystem files
  .gitignore
Due: prettier --write

Added aditional points about tests in .gitmessage template
  .gitmessage
Due: prettier --write

eslint: ignore variables with names starting with an underscore
  contracts/.eslintrc.json
Due: prettier --write

Adding production hardhat artifacts
  contracts/deployments/ARCHIVE/production/mainnet/.chainId
  contracts/deployments/ARCHIVE/production/mainnet/RewardMaster.json
  contracts/deployments/ARCHIVE/production/mainnet/RewardPool.json
  contracts/deployments/ARCHIVE/production/mainnet/StakeRewardAdviser.json
  contracts/deployments/ARCHIVE/production/mainnet/Staking.json
  contracts/deployments/ARCHIVE/production/polygon/.chainId
  contracts/deployments/ARCHIVE/production/polygon/MaticRewardPool.json
  contracts/deployments/ARCHIVE/production/polygon/PZkpToken.json
  contracts/deployments/ARCHIVE/production/polygon/RewardMaster.json
  contracts/deployments/ARCHIVE/production/polygon/RewardTreasury.json
  contracts/deployments/ARCHIVE/production/polygon/StakeRewardAdviser.json
  contracts/deployments/ARCHIVE/production/polygon/StakeRewardController.json
  contracts/deployments/ARCHIVE/production/polygon/Staking.json
  contracts/deployments/ARCHIVE/production/polygon/solcInputs/496176f3b3122619b8c2f798da67ee81.json
Due: prettier --write

fix: adding missing typescript types
  yarn.lock
Due: prettier --write

Add IArptHistory and IStakeRegister. remove duplicated codes. optimize the logics. Without this patch, the StakesReporter is unoptimized and the codes are not clean.
  contracts/contracts/StakesReporter.sol
  contracts/test/stakesReporter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor: update the codes for `TriadIncrementalMerkleTrees` contract.
  panther-protocol-contracts-ws/contracts/PantherPool.sol
  panther-protocol-contracts-ws/contracts/TriadIncrementalMerkleTrees.sol
  panther-protocol-contracts-ws/contracts/mocks/MockTriadIncrementalMerkleTree.sol
Due: prettier --write

avoid broken ClickUp / GitLab integration
  .gitmessage
Due: prettier --write

try to fix ClickUp / GitLab integration
  .gitlab/merge_request_templates/Default.md
Due: prettier --write

setting up panther-core workspace
  .gitlab-ci.yml
  .lintstagedrc.mjs
  contracts/package.json
  package.json
Due: prettier --write

test: add unit test for triadIncrementalMerkleTree contract
  panther-protocol-contracts-ws/lib/buildPoseidon.ts
  panther-protocol-contracts-ws/lib/utilities.ts
  panther-protocol-contracts-ws/test/TriadIncrementalMerkleTree.test.ts
  panther-protocol-contracts-ws/test/TriadTrees.multipleTrees.test.ts
Due: prettier --write

feat: Add poseidon impl + sha256 bit-pack, TODO: fix 40 poseidon
  circuits/templates/publicInputHasher.circom
  circuits/transaction.circom
Due: prettier --write

fix: Comments + asserts to non-generic code
  circuits/templates/publicInputHasher.circom
Due: prettier --write

dapp: fixing type generation for packages imported from pool-client code
  .gitlab-ci.yml
  package.json
Due: prettier --write

Improve CI by adding a job to be executed when merging 2 branches Without this patch, the combined-job won't be executed after merge a branch to another
  .gitlab-ci.yml
Due: prettier --write

dapp: convenience dapp start script in the root package.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
