Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

feat(contracts): update deployment scripts
  contracts/deploy/01-protocol/10f-define-verification-keys-for-zSwap-transaction.ts
  contracts/deploy/01-protocol/24b-add-prp-accounting-vk-to-pool.ts
  contracts/deploy/01-protocol/24c-add-prp-account-conversion-vk-to-pool.ts
  contracts/deploy/01-protocol/24d-add-main-vk-to-pool.ts
  contracts/deploy/01-protocol/24e-add-zSwap-vk-to-pool.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add uni v3 pool plugin
  contracts/contracts/common/interfaces/IErc20Min.sol
  contracts/contracts/protocol/v1/DeFi/UniswapV3FlashSwap.sol
  contracts/contracts/protocol/v1/plugins/PluginLib.sol
  contracts/contracts/protocol/v1/plugins/PluginRegistry.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): providers keys
  contracts/lib/eip712SignatureGenerator.ts
  contracts/test/protocol/ProvidersKeys.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add PrpConverter unit test
  contracts/test/protocol/PrpConverter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): script to update providerskeys tree
  contracts/deploy/01-protocol/16a-add-provider.ts
  contracts/deploy/01-protocol/16b-add-provider-key.ts
  contracts/deploy/01-protocol/16b-register-provider-key.ts
  contracts/lib/staticTree/providersKeys.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): update new main vk
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/MainPublicSignals.sol
  contracts/test/protocol/data/verificationKeys/VK_main.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add quickswap router script
  contracts/deploy/01-protocol/47-quickswap-router-plugin.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): add V0 deployment scripts
  contracts/deploy/01-protocol/v0/00-check-params.ts
  contracts/deploy/01-protocol/v0/01-crypto-libs.ts
  contracts/deploy/01-protocol/v0/02a-vault-proxy.ts
  contracts/deploy/01-protocol/v0/02b-zAssetRegistry-proxy-and-impl.ts
  contracts/deploy/01-protocol/v0/03-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/01-protocol/v0/04-vault-impl.ts
  contracts/deploy/01-protocol/v0/05-vault-proxy-upgrade.ts
  contracts/deploy/01-protocol/v0/06-vault-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add quickswap router plugin
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IUniswapV2Factory.sol
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IUniswapV2Pair.sol
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IUniswapV2Router.sol
  contracts/contracts/protocol/v1/plugins/PluginLib.sol
  contracts/contracts/protocol/v1/plugins/quickswap/QuickswapRouterPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): validate utxos before insert
  contracts/contracts/protocol/v1/errMsgs/PantherPoolV1ErrMsgs.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): keyring registration script
  contracts/deploy/01-protocol/16b-register-test-network-provider-key.ts
  contracts/lib/staticTree/providersKeys.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): fix typo
  contracts/deploy/01-protocol/35-deploy-account.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): del unused functions
  contracts/contracts/common/ScaleHandler.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherForest/PantherForest.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): consolidate IERC20min interface
  contracts/contracts/common/interfaces/IErc20Min.sol
  contracts/contracts/protocol/v1/mocks/MockUniswapV3Pool.sol
  contracts/contracts/staking/MaticRewardPool.sol
  contracts/contracts/staking/RewardMaster.sol
  contracts/contracts/staking/RewardTreasury.sol
  contracts/contracts/staking/StakeRewardController.sol
  contracts/contracts/staking/Staking.sol
  contracts/contracts/staking/interfaces/IErc20Min.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): update provider tree calculation logic
  contracts/deploy/01-protocol/16b-register-provider-key.ts
  contracts/lib/staticTree/providersKeys.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): extendKeyRing with signature
  contracts/lib/eip712SignatureGenerator.ts
  contracts/test/protocol/ProvidersKeys.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): swapZAsset bundlers permission
  contracts/deploy/01-protocol/35-deploy-account.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): emit tx note for zswap
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): updated testcase ProvidersKey
  contracts/lib/eip712SignatureGenerator.ts
  contracts/test/protocol/ProvidersKeys.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): sort out contract import lines
  contracts/contracts/staking/MaticRewardPool.sol
  contracts/contracts/staking/RewardMaster.sol
  contracts/contracts/staking/RewardTreasury.sol
  contracts/contracts/staking/StakeRewardController.sol
  contracts/contracts/staking/Staking.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add helper func getAmountOutRounded
  contracts/test/protocol/PrpConverter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): rename updateZkpReserve to increaseZkpReserve
  contracts/contracts/protocol/v1/PolygonPrpRewardMsgRelayer.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/ToPolygonZkpTokenAndPrpRewardMsgSender.sol
  contracts/contracts/protocol/v1/interfaces/IPrpConverter.sol
  contracts/test/protocol/PrpConverter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(cotracts): erc 721 ad 1155 mocks
  contracts/contracts/protocol/v1/mocks/MockERC1155.sol
  contracts/contracts/protocol/v1/mocks/MockERC721.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add zacc registry unit tests
  contracts/test/protocol/ZAccountsRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add MockPantherPoolandPrpConverter contract
  contracts/contracts/protocol/v1/mocks/MockPantherPoolandPrpConverter.sol
  contracts/test/protocol/PrpConverter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): prp voucher grantor
  contracts/test/protocol/PrpVoucherGrantor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add zacc registry unit tests
  contracts/contracts/protocol/v1/mocks/MockZAccountsRegistry.sol
  contracts/test/protocol/ZAccountsRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): remove aa package deppendency
  contracts/contracts/common/erc4337/EntryPoint.sol
  contracts/contracts/common/erc4337/README.md
  contracts/contracts/protocol/v1/Account.sol
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/external/abi/EntryPoint.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): adopt paymaster withdraw
  contracts/deploy/01-protocol/38a-paymaster-withdraw-deposit.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): shared fix
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): fix composeExecData
  contracts/lib/composeExecData.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add paymaster test
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): Account
  contracts/contracts/protocol/v1/Account.sol
  contracts/contracts/protocol/v1/errMsgs/AccountErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): Account
  contracts/test/protocol/Account.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): saltHash to salt
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): paymaster withdraw
  contracts/deploy/01-protocol/38a-paymaster-withdraw-deposit.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): paymaster test on
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): lock asset with salt
  contracts/test/protocol/Vault.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): use public signal constants
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): erc4337 interfaces
  contracts/contracts/protocol/v1/erc4337/README.md
  contracts/contracts/protocol/v1/erc4337/contracts/core/Helpers.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/IAccount.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/IAggregator.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/IEntryPoint.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/INonceManager.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/IPaymaster.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/IStakeManager.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/UserOperation.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
