Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

style(contracts) merge conflicts fixed, prettier applied
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix deployment tags
  contracts/deploy/01-protocol/07b-define-verification-keys-for-forest.ts
  contracts/deploy/01-protocol/07c-define-verification-keys-for-test-zwallet.ts
  contracts/deploy/01-protocol/07z-add-verification-key.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts:MockBusTree) `ImmutableOwnable` and updatable params
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add mock bridge deployment
  contracts/contracts/common/mocks/MockFxPortal.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
  contracts/deploy/00-dev-dependecy/00-fx-portal-proxy.ts
  contracts/deploy/00-dev-dependecy/01a-zkp-token.ts
  contracts/deploy/00-dev-dependecy/01b-pzkp-token.ts
  contracts/deploy/00-dev-dependecy/02-fx-portal-imp.ts
  contracts/deploy/00-dev-dependecy/03-fx-portal-proxy-upgrade.ts
  contracts/deploy/01-protocol/00-check-params.ts
  contracts/deploy/01-protocol/08a-bus-tree-proxy-and-impl.ts
  contracts/deploy/01-protocol/08b-bus-tree-update-reward-params.ts
  contracts/deploy/01-protocol/08z-bus-tree-proxy-owner-change.ts
  contracts/deploy/01-protocol/10a-convert-zkp-to-pzkp-token.ts
  contracts/deploy/01-protocol/10b-increase-vault-balance.ts
  contracts/deploy/01-protocol/10z-grant-unloker-role-to-bus-tree.ts
  contracts/deployments/ARCHIVE/externalAbis/PZkpToken.json
  contracts/deployments/ARCHIVE/externalAbis/ZKPToken.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): BusTree scenario for 1026 batches generated and run
  contracts/test/protocol/data/busTreeScenario_2052_steps.zip
Due: prettier --write

chore(contracts): define path to VK in env.example
  contracts/.env.example
Due: prettier --write

feat(contracts:BusTree): Doubly-linked queue list and helpers
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): modify simulation adding utxo
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add ORC
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/protocol/OnboardingRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix issues
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/PantherFerryTree.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/errMsgs/ZAccountsRegistryErrMsgs.sol
  contracts/contracts/protocol/interfaces/IBusTree.sol
  contracts/contracts/protocol/interfaces/IOnboardingController.sol
  contracts/contracts/protocol/interfaces/IOnboardingRewardController.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/interfaces/IPureFiIssuerRequestResolver.sol
  contracts/contracts/protocol/interfaces/IZAccountsRegistry.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/mocks/MockZAccountsRegistry.sol
  contracts/contracts/protocol/pantherForest/Constant.sol
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryUpdatableTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockTaxiTree.sol
  contracts/contracts/protocol/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/zAccountsRegistry/BlacklistedZAccountIdsTree.sol
  contracts/contracts/protocol/zAccountsRegistry/ZAccountRegeistrationSignatureVerifier.sol
  contracts/contracts/protocol/zAccountsRegistry/ZAccountsRegeistrationSignatureVerifier.sol
  contracts/contracts/protocol/zAccountsRegistry/ZAccountsStatusResolver.sol
  contracts/contracts/protocol/zAccountsRegistry/blacklistedZAccountIdsTree/BlacklistedZAccountIdsTree.sol
  contracts/contracts/protocol/zAccountsRegistry/merkleTrees/BinaryUpdatableMerkleTree.sol
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

update contracts
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/PantherFerryTree.sol
  contracts/contracts/protocol/ProvidersKeys.sol
  contracts/contracts/protocol/ZAssetsRegistryV0.sol
  contracts/contracts/protocol/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/mocks/PantherPoolV0AndZAssetRegistryAndVaultTester.sol
  contracts/contracts/protocol/mocks/PantherPoolV0AndZAssetRegistryTester.sol
  contracts/contracts/protocol/pantherForest/Constant.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/PantherStaticTree.sol
  contracts/contracts/protocol/pantherForest/interfaces/ITreeRootUpdater.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryUpdatableTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockTaxiTree.sol
  contracts/contracts/protocol/pantherForest/taxiTree/PantherTaxiTree.sol
  contracts/contracts/protocol/zAccountsRegistry/BlacklistedZAccountIdsTree.sol
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deployments
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/ZZonesRegistry.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/deploy/01-protocol/01-crypto-libs.ts
  contracts/deploy/01-protocol/02b-zAssetRegistryV0-proxy-and-impl.ts
  contracts/deploy/01-protocol/03-a-taxi-tree.ts
  contracts/deploy/01-protocol/03-b-bus-tree-proxy.ts
  contracts/deploy/01-protocol/03-c-ferry-tree.ts
  contracts/deploy/01-protocol/03-d-static-tree-proxy.ts
  contracts/deploy/01-protocol/03b-pantherPoolV1-proxy-and-impl.ts
  contracts/deploy/01-protocol/03b-pantherPoolV1-proxy.ts
  contracts/deploy/01-protocol/07-zAccountsRegistry-proxy-and-imp.ts
  contracts/deploy/01-protocol/07d-define-verification-keys-for-zaccounts-registration.ts
  contracts/deploy/01-protocol/08a-bus-tree-impl.ts
  contracts/deploy/01-protocol/08b-1-bus-tree-proxy-upgrade.ts
  contracts/deploy/01-protocol/08bz-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/08bzz-upgrade-pantherPoolV1-proxy.ts
  contracts/deploy/01-protocol/08c-zAssetsRegistryV1.ts
  contracts/deploy/01-protocol/08d-zZonesRegistry.ts
  contracts/deploy/01-protocol/08e-providers-keys.ts
  contracts/deploy/01-protocol/08f-1-onboarding-controller-proxy-and-imp.ts
  contracts/deploy/01-protocol/08f-zAccountsRegistry-proxy-and-imp.ts
  contracts/deploy/01-protocol/08g-zNetworksRegistry.ts
  contracts/deploy/01-protocol/08h-static-tree-impl.ts
  contracts/deploy/01-protocol/08i-static-tree-proxy-upgrade.ts
  contracts/deploy/01-protocol/08j-init-static-tree.ts
  contracts/deploy/01-protocol/08k-init-pantherPoolV1.ts
  contracts/deploy/01-protocol/08zz-grant-unloker-role-to-bus-tree.ts
  contracts/deploy/01-protocol/14b-add-zaccounts-registration-vk-to-pool.ts
  contracts/deploy/01-protocol/15a-convert-zkp-to-pzkp-token.ts
  contracts/deploy/01-protocol/15b-increase-vault-balance.ts
  contracts/deploy/01-protocol/17-zaccounts-blacklist-status-resolver.ts
  contracts/hardhat.config.ts
  contracts/lib/poseidonBuilder.ts
  contracts/tasks/protocol/pubkey-register.ts
  contracts/test/protocol/ZAccountsRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): refactor provider keys
  contracts/contracts/common/EIP712SignatureVerifier.sol
  contracts/contracts/protocol/PantherFerryTree.sol
  contracts/contracts/protocol/ProvidersKeys.sol
  contracts/contracts/protocol/TrustProvidersKeys.sol
  contracts/contracts/protocol/crypto/BabyJubJub.sol
  contracts/contracts/protocol/errMsgs/ProvidersKeysErrMsgs.sol
  contracts/contracts/protocol/pantherForest/interfaces/ITreeRootUpdater.sol
  contracts/contracts/protocol/pantherForest/mocks/MockTaxiTree.sol
  contracts/contracts/protocol/providersKeys/ProvidersKeysSignatureVerifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts:PantherForest) pantherForest/README.txt updated
  contracts/contracts/protocol/pantherForest/README.txt
Due: prettier --write

feat(contracts:PantherForest): WIP review remarks
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

add trust keys
  contracts/contracts/common/binaryTree/BinaryIncrementalUpdatableMerkleTree.sol
  contracts/contracts/common/binaryTree/BinaryMerkleZeros.sol
  contracts/contracts/common/mocks/MockBinaryIncrementalUpdatableMerkleTree.sol
  contracts/contracts/protocol/TrustProvidersKeys.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryUpdatableTree.sol
  contracts/deploy/01-protocol/07-zAccountsRegistry-proxy-and-imp.ts
  contracts/deploy/02-staking/18-TrustProvidersKeys.ts
  contracts/test/common/BinaryIncrementalUpdatableMerkleTree.test.ts
  contracts/test/protocol/TrustProvidersKeys.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix issues after test deployment
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/Constant.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

grantRewardsci(contracts): fix lint issues This patch: - removes unused variables - fixes code formatting
  contracts/contracts/common/binaryTree/BinaryIncrementalUpdatableMerkleTree.sol
  contracts/contracts/common/mocks/MockBinaryIncrementalUpdatableMerkleTree.sol
  contracts/contracts/protocol/OnboardingController.sol
  contracts/deploy/01-protocol/08bz-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/14b-add-zaccounts-registration-vk-to-pool.ts
  contracts/tasks/protocol/pubkey-register.ts
  contracts/test/common/BinaryIncrementalUpdatableMerkleTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): WIP stage 1 PantherForest
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): panther forest
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/ZAssetsRegistry.sol
  contracts/contracts/protocol/ZNetworksRegistry.sol
  contracts/contracts/protocol/ZZonesRegistry.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/interfaces/ITreeRootGetter.sol
  contracts/contracts/protocol/pantherForest/interfaces/ITreeRootUpdater.sol
  contracts/contracts/protocol/pantherForest/mocks/MockTaxiTree.sol
  contracts/contracts/protocol/pantherForest/taxiTree/PantherTaxiTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): zAccount registry
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/interfaces/IOnboardingRewardController.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/mocks/MockZAccountsRegistry.sol
  contracts/contracts/protocol/zAccountsRegistry/ZAccountRegeistrationSignatureVerifier.sol
  contracts/contracts/protocol/zAccountsRegistry/blacklistedZAccountIdsTree/BlacklistedZAccountIdsTree.sol
  contracts/contracts/protocol/zAccountsRegistry/merkleTrees/BinaryUpdatableMerkleTree.sol
  contracts/deploy/01-protocol/10-zAccountsRegistry-proxy-and-imp.ts
  contracts/test/protocol/ZAccountsRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add z account utxo into queue
  contracts/contracts/protocol/interfaces/IBusTree.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

delete leafControllers mapping from forest
  contracts/contracts/protocol/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

import leaf indexes from Constants.sol
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/ProvidersKeys.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/pantherForest/Constants.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

update rootHistory logic in forest
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

pantherPool todos - rename mockPantherPool to pantherPool - add IPantherPool
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

remove duplicated zero roots
  contracts/contracts/protocol/pantherForest/taxiTree/PantherTaxiTree.sol
  contracts/contracts/protocol/pantherForest/zeroTrees/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Change MockBusTree to PantherBusTree
  contracts/contracts/protocol/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

remove FIELD_SIZE duplicated definitions
  contracts/contracts/protocol/crypto/SnarkConstants.sol
  contracts/contracts/staking/mocks/FakePantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:PantherStaticTree) TODOs added
  contracts/contracts/protocol/PantherStaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Add TransactionNoteEmitter.sol
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/pantherPool/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:PantherPoolV1): TODOs added
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:BusTree) TODOs added
  contracts/contracts/protocol/crypto/SnarkConstants.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

make pointPack internal
  contracts/contracts/protocol/crypto/BabyJubJub.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:BabyJubJub) TODOs added
  contracts/contracts/protocol/crypto/BabyJubJub.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:ZAssetsRegistryV0) @title updated
  contracts/contracts/protocol/ZAssetsRegistryV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:ProvidersKeys): keyrings mapped to its IDs and renaming
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/ProvidersKeys.sol
  contracts/contracts/protocol/crypto/PoseidonHashers.sol
  contracts/contracts/protocol/errMsgs/ProvidersKeysErrMsgs.sol
  contracts/contracts/protocol/pantherForest/Constant.sol
  contracts/contracts/protocol/pantherForest/zeroTrees/Constants.sol
  contracts/contracts/protocol/providersKeys/ProvidersKeysSignatureVerifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:OnboardingController) ZKP allocation value updated
  contracts/contracts/protocol/OnboardingController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Modify the order of pool params
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:CachedRoots) Roots cache ("history") implemented
  contracts/contracts/protocol/errMsgs/CachedRootsErrMsgs.sol
  contracts/contracts/protocol/mocks/MockCachedRoots.sol
  contracts/contracts/protocol/pantherForest/cachedRoots/CachedRoots.sol
  contracts/contracts/protocol/pantherForest/rootHistory/RootHistory.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
