Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

contracts: queue switch logic fixed in BusQueues
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

circuits: more test data for PartiallyFilledChainCheckerFor64 circuit
  circuits/test/data/partiallyFilledChainCheckerFor64_input.nInputs_1.json
Due: prettier --write

contracts: WIP skeleton for the new design of trees
  contracts/contracts/protocol/PantherFerryTree.sol
  contracts/contracts/protocol/PantherStaticTrees.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/README.txt
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/busTree/QueuedBatches.sol
  contracts/contracts/protocol/pantherForest/busTree/SnarkProvableInsertion.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryIncrementalTree.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryUpdatableTree.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/DegenerateIncrementalBinaryTree.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/Types.sol
  contracts/contracts/protocol/pantherForest/rootHistory/RootHistory.sol
  contracts/contracts/protocol/pantherForest/taxiTree/TaxiTree.sol
  contracts/contracts/protocol/pantherForest/zeroTrees/Constants.sol
  contracts/contracts/protocol/pantherForest/zeroTrees/SixLevelZeroTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: BusQueues::BusQueueOnboarded event params extended
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

circuits: PantherBusTreeUpdater renamed and refactored
  circuits/circuits/pantherBusTreeUpdater.circom
  circuits/circuits/templates/treeBatchUpdaterAndNewRootBuilder.circom
  circuits/circuits/templates/treeBatchUpdaterAndNewRootChecker.circom
  circuits/circuits/templates/treeFullBatchUpdaterAndNewRootBuilder.circom
  circuits/test/data/pantherBusTreeUpdater_input.json
Due: prettier --write

contracts: SixLevelZeroTree.sol added
  contracts/contracts/protocol/pantherForest/zeroTrees/SixLevelZeroTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: BusTree::busRoot initialization simplified
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add script to translate VK
  contracts/lib/encodeVerificationKey.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): deterministic deployment scripts
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): SNARK-proof bypass added
  contracts/contracts/protocol/pantherVerifier/Verifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(circuits): interim roots as public input to PantherBusTreeUpdater
  circuits/circuits/pantherBusTreeUpdater.circom
  circuits/circuits/templates/merkleTreeUpdater.circom
  circuits/circuits/templates/treeBatchUpdaterAndRootChecker.circom
  circuits/test/data/pantherBusTreeUpdater_input.json
Due: prettier --write

feat(contracts):add mock contract for forest trees
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryUpdatableTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockTaxiTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add/modify deployment scripts
  contracts/.env.example
  contracts/deploy/01-protocol/00-check-params.ts
  contracts/deploy/01-protocol/07a-panther-verifier.ts
  contracts/deploy/01-protocol/07b-add-verification-key.ts
  contracts/deploy/01-protocol/08-bus-tree.ts
  contracts/deploy/01-protocol/09-taxi-tree.ts
  contracts/deploy/02-staking/00-check-params.ts
  contracts/lib/deploymentHelpers.ts
  contracts/package.json
  contracts/test/protocol/data/verificationKeys.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): interim roots publishing by BusTree
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add script to format verify param
  contracts/test/protocol/helpers/pantherVerifierTester.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): functions renamed in deploymentHelpers.ts
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): deployment of verification key for BusTree refactored
  contracts/deploy/01-protocol/07b-add-verification-key.ts
  contracts/deploy/01-protocol/07b-define-verification-keys-for-forest.ts
  contracts/deploy/01-protocol/07z-add-verification-key.ts
  contracts/deploy/01-protocol/08-bus-tree.ts
  contracts/test/protocol/data/verificationKeys/VK_pantherBusTreeUpdater.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): test scenario data added for BusTree contract
  contracts/package.json
  contracts/test/protocol/data/busTreeScenario.js
  contracts/test/protocol/data/busTreeScenario.json
  contracts/test/protocol/data/busTreeScenario.proofInput.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(circuits): PartiallyFilledChainBuilder circuit fixed
  circuits/circuits/templates/partiallyFilledChainBuilder.circom
Due: prettier --write

feat(contracts): queues statistic added to BusQueue
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): test verification key for new Bus Updater circuit
  contracts/test/protocol/data/verificationKeys/pantherBusTreeUpdater_verification_key.json
Due: prettier --write

chore(contracts): deterministic deployment helpers refactored
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): error in BusQueues.sol fixed
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(circuits): prettier run on circuits/test/data
  circuits/test/data/hasherTest_input.json
  circuits/test/data/merkleInclusionProofCheckerFor20Levels_input.json
  circuits/test/data/merkleInclusionProofCheckerFor24Levels_input.json
  circuits/test/data/merkleTreeBuildCheckerFor6Levels_input.json
  circuits/test/data/merkleTreeBuildCheckerFor6Levels_input.zeroTree.json
  circuits/test/data/partiallyFilledChainCheckerFor64_input.nInputs_1.json
  circuits/test/data/partiallyFilledChainCheckerFor64_input.nInputs_43.json
  circuits/test/data/partiallyFilledChainCheckerFor64_input.nInputs_64.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.depth26.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.depth30.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.depth6.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.height26.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.height30.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.height6.json
Due: prettier --write

chore(contracts): verification key added for ZWallet
  contracts/deploy/01-protocol/07a-panther-verifier.ts
  contracts/deploy/01-protocol/07c-define-verification-keys-for-test-zwallet.ts
  contracts/deploy/01-protocol/07z-add-verification-key.ts
  contracts/test/protocol/data/verificationKeys/VK_oneInputPoseidonHasher.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): circuit pub input fixed in BusTree
  contracts/contracts/protocol/crypto/SnarkConstants.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(circuits): Unused templates removed
  circuits/circuits/templates/treeBatchUpdaterAndNewRootBuilder.circom
  circuits/circuits/templates/treeBatchUpdaterAndNewRootChecker.circom
  circuits/circuits/templates/treeFullBatchUpdaterAndNewRootBuilder.circom
Due: prettier --write

feat(contracts) test VK_pantherBusTreeUpdater.json updated
  contracts/test/protocol/data/verificationKeys/VK_pantherBusTreeUpdater.json
Due: prettier --write

chore(contracts): typo fixed in package.json
  contracts/package.json
Due: prettier --write

chore(contracts): arbitrary length test scenario by busTreeScenario.js
  contracts/test/protocol/data/busTreeScenario.js
  contracts/test/protocol/data/busTreeScenario_32_steps.json
  contracts/test/protocol/data/busTreeScenario_32_steps.proofInput.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): busTreeScenario.js generates SNARK-proofs
  contracts/test/protocol/data/busTreeScenario.js
  contracts/test/protocol/data/busTreeScenario.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): test proving key and witness calculator for BusTree
  .prettierignore
  contracts/.eslintignore
  contracts/test/protocol/data/provingKeys/pantherBusTreeUpdater_final.zkey
  contracts/test/protocol/data/wasm/generate_witness.js
  contracts/test/protocol/data/wasm/pantherBusTreeUpdater.wasm
  contracts/test/protocol/data/wasm/witness_calculator.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore: track *.zip files using Git LFS
  .gitattributes
Due: prettier --write

chore(contracts): test data for BusTree updated
  contracts/test/protocol/data/busTreeScenario.json
Due: prettier --write

track *.zkey and *.wasm files using Git LFS
  .gitattributes
Due: prettier --write

feat(contracts:BusQueues) queue "maturity"
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
  contracts/deploy/01-protocol/08b-bus-tree-update-reward-params.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): extend deployment scripts
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
  contracts/deploy/01-protocol/00-check-params.ts
  contracts/deploy/01-protocol/03a-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/01-protocol/03b-pantherPoolV1-proxy-and-impl.ts
  contracts/deploy/01-protocol/04-vault-impl.ts
  contracts/deploy/01-protocol/08-bus-tree.ts
  contracts/deploy/01-protocol/10a-increase-vault-balance.ts
  contracts/deploy/01-protocol/10b-grant-unloker-role-to-bus-tree.ts
  contracts/deploy/02-staking/11-AdvancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts:BusQueues) Miners extra rewards for mining oldest queues
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/mocks/LocalDevEnv.sol
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts:MockBusTree): simulateAddUtxosToBusQueue fixed
  contracts/contracts/protocol/pantherForest/mocks/MockBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:BusQueues) Tree & queues stats output improved
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
