Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

chore(contracts): update verification keys
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
  contracts/test/protocol/data/verificationKeys/VK_prpConversion.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write

fix(contracts): var name conflict in forest tree
  contracts/contracts/protocol/v1/trees/facets/ForestTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): correct main transaction type
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/facets/zTransaction/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/core/libraries/TransactionTypes.sol
  contracts/contracts/protocol/v1/core/utils/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add test net resolver
  contracts/contracts/protocol/v1/mocks/TestnetZAccountStatusResolver.sol
  contracts/deploy/00-dev-dependecy/11-testnet-zaccount-status-resolver.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add and update test files
  contracts/contracts/protocol/v1/core/errMsgs/ZSwapErrMsgs.sol
  contracts/contracts/protocol/v1/mocks/MockBusTree.sol
  contracts/contracts/protocol/v1/mocks/MockForestTree.sol
  contracts/contracts/protocol/v1/mocks/MockZSwap.sol
  contracts/contracts/protocol/v1/mocks/TestnetPantherTrees.sol
  contracts/test/protocol/FeeMaster.test.ts
  contracts/test/protocol/ZkpReserveController.test.ts
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
  contracts/test/protocol/trees/BusTree.test.ts
  contracts/test/protocol/trees/ForestTree.test.ts
  contracts/test/protocol/trees/MiningRewards.test.ts
  contracts/test/protocol/trees/SataticTree.test.ts
  contracts/test/protocol/trees/TaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): events and variable names
  contracts/contracts/protocol/v1/ZkpReserveController.sol
  contracts/contracts/protocol/v1/trees/facets/ForestTree.sol
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/BusTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/CachedRoots.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/busTree/MiningRewards.sol
  contracts/contracts/protocol/v1/trees/utils/PantherPoolAuth.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): delete the gap value in bus tree
  contracts/contracts/protocol/v1/trees/facets/forestTrees/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add zaccount renewal
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/core/errMsgs/ZAccountsRegistryErrMsgs.sol
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
  contracts/contracts/protocol/v1/core/libraries/TransactionTypes.sol
  contracts/contracts/protocol/v1/core/utils/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/core/utils/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): auth flash swap callback sender
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapV3Handler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): update deployment scripts
  contracts/deploy/01-protocol/v1/07i-add-uniswap-v3-pools.ts
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): handle weth token out in zswap
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/facets/zSwap/SwapHandler.sol
  contracts/contracts/protocol/v1/core/facets/zTransaction/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/core/publicSignals/MainPublicSignals.sol
  contracts/contracts/protocol/v1/core/publicSignals/ZSwapPublicSignals.sol
  contracts/contracts/protocol/v1/core/utils/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/plugins/TokenApprovalLib.sol
  contracts/contracts/protocol/v1/plugins/TokenPairResolverLib.sol
  contracts/contracts/protocol/v1/plugins/Types.sol
  contracts/contracts/protocol/v1/plugins/quickswap/QuickswapRouterPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): update hardhat and scrips
  contracts/deploy/01-protocol/v1/11a-core-circuit-ids.ts
  contracts/deploy/01-protocol/v1/11b-core-max-blocktime-offset.ts
  contracts/hardhat.config.ts
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): refactor zTransaction tests
  contracts/contracts/protocol/v1/mocks/MockZTransaction.sol
  contracts/test/protocol/core/ZTransaction.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): update zswap unit test
  contracts/contracts/protocol/v1/mocks/MockUniswapPlugin.sol
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): update reserve after locking tokens in vault
  contracts/contracts/protocol/v1/core/facets/prpConversion/ConversionHandler.sol
  contracts/test/protocol/core/PrpConversion.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): refactor PrpConversion tests
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contract): add receive function to vault
  contracts/contracts/protocol/v1/VaultV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): rewrite txai root with zero
  contracts/contracts/protocol/v1/trees/facets/forestTrees/TaxiTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add renewZAccount unit test
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): update prp conversion tests
  contracts/test/protocol/core/PrpConversion.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): canary address in hh config
  contracts/deploy/01-protocol/v1/11b-core-max-blocktime-offset.ts
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): fix prettier error
  contracts/package.json
Due: prettier --write

chore(contracts): relocate production artifacts
  contracts/deployments/ARCHIVE/production/mainnet/AdvancedStakeRewardAdviserAndMsgSender.json
  contracts/deployments/ARCHIVE/production/polygon/AdvancedStakeActionMsgRelayer_Implementation.json
  contracts/deployments/ARCHIVE/production/polygon/AdvancedStakeActionMsgRelayer_Proxy.json
  contracts/deployments/ARCHIVE/production/polygon/AdvancedStakeRewardController.json
  contracts/deployments/ARCHIVE/production/polygon/PNftToken.json
  contracts/deployments/ARCHIVE/production/polygon/PantherPoolV0.json
  contracts/deployments/ARCHIVE/production/polygon/PantherPoolV0_Implementation.json
  contracts/deployments/ARCHIVE/production/polygon/PantherPoolV0_Proxy.json
  contracts/deployments/ARCHIVE/production/polygon/PoseidonT3.json
  contracts/deployments/ARCHIVE/production/polygon/PoseidonT4.json
  contracts/deployments/ARCHIVE/production/polygon/Vault_Implementation.json
  contracts/deployments/ARCHIVE/production/polygon/Vault_Proxy.json
  contracts/deployments/ARCHIVE/production/polygon/ZAssetsRegistry.json
  contracts/deployments/ARCHIVE/production/polygon/ZAssetsRegistry_Implementation.json
  contracts/deployments/ARCHIVE/production/polygon/ZAssetsRegistry_Proxy.json
  contracts/deployments/mainnet/.chainId
  contracts/deployments/mainnet/solcInputs/49300367bcb47864d5852738a8da403e.json
  contracts/deployments/polygon/solcInputs/49300367bcb47864d5852738a8da403e.json
  contracts/deployments/polygon/solcInputs/f110ad2bd054e6ec59b2d7045b67e2ea.json
Due: prettier --write

fix(contracts): use 256 bits as pool key
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/PoolKey.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapPoolsList.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): possible zero fee params
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): remove duplicate params
  contracts/deploy/01-protocol/v1/07a-update-fee-params.ts
  contracts/deploy/01-protocol/v1/11a-core-circuit-ids.ts
  contracts/deploy/01-protocol/v1/parameters.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): use cur root when update tree
  contracts/contracts/protocol/v1/trees/facets/ZNetworksRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/ZZonesRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): replace zkp scale with rounded
  contracts/contracts/protocol/v1/core/facets/prpConversion/ConversionHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): refactor zAcountsRegistry tests
  contracts/contracts/protocol/v1/mocks/MockZAccountsRegistration.sol
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): validate proof lengths
  contracts/contracts/protocol/v1/trees/facets/BlacklistedZAccountsIdsRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/ZNetworksRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/ZZonesRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): underflow in zkp reserve crtl
  contracts/contracts/protocol/v1/ZkpReserveController.sol
  contracts/test/protocol/ZkpReserveController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): accounting total released zkp
  contracts/contracts/protocol/v1/ZkpReserveController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): validate params before scaling
  contracts/contracts/protocol/v1/ZkpReserveController.sol
  contracts/test/protocol/ZkpReserveController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): use safe24 to cast zacc id
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): isTaxiApplicable
  contracts/contracts/protocol/v1/core/libraries/TransactionOptions.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): fee master unit tests
  contracts/test/protocol/FeeMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): validate contract address
  contracts/contracts/common/TransferHelper.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): deposit in zswap tx
  contracts/contracts/protocol/v1/core/facets/zSwap/SwapHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): silent overflow in zasset registry
  contracts/contracts/protocol/v1/trees/libraries/ZAssetEncodingUtils.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
