Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

chore(contracts): fix converter err messages
  contracts/contracts/protocol/PrpConverter.sol
  contracts/contracts/protocol/errMsgs/PrpConverterErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): add contracts natspec
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/PrpConverter.sol
  contracts/contracts/protocol/PrpVoucherGrantor.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/test/protocol/data/samples/prpClaimSample.ts
  contracts/test/protocol/data/samples/prpConversionSample.ts
  contracts/test/protocol/helpers/getAmountOutConstantProduct.ts
  contracts/test/protocol/helpers/randomPrivateMessageGenerator.ts
  contracts/test/protocol/helpers/randomSnarkFriendlyInputGenerator.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): change grant type name
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/ToPolygonZkpTokenAndPrpRewardMsgSender.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix comment in constant.sol
  contracts/contracts/common/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): checks all the input params
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/PrpConverter.sol
  contracts/contracts/protocol/PrpVoucherGrantor.sol
  contracts/contracts/protocol/errMsgs/PrpConverterErrMsgs.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): fix decode bridge data
  contracts/contracts/protocol/actions/PrpRewardBridgedDataCoder.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): zkp amount out validation
  contracts/contracts/protocol/PrpConverter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): update reserves on release action
  contracts/contracts/protocol/PolygonPrpRewardMsgRelayer.sol
  contracts/contracts/protocol/interfaces/IPrpConverter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): check prp deposit amount
  contracts/contracts/protocol/PrpVoucherGrantor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): generate rewards by msg relayer
  contracts/contracts/protocol/PolygonPrpRewardMsgRelayer.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contract): organize imports
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): MT_SPENT_2UXTO msg type added
  contracts/contracts/protocol/pantherPool/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): remove prp amount in
  contracts/contracts/protocol/PrpConverter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix one contract per file err
  contracts/contracts/common/interfaces/IRootChainManager.sol
  contracts/contracts/common/mocks/MockFxPortal.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): rename private functions
  contracts/contracts/protocol/ToPolygonZkpTokenAndPrpRewardMsgSender.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): rename constant var
  contracts/contracts/protocol/PolygonPrpRewardMsgRelayer.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): refactor adding pool id
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/ProtocolRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): change prp conversion name
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/PrpConverter.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): scaling of asset
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(root): Define code ownership in dapp and crypto workspaces
  .prettierignore
  CODEOWNERS
Due: prettier --write

chore(root): update my username
  CODEOWNERS
Due: prettier --write

feat(circuits): elgamal encryption and decrytion testing
  circuits/circuits/templates/dataEscrowElGamalEncryption.circom
  circuits/package.json
  circuits/scripts/genTypes.sh
  circuits/test/DaoDataEscrowElGamalEncryptionScalar.test.ts
  circuits/test/ZZoneDataEscrowElGamalEncryptionScalar.test.ts
  circuits/test/circuits/daoDataEscrowElGamalEncryptionScalar.circom
  circuits/test/circuits/zZoneDataEscrowElGamalEncryptionScalar.circom
Due: prettier --write

feat(dapp): verifications levels
  yarn.lock
Due: prettier --write

chore(dapp): update CODEOWNERS file
  CODEOWNERS
Due: prettier --write

chore(root): Add code review acceptance criteria
  .gitlab/merge_request_templates/Default.md
Due: prettier --write

chore(root): Update CODEOWNERS file
  CODEOWNERS
Due: prettier --write

ci(root): add CI pipeline local testing command
  package.json
Due: prettier --write

bump(root): Update ffjavascript dependency in yarn.lock
  yarn.lock
Due: prettier --write

fix(circuits): rule and leafid computation
  circuits/circuits/templates/trustProvidersMerkleTreeLeafIDAndRuleInclusionProver.circom
  circuits/compiled/zAccountRegistration/circuits.wasm
  circuits/compiled/zAccountRegistration/provingKey.zkey
  circuits/compiled/zAccountRegistration/verificationKey.json
Due: prettier --write

refactor(root): Update CODEOWNERS file organization
  CODEOWNERS
Due: prettier --write

fix(subgraph): resolve unique constraint violation on RootUpdated entity
  subgraph/src/handePoolContract.ts
Due: prettier --write

chore(root): Assign 'subgraph/' codeownership to @pycckuu
  CODEOWNERS
Due: prettier --write

refactor(dapp): risks and disclaimers dialog
  yarn.lock
Due: prettier --write

chore(contracts): update verification keys
  contracts/test/protocol/data/verificationKeys/VK_prpAccountConversion.json
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
Due: prettier --write

chore(contracts): check zacc read pub key
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/errMsgs/ZAccountsRegistryErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): update activation inputs
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update forest root on debug
  contracts/contracts/protocol/PantherStaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update tree roots
  contracts/contracts/protocol/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/ZNetworksRegistry.sol
  contracts/contracts/protocol/ZZonesRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): refactor scale value
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/PrpConverter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): rename zacc nullifier
  contracts/contracts/protocol/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
