Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

chore(contracts): update zone and network scripts
  contracts/deploy/01-protocol/19aa-add-test-networks-to-zNetworks-registry.ts
  contracts/deploy/01-protocol/19ba-add-local-network-to-zNetworks-registry.ts
  contracts/lib/staticTree/zNetworksRegistry.ts
  contracts/lib/staticTree/zZonesRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): deploy tokens behind proxy
  contracts/deploy/00-dev-dependecy/01a-zkp-token-proxy-and-imp.ts
  contracts/deploy/00-dev-dependecy/01b-pzkp-token-proxy-and-imp.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): update z asset root after insert
  contracts/contracts/protocol/v1/ZAssetsRegistryV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add script to add z asset
  contracts/deploy/01-protocol/14a-add-assets-to-zAssets-registry.ts
  contracts/deploy/01-protocol/14a-add-pzkp-to-zasset-registry.ts
  contracts/lib/staticTree/zAssetsRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): fix z acc reg deployment tags
  contracts/deploy/01-protocol/11-bus-tree-impl.ts
  contracts/deploy/01-protocol/12-zAccountsRegistry-proxy.ts
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/17-onboarding-controller-proxy-and-imp.ts
  contracts/deploy/01-protocol/18a-zAccountsRegistry-proxy-upgrade.ts
  contracts/deploy/01-protocol/18b-zAccountsRegistry-proxy-owner-change.ts
  contracts/deploy/01-protocol/20-static-tree-impl.ts
  contracts/deploy/01-protocol/25-allocate-miner-rewards.ts
  contracts/deploy/01-protocol/26-zaccounts-status-resolver.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): update taxi tree depth to eigth
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/mocks/MockPantherTaxiTreeOwner.sol
  contracts/contracts/protocol/v1/pantherForest/taxiTree/TaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/Constants.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/EightLevelZeroTree.sol
  contracts/test/protocol/PantherTaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): fix deployment script
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/20-static-tree-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): detach static tree from forest
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherStaticTree.sol
  contracts/contracts/protocol/v1/mocks/MockCachedRoots.sol
  contracts/contracts/protocol/v1/pantherForest/PantherForest.sol
  contracts/contracts/protocol/v1/pantherForest/cachedRoots/CachedRoots.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): fix public inputs
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): check static tree root
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/errMsgs/PantherPoolV1ErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(dapp): Update zAccount activation circuits and fix bugs
  crypto/src/other/sparse-merkle-tree/constants.ts
Due: prettier --write

fix(contracts): fix pool slots
  contracts/contracts/protocol/v1/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update verification keys
  contracts/test/protocol/data/verificationKeys/VK_main.json
  contracts/test/protocol/data/verificationKeys/VK_prpAccountConversion.json
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
Due: prettier --write

feat(dapp): add support for updated zTransaction circuit
  crypto/src/base/field-operations.ts
Due: prettier --write

feat(crypto): update merkletreejs package
  crypto/package.json
  yarn.lock
Due: prettier --write

feat(circuits): zSwap functionality with the necessary files
  circuits/.gitignore
  circuits/circuits/mainZSwapV1.circom
  circuits/circuits/zSwapV1.circom
  circuits/compiled/zSwap/circuits.wasm
  circuits/compiled/zSwap/provingKey.zkey
  circuits/compiled/zSwap/verificationKey.json
  circuits/package.json
  circuits/scripts/buildMainZSwap.sh
Due: prettier --write

fix(contracts): Use prebuilt JS files for crypto workspace import
  contracts/test/common/BinaryIncrementalUpdatableMerkleTree.test.ts
  contracts/test/protocol/helpers/randomSnarkFriendlyInputGenerator.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): remove check of escrow messages
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): adding public signal indexes
  contracts/contracts/protocol/v1/pantherPool/publicSignals/MainPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/PrpClaimPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/PrpConversionPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ZAccountActivationPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add ind suffix for index consts
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/MainPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/PrpClaimPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/PrpConversionPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ZAccountActivationPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): auth msg sender on conversion
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/deploy/01-protocol/12a-prp-converter-proxy.ts
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/27-prp-converter-proxy-and-imp.ts
  contracts/deploy/01-protocol/27a-prp-converter-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): unused function in UtxosInserter removed
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): sub types and relocate events
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/pantherPool/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): del zzone data escrow check
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/MainPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/PrpClaimPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/PrpConversionPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ZAccountActivationPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(contracts): natspec comments in PantherPoolV1 tuned
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): add abstract utxo collector
  contracts/contracts/protocol/v1/pantherPool/UtxoCollector.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): refactor and clean up pool
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add abstract zasset generator
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
  contracts/contracts/protocol/v1/pantherPool/ZAssetUtxoGenerator.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): tx sub types
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(subgraph): Migrate subgraph to Sepolia network
  package.json
  subgraph/package.json
  subgraph/subgraph.template.yaml
  subgraph/subgraph.yaml
Due: prettier --write

feat(dapp): estimate user operation gas
  yarn.lock
Due: prettier --write

chore(contracts): modify deployment scripts
  contracts/deploy/01-protocol/27-prp-converter-imp.ts
  contracts/deploy/01-protocol/27a-prp-converter-proxy-upgrade.ts
  contracts/deploy/01-protocol/27c-init-prp-converter.ts
  contracts/deploy/01-protocol/27c-prp-converter-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): pub inputs and caching forest root
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): returns 32 bytes as random input
  contracts/test/protocol/helpers/randomSnarkFriendlyInputGenerator.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(circuits): bug fix for zaccount out commitment in amm
  circuits/circuits/ammV1.circom
  circuits/compiled/prpConverter/circuits.wasm
  circuits/compiled/prpConverter/provingKey.zkey
  circuits/compiled/prpConverter/verificationKey.json
  circuits/test/AMMVoucherExchangeForZAccountOutUtxoCommitmentBug.test.ts
Due: prettier --write

fix(circuits): fix test cases for zTransaction along with clean up
  circuits/circuits/zTransactionV1.circom
  circuits/test/DepositOnlyNonZeroInputWitnessGeneration.test.ts
  circuits/test/DepositOnlyZeroInputWitnessGeneration.test.ts
  circuits/test/InternalZAssetTransferSplit.test.ts
  circuits/test/InternalZAssetTransferToSelf.test.ts
  circuits/test/api/proofGeneratorDepositTx.ts
  circuits/test/api/proofGeneratorInternalTx.ts
Due: prettier --write

fix(circuits): bug fix for zaccount out commitment in zrenewal
  circuits/circuits/zAccountRenewalV1.circom
  circuits/compiled/zAccountRenewal/circuits.wasm
  circuits/compiled/zAccountRenewal/provingKey.zkey
  circuits/compiled/zAccountRenewal/verificationKey.json
  circuits/test/ZAccountRenewalNonZeroInputWitnessGeneration.test.ts
  circuits/test/ZAccountRenewalZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorZAccountRenewal.ts
Due: prettier --write

fix(contracts): taxi tree unit tests
  contracts/test/protocol/PantherTaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(circuits): zaccount out commitment equality check removal
  circuits/circuits/zSwapV1.circom
  circuits/circuits/zTransactionV1.circom
  circuits/compiled/zSwap/circuits.wasm
  circuits/compiled/zSwap/provingKey.zkey
  circuits/compiled/zSwap/verificationKey.json
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
Due: prettier --write

fix(circuits): zAssetOffset has insufficient range check
  circuits/circuits/ammV1RangeCheck.circom
  circuits/circuits/zAccountRegistrationV1RangeCheck.circom
  circuits/circuits/zAccountRenewalV1RangeCheck.circom
  circuits/circuits/zTransactionV1RangeCheck.circom
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
