Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

fix(circuits): testing withdraw tx
  circuits/test/DepositOnlyNonZeroInputWitnessGeneration.test.ts
  circuits/test/InternalZAssetTransferSplit.test.ts
  circuits/test/WithdrawOnlyZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorInternalTx.ts
  circuits/test/api/proofGeneratorWithdrawTx.ts
Due: prettier --write

fix(dapp): construct pub zAsset utxo from utxo message
  crypto/src/panther/messages.ts
Due: prettier --write

fix(circuits): minor fix to circuit tests
  circuits/test/AMMVoucherExchangeNonZeroInputWitnessGeneration.test.ts
  circuits/test/PubKeyDeriver.test.ts
  circuits/test/ZAccountRenewalNonZeroInputWitnessGeneration.test.ts
Due: prettier --write

fix(contracts): z asset commitment
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(circuits): testing for zasset checker circuit
  circuits/circuits/ammV1.circom
  circuits/circuits/templates/networkIdInclusionProver.circom
  circuits/circuits/templates/zAccountBlackListLeafInclusionProver.circom
  circuits/circuits/templates/zAssetChecker.circom
  circuits/circuits/templates/zZoneZAccountBlackListExclusionProver.circom
  circuits/circuits/zAccountRegistrationV1.circom
  circuits/test/ZAssetChecker.test.ts
Due: prettier --write

feat(circuits): range check for zaccount registration
  circuits/circuits/templates/rangeCheck.circom
  circuits/circuits/templates/zAccountNoteHasher.circom
  circuits/circuits/zAccountRegistrationV1.circom
  circuits/circuits/zAccountRegistrationV1RangeCheck.circom
  circuits/test/ZAssetChecker.test.ts
Due: prettier --write

chore(contracts): hardware-wallets dep removed
  contracts/package.json
  yarn.lock
Due: prettier --write

chore(dapp): zed editor config folder ignored
  .gitignore
Due: prettier --write

feat(dapp): app global notifications
  yarn.lock
Due: prettier --write

chore(dapp): mui removed
  yarn.lock
Due: prettier --write

feat(circuits): testing and range check for zaccount renewal
  circuits/.gitignore
  circuits/circuits/zAccountRenewalV1.circom
  circuits/circuits/zAccountRenewalV1RangeCheck.circom
  circuits/compiled/zAccountRenewal/circuits.wasm
  circuits/test/ZAccountRenewalNonZeroInputWitnessGeneration.test.ts
  circuits/test/ZAccountRenewalZeroInputWitnessGeneration.test.ts
Due: prettier --write

fix(crypto): Exclude SpentUTXOMessage from BN254 field validation
  crypto/src/panther/messages.ts
Due: prettier --write

fix(circuits): fix for the bit size of zassetscale
  circuits/circuits/ammV1RangeCheck.circom
  circuits/circuits/templates/zAssetNoteInclusionProver.circom
Due: prettier --write

feat(circuits): testing and range check for amm
  circuits/circuits/ammV1.circom
  circuits/circuits/ammV1RangeCheck.circom
  circuits/compiled/prpConverter/circuits.wasm
  circuits/compiled/prpConverter/provingKey.zkey
  circuits/compiled/prpConverter/verificationKey.json
  circuits/test/AMMExchangeNonZeroInputWitnessGeneration.test.ts
  circuits/test/AMMVoucherExchangeNonZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorAMM.ts
Due: prettier --write

feat(contracts): add new empty contract
  contracts/contracts/protocol/Account.sol
  contracts/contracts/protocol/FeesAndChargesAccountant.sol
  contracts/contracts/protocol/PayMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(dapp): support main tx via bundlers
  yarn.lock
Due: prettier --write

fix(contracts): remove useless import
  contracts/contracts/protocol/zAccountsRegistry/BlacklistedZAccountIdsTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add info cm
  contracts/contracts/protocol/PolygonPrpRewardMsgRelayer.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): remove useless validation
  contracts/contracts/protocol/zAccountsRegistry/BlacklistedZAccountIdsTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add missed events
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add info cm
  contracts/contracts/protocol/PantherStaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add audit info
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix solhint issue
  contracts/contracts/protocol/v1/pantherForest/merkleTrees/BinaryIncrementalTree.sol
  contracts/contracts/protocol/v1/pantherForest/merkleTrees/Types.sol
  contracts/contracts/protocol/v1/pantherVerifier/Verifier.sol
  contracts/contracts/protocol/v1/zAccountsRegistry/ZAccountsStatusResolver.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add info cm
  contracts/contracts/protocol/ProvidersKeys.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): verify released amounts
  contracts/contracts/protocol/ProtocolRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): reformat vault files
  contracts/contracts/common/OnERC1155Received.sol
  contracts/contracts/common/OnERC721Received.sol
  contracts/contracts/common/PullWithSaltHelper.sol
  contracts/contracts/protocol/v0/PantherPoolV0.sol
  contracts/contracts/protocol/v0/VaultV0.sol
  contracts/contracts/protocol/v0/interfaces/IVaultV0.sol
  contracts/contracts/protocol/v0/mocks/FakeVault.sol
  contracts/contracts/protocol/v0/mocks/PantherPoolV0AndZAssetRegistryAndVaultTester.sol
  contracts/contracts/protocol/v0/mocks/PantherPoolV0AndZAssetRegistryTester.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/VaultV1.sol
  contracts/contracts/protocol/v1/errMsgs/EthEscrowErrMsgs.sol
  contracts/contracts/protocol/v1/errMsgs/VaultErrMsgs.sol
  contracts/contracts/protocol/v1/interfaces/IEthEscrow.sol
  contracts/contracts/protocol/v1/interfaces/IVaultV1.sol
  contracts/contracts/protocol/v1/mocks/FakeVault.sol
  contracts/contracts/protocol/v1/mocks/MockEthEscrow.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/v1/mocks/MockStealthDelegate.sol
  contracts/contracts/protocol/v1/mocks/MockStealthEthPuller.sol
  contracts/contracts/protocol/v1/mocks/MockStealthExecutor.sol
  contracts/contracts/protocol/v1/vault/EthEscrow.sol
  contracts/contracts/protocol/v1/vault/StealthDelegate.sol
  contracts/contracts/protocol/v1/vault/StealthEthPull.sol
  contracts/contracts/protocol/v1/vault/StealthExec.sol
  contracts/test/protocol/Vault.test.ts
  contracts/test/protocol/helpers/pantherPoolV0.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

docs(contracts): account doc
  contracts/contracts/protocol/v1/Account.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): panther bus tree doc
  contracts/contracts/protocol/v1/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): reentrancy guard
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): fee accountant doc
  contracts/contracts/protocol/v1/FeesAndChargesAccountant.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): pay master doc
  contracts/contracts/protocol/v1/PayMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): z account reg doc
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): add pool dec
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Refactor(contracts): ZAccountsRegistry
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/errMsgs/ZAccountsRegistryErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): optimize the contract
  contracts/contracts/common/crypto/BabyJubJub.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/errMsgs/ZAccountsRegistryErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): remove unused funcs
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
