Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

fix(contracts): static tree root
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add zTransactions unit test
  contracts/contracts/protocol/v1/mocks/MockZTransaction.sol
  contracts/test/protocol/core/ZTransaction.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): update public signals
  contracts/contracts/protocol/v1/core/publicSignals/MainPublicSignals.sol
  contracts/contracts/protocol/v1/core/publicSignals/ZSwapPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): update unit test for tokenType changes
  contracts/contracts/protocol/v1/core/libraries/PublicInputGuard.sol
  contracts/contracts/protocol/v1/mocks/MockZSwap.sol
  contracts/test/protocol/core/PrpConversion.test.ts
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/core/ZTransaction.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): static sub tree addresses
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): remove unused dep from paymaster
  contracts/contracts/protocol/v1/PayMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): fix internal transaction bug
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/test/protocol/core/ZTransaction.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): updated zAccId counter jump from 2 to 3
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): verifier test adopted
  contracts/contracts/protocol/v1/mocks/MockVerifier.sol
  contracts/test/protocol/Verifier.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): paymaster fix and test
  contracts/contracts/common/interfaces/IFeeMaster.sol
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMasterHelper.sol
  contracts/contracts/protocol/v1/mocks/MockFeeMaster.sol
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add missing imports to account.ts
  contracts/test/protocol/helpers/account.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): clean up the prp grantor tests
  contracts/contracts/protocol/v1/core/interfaces/IUtxoInserter.sol
  contracts/test/protocol/core/PrpVoucherController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): switch account unit test on
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/Account.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): rebalance reward reserve debts
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeDistributor.sol
  contracts/contracts/protocol/v1/feeMaster/Types.sol
  contracts/contracts/protocol/v1/mocks/MockBusQueues.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/BusTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/trees/interfaces/IMinersNetRewardReserves.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): update zacc id counter jump
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
  contracts/test/protocol/trees/BlacklistedZAccountIdRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): prp voucher controller
  contracts/contracts/protocol/v1/core/interfaces/IUtxoInserter.sol
  contracts/contracts/protocol/v1/mocks/MockPrpVoucherController.sol
  contracts/test/protocol/core/PrpVoucherController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): prp voucher controller
  contracts/contracts/protocol/v1/core/facets/PrpVoucherController.sol
  contracts/contracts/protocol/v1/core/facets/prpVoucherController/PrpVoucherHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): deleting shared file
  contracts/test/protocol/Account.test.ts
  contracts/test/protocol/UniswapPlugin.e2e.test.ts
  contracts/test/protocol/Vault.test.ts
  contracts/test/protocol/helpers/account.ts
  contracts/test/protocol/helpers/constants.ts
  contracts/test/protocol/helpers/vault.ts
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): account dev message update
  contracts/contracts/protocol/v1/Account.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): prp voucher controller
  contracts/test/protocol/core/PrpVoucherController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): del unused pub signal constants
  contracts/contracts/protocol/v1/trees/publicSignals/MainPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): fix pantherTree test case
  contracts/test/protocol/trees/TaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): delete unused test files
  contracts/contracts/protocol/v1/mocks/MockPrpVoucherController.sol
  contracts/test/protocol/PantherTaxiTree.test.ts
  contracts/test/protocol/ProvidersKeys.test.ts
  contracts/test/protocol/PrpConverter.test.ts
  contracts/test/protocol/core/PrpVoucherController.test.ts
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): v1 deployment scripts
  contracts/deploy/01-protocol/v1/00-logs.ts
  contracts/deploy/01-protocol/v1/98a-multicall.ts
  contracts/deploy/01-protocol/v1/98b-delegate-caller.ts
  contracts/deploy/01-protocol/v1/99z-add-prp-vouchers.ts
  contracts/test/protocol/PantherSataticTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): del old z acc registry tests
  contracts/test/protocol/ZAccountsRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): add storage gaps to tree facets
  contracts/contracts/protocol/v1/trees/facets/BlacklistedZAccountsIdsRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/ProvidersKeysRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
  contracts/contracts/protocol/v1/trees/facets/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/v1/trees/facets/ZNetworksRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/ZZonesRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): relocate static tree tests
  contracts/test/protocol/trees/SataticTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): mark public const as internal
  contracts/contracts/common/EIP712SignatureVerifier.sol
  contracts/contracts/protocol/v1/core/facets/AppConfiguration.sol
  contracts/contracts/protocol/v1/core/facets/FeeMasterTotalDebtController.sol
  contracts/contracts/protocol/v1/core/facets/PrpConversion.sol
  contracts/contracts/protocol/v1/core/facets/PrpVoucherController.sol
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/facets/prpConversion/ConversionHandler.sol
  contracts/contracts/protocol/v1/core/facets/zTransaction/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/core/storage/AppStorage.sol
  contracts/contracts/protocol/v1/core/utils/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/interfaces/IVerifier.sol
  contracts/contracts/protocol/v1/interfaces/IVerifyingKeyProvider.sol
  contracts/contracts/protocol/v1/mocks/MockPrpConversion.sol
  contracts/contracts/protocol/v1/mocks/MockZAccountsRegistration.sol
  contracts/contracts/protocol/v1/mocks/MockZSwap.sol
  contracts/contracts/protocol/v1/mocks/MockZTransaction.sol
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/BusTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/busTree/MiningRewardsSignatureVerifier.sol
  contracts/contracts/protocol/v1/trees/storage/AppStorage.sol
  contracts/contracts/protocol/v1/trees/utils/PantherPoolAuth.sol
  contracts/contracts/protocol/v1/verifier/Verifier.sol
  contracts/contracts/protocol/v1/verifier/VerifyingKeyProvider.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): update unit test
  contracts/contracts/protocol/v1/mocks/MockPrpConversion.sol
  contracts/contracts/protocol/v1/mocks/MockZAccountsRegistration.sol
  contracts/contracts/protocol/v1/mocks/MockZSwap.sol
  contracts/contracts/protocol/v1/mocks/MockZTransaction.sol
  contracts/lib/eip712SignatureGenerator.ts
  contracts/test/protocol/PantherSataticTree.test.ts
  contracts/test/protocol/core/PrpConversion.test.ts
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/core/ZTransaction.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): delete unused tests
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/PantherSataticTree.test.ts
  contracts/test/protocol/TrustProvidersKeys.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): fix verifier unit tests
  contracts/contracts/protocol/v1/mocks/MockVerifier.sol
  contracts/test/protocol/Verifier.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): removed padding for actual root
  contracts/test/protocol/trees/TaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): fix flashswap
  contracts/contracts/protocol/v1/DeFi/UniswapV3FlashSwap.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapV3Handler.sol
  contracts/contracts/protocol/v1/mocks/MockProtocolFeeSwapper.sol
  contracts/test/protocol/Flashswap.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add test cases for mining rewards
  contracts/contracts/protocol/v1/mocks/MockMiningRewards.sol
  contracts/test/protocol/trees/MiningRewards.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): fix uniswap price feed
  contracts/contracts/protocol/v1/DeFi/UniswapV3FlashSwap.sol
  contracts/contracts/protocol/v1/DeFi/UniswapV3PriceFeed.sol
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapV3Handler.sol
  contracts/contracts/protocol/v1/mocks/MockProtocolFeeSwapper.sol
  contracts/test/protocol/Flashswap.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): zkp reserve crtl contract
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/v1/AMMRefill.sol
  contracts/contracts/protocol/v1/ZkpReserveController.sol
  contracts/contracts/protocol/v1/errMsgs/ZkpReserveControllerErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add audit readme file
  contracts/contracts/README.v1-contracts.md
Due: prettier --write

feat(contracts): adding amm refill
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/v1/AMMRefill.sol
  contracts/contracts/protocol/v1/errMsgs/AMMRefillErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add bus queue tests
  contracts/contracts/protocol/v1/mocks/MockBusQueues.sol
  contracts/test/protocol/trees/BusQueue.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint
