Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

bump(contracts): update @solidity-coverage
  contracts/package.json
  yarn.lock
Due: prettier --write

feat(contracts): extend private msg validation
  contracts/contracts/protocol/errMsgs/TransactionNoteEmitterErrMsgs.sol
  contracts/contracts/protocol/mocks/MockTransactionNoteEmitter.sol
  contracts/contracts/protocol/pantherPool/TransactionNoteEmitter.sol
  contracts/test/protocol/TransactionNoteEmitter.test.ts
  contracts/test/protocol/data/samples/transactionNote.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(circuits): script for computation of static merkle root
  circuits/package.json
  circuits/test/api/staticTreeComputation.ts
Due: prettier --write

feat(dapp): Refine build process and remove outdated contracts
  .prettierignore
  contracts/package.json
  package.json
Due: prettier --write

feat(subgraph): Add 'from' field to all event entities
  subgraph/schema.graphql
  subgraph/src/handePoolContract.ts
  subgraph/src/handleBusTreeQueues.ts
  subgraph/src/handlePrpVoucherGrantor.ts
Due: prettier --write

fix(dapp): user wallet dialog updated
  yarn.lock
Due: prettier --write

refactor(dapp): illustrations optimization
  .prettierignore
Due: prettier --write

feat(crypto): add support for decoding tx note type 4
  crypto/src/panther/notes.ts
  crypto/src/types/note.ts
  crypto/tests/panther/notes.test.ts
Due: prettier --write

fix(circuits): clean up of data for proof generation
  circuits/test/api/proofGeneratorAMM.ts
  circuits/test/api/proofGeneratorDepositTx.ts
  circuits/test/api/proofGeneratorZAccountRegistration.ts
  circuits/test/api/proofGeneratorZAccountRenewal.ts
  circuits/test/api/staticTreeComputation.ts
Due: prettier --write

fix(contracts): non zero root counter
  contracts/contracts/protocol/errMsgs/CachedRootsErrMsgs.sol
  contracts/contracts/protocol/pantherForest/cachedRoots/CachedRoots.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(dapp): tailwindcss updated
  yarn.lock
Due: prettier --write

chore(dapp): unused packages removed
  yarn.lock
Due: prettier --write

feat(dapp): toast component
  yarn.lock
Due: prettier --write

fix(circuits): minor fix for data escrow elgamal encryption
  circuits/circuits/templates/dataEscrowElGamalEncryption.circom
Due: prettier --write

fix(circuits): computation in reward circom
  circuits/circuits/templates/rewardsExtended.circom
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
Due: prettier --write

fix(circuits): wasm, keys and test case updation after bug fixes
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
  circuits/test/DepositOnlyNonZeroInputWitnessGeneration.test.ts
  circuits/test/DepositOnlyZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorDepositTx.ts
Due: prettier --write

refactor(dapp): rename tests and scripts
  .prettierignore
Due: prettier --write

feat(dapp): generate deposit tx zk proof
  crypto/src/base/encryption.ts
  crypto/src/panther/escrow.ts
Due: prettier --write

feat(dapp): implement scanning for TXType4 notes in wallet engine
  crypto/src/panther/notes.ts
  crypto/src/types/note.ts
  crypto/tests/panther/notes.test.ts
Due: prettier --write

fix(circuits): changes for rewards and verify zaccount out utxo
  circuits/circuits/templates/rewardsExtended.circom
  circuits/circuits/zTransactionV1.circom
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
  circuits/test/DepositOnlyZeroInputWitnessGeneration.test.ts
  circuits/test/MainTxV1ExtendedZeroInputWitnessGeneration.test.ts
  circuits/test/RewardsExtended.test.ts
  circuits/test/api/proofGeneratorDepositTx.ts
Due: prettier --write

refactor(crypto): enhance message field validation and assertion
  crypto/src/panther/messages.ts
Due: prettier --write

feat(dapp): utxo select dialog
  yarn.lock
Due: prettier --write

refactor(contracts): StealthExec refactored
  contracts/contracts/protocol/mocks/MockStealthExecutor.sol
  contracts/contracts/protocol/vault/StealthExec.sol
  contracts/test/protocol/StealthExecutor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): StealthEthPull implemented
  contracts/contracts/protocol/mocks/MockStealthEthPuller.sol
  contracts/contracts/protocol/vault/StealthEthPull.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): StealthTransferHelper lib implemented
  contracts/contracts/common/PullWithSaltHelper.sol
  contracts/contracts/common/TransferHelper.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): MultiDelegatecall implemented
  contracts/contracts/common/MultiDelegatecall.sol
  contracts/contracts/common/Multicall.sol
  contracts/contracts/common/misc/RevertMsgGetter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): panther pool main func
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/errMsgs/PantherPoolV1ErrMsgs.sol
  contracts/contracts/protocol/interfaces/IBusTree.sol
  contracts/test/protocol/data/verificationKeys/VK_main.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): Vault upgraded to v1
  contracts/contracts/common/Constants.sol
  contracts/contracts/common/Types.sol
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/Vault.sol
  contracts/contracts/protocol/errMsgs/VaultErrMsgs.sol
  contracts/contracts/protocol/interfaces/IVault.sol
  contracts/contracts/protocol/mocks/FakeVault.sol
  contracts/test/protocol/Vault.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): EthEscrow implemented
  contracts/contracts/protocol/errMsgs/EthEscrowErrMsgs.sol
  contracts/contracts/protocol/interfaces/IEthEscrow.sol
  contracts/contracts/protocol/mocks/MockEthEscrow.sol
  contracts/contracts/protocol/vault/EthEscrow.sol
  contracts/test/protocol/EthEscrow.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): sanitize priv msg
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(circuits): testing internal transfer of zassets within pool
  circuits/circuits/templates/trustProvidersNoteInclusionProver.circom
  circuits/circuits/templates/zAssetChecker.circom
  circuits/circuits/zSwapV1.circom
  circuits/circuits/zTransactionV1.circom
  circuits/compiled/generate_witness.js
  circuits/compiled/zAccountRegistration/circuits.wasm
  circuits/compiled/zAccountRegistration/provingKey.zkey
  circuits/compiled/zAccountRegistration/verificationKey.json
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
  circuits/test/InternalZAssetTransferSplit.test.ts
  circuits/test/InternalZAssetTransferToSelf.test.ts
  circuits/test/api/proofGeneratorDepositTx.ts
  circuits/test/api/proofGeneratorInternalTx.ts
Due: prettier --write

feat(dapp): impl. withdraw/transfer from ui
  .prettierignore
  crypto/src/other/sparse-merkle-tree/bus-tree.ts
  crypto/tests/other/sparse-merkle-tree/bus-tree.test.ts
Due: prettier --write

fix(contracts): update dependency tags in deployment scripts
  contracts/deploy/01-protocol/08c-prpVoucherGrantor-proxy-and-impl.ts
  contracts/deploy/01-protocol/09-vault-impl.ts
  contracts/deploy/01-protocol/09a-vault-proxy-upgrade.ts
  contracts/deploy/01-protocol/11-bus-tree-impl.ts
  contracts/deploy/01-protocol/11a-bus-tree-proxy-upgrade.ts
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/13a-pantherPoolV1-proxy-upgrade.ts
  contracts/deploy/01-protocol/13b-pantherPoolV1-proxy-owner-change.ts
  contracts/deploy/01-protocol/17-onboarding-controller-proxy-and-imp.ts
  contracts/deploy/01-protocol/17a-update-onboarding-reward-params.ts
  contracts/deploy/01-protocol/17b-update-onboarding-voucher-terms.ts
  contracts/deploy/01-protocol/18-zAccountsRegistry-imp.ts
  contracts/deploy/01-protocol/18a-zAccountsRegistry-proxy-upgrade.ts
  contracts/deploy/01-protocol/18b-zAccountsRegistry-proxy-owner-change.ts
  contracts/deploy/01-protocol/20-static-tree-impl.ts
  contracts/deploy/01-protocol/20a-static-tree-proxy-upgrade.ts
  contracts/deploy/01-protocol/20b-static-tree-proxy-owner-change.ts
  contracts/deploy/01-protocol/21a-init-static-tree.ts
  contracts/deploy/01-protocol/21b-init-pantherPoolV1.ts
  contracts/deploy/01-protocol/22-bus-tree-proxy-owner-change.ts
  contracts/deploy/01-protocol/24-add-zaccounts-registration-vk-to-pool.ts
  contracts/deploy/01-protocol/24a-add-zaccounts-registration-vk-to-pool.ts
  contracts/deploy/01-protocol/24b-add-prp-accounting-vk-to-pool.ts
  contracts/deploy/01-protocol/24c-add-prp-account-conversion-vk-to-pool.ts
  contracts/deploy/01-protocol/24d-add-main-vk-to-pool.ts
  contracts/deploy/01-protocol/26-zaccounts-status-resolver.ts
  contracts/deploy/01-protocol/27-prp-converter-proxy-and-imp.ts
  contracts/deploy/01-protocol/27a-init-prp-converter.ts
  contracts/deploy/01-protocol/29-protocol-reward-crtl-proxy-and-imp.ts
  contracts/deploy/01-protocol/29a-update-pool-in-reward-controller.ts
  contracts/deploy/01-protocol/29b-whitelist-reward-sender.ts
  contracts/deploy/01-protocol/31-protocol-reward-msg-relayer.ts
  contracts/deploy/01-protocol/32-protocol-reward-sender-imp.ts
  contracts/deploy/01-protocol/32-protocol-reward-sender-proxy-upgrade.ts
  contracts/deploy/01-protocol/33-update-zkp-release-voucher-term.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add static trees
  contracts/contracts/protocol/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/ZNetworksRegistry.sol
  contracts/contracts/protocol/ZZonesRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update main vk
  contracts/test/protocol/data/verificationKeys/VK_main.json
Due: prettier --write

feat(contracts): add zkp charge arg
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): payable main func
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
