Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

fix(contracts) magicalConstraint made fn input
  contracts/contracts/protocol/crypto/SnarkConstants.sol
  contracts/contracts/protocol/errMsgs/BusTreeErrMsgs.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): update PrpVoucherGrantor
  contracts/contracts/protocol/PrpVoucherGrantor.sol
  contracts/test/protocol/PrpVoucherGrantor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): remove reserve controller from onboarding controller
  contracts/contracts/protocol/OnboardingController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(contracts): renaming & unused import removal in deploy scripts
  contracts/deploy/01-protocol/11a-bus-tree-proxy-upgrade.ts
  contracts/deploy/01-protocol/25a-convert-zkp-to-pzkp-token.ts
  contracts/deploy/01-protocol/25b-increase-vault-balance.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): fix the comment is bus tree
  contracts/contracts/protocol/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add `lastUtxoSimulationTimestamp`
  contracts/contracts/protocol/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add todo in bus tree
  contracts/contracts/protocol/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts) on-boarding bonus gets transferred
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts) events extended
  contracts/contracts/protocol/PrpVoucherGrantor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(contracts) unused import removed
  contracts/deploy/01-protocol/17a-update-onboarding-reward-params.ts
  contracts/deploy/01-protocol/17b-update-voucher-terms.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): Add SPDX license identifiers and copyright notices
  contracts/deploy/01-protocol/08c-prpVoucherGrantor-proxy-and-impl.ts
  contracts/deploy/01-protocol/10a-increase-vault-balance.ts
  contracts/deploy/01-protocol/11-bus-tree-impl.ts
  contracts/deploy/01-protocol/16-providers-keys.ts
  contracts/deploy/01-protocol/17a-update-onboarding-reward-params.ts
  contracts/deploy/01-protocol/17b-update-voucher-terms.ts
  contracts/deploy/01-protocol/20-static-tree-impl.ts
  contracts/test/protocol/PrpVoucherGrantor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts) extend `expiryTime` of vPool
  contracts/test/staking/rewardPool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(subgraph): Update Panther pool address
  subgraph/subgraph.yaml
Due: prettier --write

refactor(subgraph): Remove unused code from v0.5 and update data types
  subgraph/abis/AdvancedStakeRewardController.json
  subgraph/abis/PantherPoolV0.json
  subgraph/abis/PantherPoolV1.json
  subgraph/schema.graphql
  subgraph/src/handePoolContract.ts
  subgraph/src/handleAdvancedStakingRewards.ts
  subgraph/src/types/stakerReward.ts
  subgraph/src/types/triad.ts
  subgraph/src/utils/advancedStakingReward.ts
  subgraph/src/utils/constants.ts
  subgraph/src/utils/staker.ts
  subgraph/src/utils/triad.ts
  subgraph/subgraph.yaml
Due: prettier --write

chore(dapp): Tailwind migrations
  yarn.lock
Due: prettier --write

feat(contracts): add start time to bus tree
  contracts/contracts/protocol/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): remove utxo time from constructor
  contracts/contracts/protocol/PantherBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(dapp): apply stylelint fixes for the codebase
  .lintstagedrc.mjs
Due: prettier --write

chore(dapp): CSS refactoring
  .lintstagedrc.mjs
Due: prettier --write

feat(contracts): validate zkp change in activation
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/errMsgs/ZAccountsRegistryErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add `creationBlock` to account
  contracts/contracts/protocol/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(dapp): node-sass removed, sass updated
  yarn.lock
Due: prettier --write

chore(dapp): storybook update
  yarn.lock
Due: prettier --write

chore(dapp): cva and tailwind-merge added
  yarn.lock
Due: prettier --write

fix(dapp): yarn.lock updated after rebase
  yarn.lock
Due: prettier --write

fix(root): update yarn.lock to latest dependencies
  yarn.lock
Due: prettier --write

feat(root): add `install:clean` command
  package.json
Due: prettier --write

fix(crypto): Correct eslint configuration and update copyright text
  crypto/package.json
  crypto/src/base/witness-calculator.js
  crypto/tests/other/triad-merkle-tree/data/trees.js
  crypto/tests/utils/bigint-conversions.test.ts
Due: prettier --write

bump(dapp): update library versions and typings
  .lintstagedrc.mjs
  circuits/package.json
  contracts/.eslintrc.json
  contracts/.solhint.json
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/PantherFerryTree.sol
  contracts/lib/deploymentHelpers.ts
  contracts/package.json
  contracts/tasks/protocol/grant-issue.ts
  contracts/tasks/protocol/pool-time-update.ts
  contracts/tasks/staking/proposal-gen.ts
  contracts/tasks/staking/reward-params-update.ts
  contracts/tasks/staking/terms-update.ts
  contracts/tasks/staking/time-increase.ts
  contracts/test/protocol/PrpVoucherGrantor.test.ts
  contracts/test/protocol/ZAssetsRegistry.test.ts
  contracts/test/protocol/helpers/pantherPoolV0.ts
  contracts/test/staking/StakingMsgProcessor.test.ts
  contracts/test/staking/advancedStakeRewardController.test.ts
  contracts/test/staking/maticRewardPool.test.ts
  contracts/test/staking/rewardTreasury.test.ts
  contracts/test/staking/stakeRewardAdviser.test.ts
  contracts/test/staking/stakesReporter.test.ts
  contracts/test/staking/staking.test.ts
  crypto/package.json
  crypto/tests/panther/keys.test.ts
  package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(dapp): storybook correct styling addon
  yarn.lock
Due: prettier --write

feat(crypto): ZAccount Activation Transaction Note Decoder
  crypto/src/panther/notes.ts
  crypto/tests/panther/notes.test.ts
Due: prettier --write

fix(contracts): enforce stricter eslint rules for solidity contracts
  contracts/.solhint.json
  contracts/contracts/protocol/PrpVoucherGrantor.sol
  contracts/contracts/staking/MaticRewardPool.sol
  contracts/contracts/staking/RewardTreasury.sol
  contracts/contracts/staking/StakeRewardController2.sol
  contracts/contracts/staking/VotingPowerInformer.sol
  contracts/contracts/staking/ZkpFaucet.sol
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
  contracts/test/protocol/data/wasm/generate_witness.js
  contracts/test/protocol/data/wasm/witness_calculator.js
  contracts/testing/polygon-fix/test-polygon-fix.cli.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(dapp): network switch after tailwind update
  yarn.lock
Due: prettier --write

feat(subgraph): integrate PRPVoucherGrantor Event Scanning
  subgraph/abis/PRPVoucherGrantor.json
  subgraph/schema.graphql
  subgraph/src/handlePrpVoucherGrantor.ts
  subgraph/subgraph.yaml
Due: prettier --write

chore(dapp): tailwind prettier plugin add
  .prettierrc.json
  yarn.lock
Due: prettier --write

refactor(root): use rimraf to clean workspaces
  package.json
Due: prettier --write

feat(dapp): build bus tree from subgraph
  crypto/src/other/sparse-merkle-tree/constants.ts
  crypto/src/other/sparse-merkle-tree/index.ts
  crypto/tests/other/sparse-merkle-tree/sparse-merkle-tree.test.ts
Due: prettier --write
