Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @preZKP/api eslint, yarn workspace @preZKP/contracts lint:solhint, yarn workspace @preZKP/contracts lint:eslint, yarn workspace @preZKP/crypto lint:eslint, yarn workspace @preZKP/dapp lint:eslint

contracts: initial commit
  contracts/Staking.sol
  contracts/interfaces/IErc20Min.sol
  contracts/interfaces/IVotingPower.sol
  contracts/utils/Utils.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

docs added
  docs/zStaking.staking-rewards.puml
  docs/zStaking.vesting-and-bridging.puml
Due: prettier --write

dapp, crypto: bootstrap
  crypto/README.md
Due: prettier --write

✨ (DAO10.8.7): Func to get Tree ID and Triad Leaf ID
  src/index.ts
Due: prettier --write

Refactored crypto index
  src/index.ts
  src/utils.ts
  src/zkp.ts
Due: prettier --write

crypto: packToSolidityProof fixed
  src/zkp.ts
Due: prettier --write

dapp: fix a lot of broken stuff
  src/triad-merkle-tree/index.ts
  src/zkp.ts
Due: prettier --write

🚀 (DAO10.8.7): generation of the proof and signature in the browser
  src/triad-merkle-tree/index.ts
  src/zkp.ts
Due: prettier --write

🚚 (DAO10.8.7): zkp -> groth16
  src/groth16.ts
  src/index.ts
Due: prettier --write

✅ (DAO10.8.7): fxing tests
  src/groth16.ts
Due: prettier --write

♻️ (DAO10.8.7): refactoring Triad tree module strucutre
  src/groth16.ts
  src/triad-merkle-tree/__tests__/tree.test.ts
  src/triad-merkle-tree/__tests__/utils.test.ts
  src/triad-merkle-tree/index.ts
  src/triad-merkle-tree/scripts/build.ts
  src/triad-merkle-tree/tree.ts
  src/triad-merkle-tree/utils.ts
Due: prettier --write

✅ fixing tests
  src/index.ts
Due: prettier --write

more panic fixes
  src/groth16.ts
Due: prettier --write

✨ (minting): using tree from local storage
  src/triad-merkle-tree/tree.ts
Due: prettier --write

docs/Staking-and-rewarding.mmd WIP
  docs/Staking-and-rewarding.mmd
Due: prettier --write

staking compiled version
  contracts/.gitignore
  contracts/.prettierrc
  contracts/.solhint.json
  contracts/.solhintignore
  contracts/contracts/Staking.sol
  contracts/deploy/token.ts
  contracts/hardhat.config.ts
  contracts/interfaces/IErc20Min.sol
  contracts/interfaces/IVotingPower.sol
  contracts/package.json
  package.json
  yarn.lock
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint, yarn workspace @preZKP/contracts lint:eslint

crypto: simplifiy toBytes32() and extend to allow bigint inputs
  src/triad-merkle-tree/utils.ts
Due: prettier --write

♻️ (tree): cosmetic changes
  src/triad-merkle-tree/tree.ts
Due: prettier --write

dapp: fix use of minter contract address and chain ID
  src/groth16.ts
Due: prettier --write

✨ (dapp): downloading of the zkey and wasm file in advance
  src/groth16.ts
Due: prettier --write

docs/Staking-and-rewarding.mmd updated
  docs/Staking-and-rewarding.mmd
Due: prettier --write

contracts: RewardPool.sol drafted
  contracts/contracts/RewardPool.sol
  contracts/contracts/interfaces/IErc20Min.sol
  contracts/contracts/interfaces/IRewardPool.sol
  contracts/contracts/interfaces/IVestingPools.sol
  contracts/contracts/interfaces/IVotingPower.sol
  contracts/contracts/utils/DefaultOwnable.sol
  contracts/contracts/utils/Utils.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

contracts: IStakesRewards drafted
  contracts/contracts/Staking.sol
  contracts/contracts/interfaces/IStakesRewards.sol
  contracts/contracts/utils/Utils.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

Proof generation worker
  src/groth16.ts
Due: prettier --write

dapp: tidy up worker logging
  src/groth16.ts
Due: prettier --write

crypto: add logging to generateSignature()
  src/groth16.ts
Due: prettier --write

contracts: All contracts drafted (WIP)
  contracts/contracts/RewardMaster.sol
  contracts/contracts/RewardPool.sol
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/Staking.sol
  contracts/contracts/actions/RewardAdvisersList.sol
  contracts/contracts/actions/StakingMsgProcessor.sol
  contracts/contracts/interfaces/IActionMsgReceiver.sol
  contracts/contracts/interfaces/IRewardAdviser.sol
  contracts/contracts/interfaces/IRewardPool.sol
  contracts/contracts/interfaces/IStakesRewards.sol
  contracts/contracts/interfaces/IStakingTypes.sol
  contracts/contracts/interfaces/IVestingPools.sol
  contracts/contracts/interfaces/IVotingPower.sol
  contracts/contracts/utils/Claimable.sol
  contracts/contracts/utils/DefaultOwnable.sol
  contracts/contracts/utils/ImmutableOwnable.sol
  contracts/contracts/utils/NonReentrant.sol
  contracts/contracts/utils/Utils.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

contracts: Contract notes updated (WIP)
  contracts/contracts/RewardMaster.sol
  contracts/contracts/RewardPool.sol
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/Staking.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

Adding initial dapp web3 connector structure
  .lintstagedrc.yaml
  .prettierignore
  crypto/README.md
  package.json
Due: prettier --write

Adding initial dapp web3 connector structure
  yarn.lock
Due: prettier --write

yarn lock updates
  yarn.lock
Due: prettier --write

Add preliminary dev-guide.md
  docs/dev-guide.md
Due: prettier --write

contracts: compilation errors fixed (WIP)
  contracts/contracts/RewardMaster.sol
  contracts/contracts/RewardPool.sol
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/Staking.sol
  contracts/contracts/actions/RewardAdvisersList.sol
  contracts/contracts/actions/StakingMsgProcessor.sol
  contracts/contracts/interfaces/IActionMsgReceiver.sol
  contracts/contracts/interfaces/IErc20Min.sol
  contracts/contracts/interfaces/IRewardAdviser.sol
  contracts/contracts/interfaces/IStakingTypes.sol
  contracts/contracts/interfaces/IVotingPower.sol
  contracts/contracts/utils/Claimable.sol
  contracts/contracts/utils/NonReentrant.sol
  contracts/contracts/utils/Utils.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

yarn.lock updated after re-base
  yarn.lock
Due: prettier --write

resource-files and configs for hardhat and tools fixed and updated
  .gitignore
  .lintstagedrc.yaml
  .prettierignore
  contracts/.eslintignore
  contracts/.eslintrc.json
  contracts/.gitignore
  contracts/.prettierrc
  contracts/.solcover.js
  contracts/.solhint.json
  contracts/hardhat.config.ts
  contracts/package.json
  package.json
Due: prettier --write, yarn workspace @preZKP/contracts lint:eslint

contracts: functions added/redefined in Staking.sol
  contracts/contracts/Staking.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

contracts: typechain set to "target":"ethers-v5"
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @preZKP/contracts lint:eslint

contracts: inaccuracies in contracts/package.json fixed
  contracts/package.json
Due: prettier --write

Add some more stuff to dev-guide.md
  docs/dev-guide.md
Due: prettier --write

contracts: RewardMaster updated
  contracts/contracts/RewardMaster.sol
  contracts/contracts/actions/RewardAdvisersList.sol
  contracts/contracts/utils/Utils.sol
Due: prettier --write, yarn workspace @preZKP/contracts lint:solhint

Path conditions:
  prettier --write: any of: *
  yarn workspace @preZKP/api eslint: any of: api/**/*.{js,ts}
  yarn workspace @preZKP/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @preZKP/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @preZKP/crypto lint:eslint: any of: crypto/**/*.{js,ts}
  yarn workspace @preZKP/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
