Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

contracts: fix - tests
  contracts/test/masp/MerkleProofVerifier.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: fix - adding missing env variable to amplify scipt
  amplify.yml
Due: prettier --write

contracts:feat - zZkp-rewards rounding to 2nd digit after the decimal point
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/test/advanced-staking/advancedStakeRewardController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts:refactor - removed code in MT-verifier tests
  contracts/test/protocol/MerkleProofVerifier.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts:feat - scaled amount used in poseidon UTXO commitment changed to 64 bit
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/common/Constants.sol
  contracts/contracts/protocol/mocks/MockAmountConvertor.sol
  contracts/contracts/protocol/mocks/MockCommitmentGenerator.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV0.sol
  contracts/contracts/protocol/pantherPool/AmountConvertor.sol
  contracts/contracts/protocol/pantherPool/CommitmentGenerator.sol
  contracts/test/protocol/AmountConvertor.test.ts
  contracts/test/protocol/CommitmentGenerator.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  contracts/test/protocol/helpers/mockCommitmentGenerator.ts
  contracts/test/protocol/helpers/pantherPoolMockFactory.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

dapp: Implementation of logic for ability to do react tests
  yarn.lock
Due: prettier --write

dapp: feat fetching exit delay time from the Pool contract
  amplify.yml
Due: prettier --write

dapp: update moment.js library
  yarn.lock
Due: prettier --write

dapp: feat storybook support
  yarn.lock
Due: prettier --write

contracts:fix - minor refactoring, comments etc...
  contracts/contracts/protocol/pantherPool/CommitmentGenerator.sol
  contracts/test/advanced-staking/advancedStakeRewardController.test.ts
  contracts/test/protocol/AmountConvertor.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Add dev doc to setup advanced staking contracts
  contracts/staging/mumbai/advanced-staking/setup.sh
Due: prettier --write

contracts: improve `terms:add` task Without this patch, the default advanced staking params are invalid.
  contracts/tasks/advanced-staking/terms-add.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: move `isLocal()` utility function to seperate file
  contracts/deploy/protocol/00-check-params.ts
  contracts/lib/checkNetwork.ts
  contracts/lib/hardhat.ts
  contracts/tasks/protocol/exitTime-update.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: Clean up env file Without this patch, there is an unnecessary PANTHER_POOL variable in the .env file.
  contracts/.env.example
  contracts/deploy/advanced-staking/09-AdvancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

subgraph: Improve subgraph setup script Without this patch, the setup script tries to read the panther pool contract address from its local .env
  subgraph/abis/PantherPoolV0.json
  subgraph/setupSubgraph.ts
Due: prettier --write

contracts: define the order of deployment. Without this patch, the `staking` contracts are deployed before the `protocol` contracts.
  contracts/deploy/01-protocol/00-check-params.ts
  contracts/deploy/01-protocol/01-crypto-libs.ts
  contracts/deploy/01-protocol/02a-vault-proxy.ts
  contracts/deploy/01-protocol/02b-prpGrantor-proxy.ts
  contracts/deploy/01-protocol/02c-zAssetRegistry-proxy-and-impl.ts
  contracts/deploy/01-protocol/03-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/01-protocol/04a-vault-impl.ts
  contracts/deploy/01-protocol/04b-prpGrantor-impl.ts
  contracts/deploy/01-protocol/05a-vault-proxy-upgrade.ts
  contracts/deploy/01-protocol/05b-prpGrantor-proxy-upgrade.ts
  contracts/deploy/01-protocol/06a-vault-proxy-owner-change.ts
  contracts/deploy/01-protocol/06b-prpGrantor-proxy-owner-change.ts
  contracts/deploy/02-advanced-staking/00-ZkpFaucet.ts
  contracts/deploy/02-advanced-staking/01-RewardPool.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/03-Staking.ts
  contracts/deploy/02-advanced-staking/04-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/06-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/07-StakeReporter.ts
  contracts/deploy/02-advanced-staking/08-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/02-advanced-staking/13-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
  contracts/deploy/02-advanced-staking/resources.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add the protocol's tasks to hardhat Without this patch, hardhat cannot find the protocol's tasks.
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add pantherPool artifacts to git
  contracts/deployments/ARCHIVE/staging/mumbai/PantherPoolV0.json
  contracts/deployments/ARCHIVE/staging/mumbai/PantherPoolV0_Implementation.json
Due: prettier --write

contracts: add `protocol` tag to protocl deployment script Without this patch, there is no way to deploy only `protocol` contracts.
  contracts/deploy/protocol/01-crypto-libs.ts
  contracts/deploy/protocol/02a-vault-proxy.ts
  contracts/deploy/protocol/02b-prpGrantor-proxy.ts
  contracts/deploy/protocol/02c-zAssetRegistry-proxy-and-impl.ts
  contracts/deploy/protocol/03-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/protocol/04a-vault-impl.ts
  contracts/deploy/protocol/04b-prpGrantor-impl.ts
  contracts/deploy/protocol/05a-vault-proxy-upgrade.ts
  contracts/deploy/protocol/05b-prpGrantor-proxy-upgrade.ts
  contracts/deploy/protocol/06a-vault-proxy-owner-change.ts
  contracts/deploy/protocol/06b-prpGrantor-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: fix hot reload
  yarn.lock
Due: prettier --write

subgraph: update the event schema Without this patch, the subgraph tries to read PRP amount from `RewardGenerated` event
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeRewardController.json
  subgraph/schema.graphql
  subgraph/src/handleAdvancedStakingRewards.ts
  subgraph/src/types/stakerReward.ts
  subgraph/src/utils/advancedStakingReward.ts
  subgraph/subgraph.template.yaml
Due: prettier --write

circom:feat+test - PRP nonce & noteHasherPacked test
  circuits/circuits/mainTransaction_v1.circom
  circuits/circuits/templates/noteHasher.circom
  circuits/circuits/templates/publicInputHasher.circom
  circuits/circuits/templates/rNoteHasher.circom
  circuits/circuits/transaction_v1.circom
  circuits/test/NoteHasherPacked.test.js
  circuits/test/circuits/noteHasherPacked.circom
Due: prettier --write

contracts: add a task to test bridge on forked network Without this patch, there is no easy way to test the bridge on a forked network.
  contracts/hardhat.config.ts
  contracts/tasks/advanced-staking/staking-bridge-local.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: feat APY as env variables
  amplify.yml
Due: prettier --write

dapp: feat update dotenv sync script to use new APY env vars
  amplify.yml
Due: prettier --write

dapp: amplify fix of the incorrect variable names
  amplify.yml
Due: prettier --write

contracts:fix - cipher-text-type-1 msg should be 2x32 bytes - Shared-Key, Random
  contracts/contracts/advanced-staking/mocks/MockAdvancedStakingDataDecoder.sol
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/mocks/PantherPoolV0AndZAssetRegistryAndVaultTester.sol
  contracts/contracts/protocol/mocks/PantherPoolV0AndZAssetRegistryTester.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts:fix - gen-deposits integration test + AES-128-CBC
  contracts/lib/staking.ts
  contracts/tasks/advanced-staking/reward-params-update.ts
  contracts/test/advanced-staking/advancedStakeRewardController.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  contracts/test/protocol/data/depositAndFakeExitSample.ts
  contracts/test/protocol/data/triadTreeSample.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts:fix - advanced-stake-reward-controller tests
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/test/advanced-staking/advancedStakeRewardController.test.ts
  contracts/test/advanced-staking/advancedStakingDataDecoder.test.ts
  contracts/test/advanced-staking/assets/advancesStakingData.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts:refactor - constrants to be used by AdvancedStakeRewardController
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: fix hardhat tasks
  contracts/lib/staking.ts
  contracts/tasks/advanced-staking/reward-params-update.ts
  contracts/tasks/advanced-staking/rewards-limit-add.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts:fix - PRP comments removed - PantherPool
  contracts/contracts/protocol/PantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts:fix - integration tests
  contracts/lib/message-encryption.ts
  contracts/test/advanced-staking/advancedStakeRewardController.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  contracts/test/protocol/helpers/pantherPoolV0.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: update deployment scripts Without this patch, the `AdvancedStakeRewardController` and `PantherPoolV0` deployment scripts are not compatible with the new version of contracts.
  contracts/deploy/01-protocol/03-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts:fix - AUDIT LOW-5.3.1 - disable exit prior exitTime is inited
  contracts/contracts/protocol/PantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

doc: fix deployment doc
  contracts/staging/mumbai/advanced-staking/setup.sh
Due: prettier --write

contracts:feat - remore PRP commitment for advanced-staking
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/actions/AdvancedStakingDataDecoder.sol
  contracts/contracts/advanced-staking/common/Constants.sol
  contracts/contracts/advanced-staking/common/Types.sol
  contracts/contracts/advanced-staking/interfaces/IPantherPoolV0.sol
  contracts/contracts/advanced-staking/mocks/FakePantherPoolV0.sol
  contracts/contracts/advanced-staking/mocks/MockAdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/mocks/MockAdvancedStakingDataDecoder.sol
  contracts/contracts/common/Claimable.sol
  contracts/contracts/common/Constants.sol
  contracts/contracts/common/ImmutableOwnable.sol
  contracts/contracts/common/NonReentrant.sol
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/common/Types.sol
  contracts/contracts/common/Utils.sol
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/PrpGrantor.sol
  contracts/contracts/protocol/Vault.sol
  contracts/contracts/protocol/ZAssetsRegistry.sol
  contracts/contracts/protocol/common/TransferHelper.sol
  contracts/contracts/protocol/crypto/BabyJubJub.sol
  contracts/contracts/protocol/crypto/ElGamal.sol
  contracts/contracts/protocol/interfaces/IVault.sol
  contracts/contracts/protocol/interfaces/IZAssetsRegistry.sol
  contracts/contracts/protocol/mocks/FakeVault.sol
  contracts/contracts/protocol/mocks/MockPantherPoolV0.sol
  contracts/contracts/protocol/mocks/MockPubKeyGenerator.sol
  contracts/contracts/protocol/mocks/PantherPoolV0AndZAssetRegistryAndVaultTester.sol
  contracts/contracts/protocol/mocks/PantherPoolV0AndZAssetRegistryTester.sol
  contracts/contracts/protocol/pantherPool/AmountConvertor.sol
  contracts/contracts/protocol/pantherPool/CommitmentsTrees.sol
  contracts/contracts/protocol/pantherPool/PubKeyGenerator.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts:refactor - utils merged to common
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/MaticRewardPool.sol
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/RewardPool.sol
  contracts/contracts/advanced-staking/RewardTreasury.sol
  contracts/contracts/advanced-staking/StakeRewardAdviser.sol
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/advanced-staking/Staking.sol
  contracts/contracts/advanced-staking/ZkpFaucet.sol
  contracts/contracts/advanced-staking/mocks/MockClaimable.sol
  contracts/contracts/advanced-staking/utils/Claimable.sol
  contracts/contracts/advanced-staking/utils/ImmutableOwnable.sol
  contracts/contracts/advanced-staking/utils/NonReentrant.sol
  contracts/contracts/advanced-staking/utils/Utils.sol
  contracts/contracts/common/Claimable.sol
  contracts/test/advanced-staking/claimable.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
