Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

contracts: fix: FakePantherPoolV0 timestamp check
  contracts/contracts/mocks/FakePantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: minor clarification of comments AdvancedStakeRewardController.sol
  contracts/contracts/AdvancedStakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: constants moved to actions/Constants.sol
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/StakeZeroRewardAdviser.sol
  contracts/contracts/actions/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: FakePantherPoolV0 updated
  contracts/contracts/mocks/FakePantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: StakeZeroRewardAdviser renamed and refactored
  contracts/contracts/StakeZeroRewardAdviser.sol
  contracts/contracts/ZeroRewardAdviser.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: AdvancedStakingDataDecoder.sol (w/ tests) implemented
  contracts/contracts/actions/AdvancedStakingDataDecoder.sol
  contracts/contracts/mocks/MockAdvancedStakingDataDecoder.sol
  contracts/test/advancedStakingDataDecoder.test.ts
  contracts/test/assets/advancesStakingData.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: (common) types and constant declared in `common`
  contracts/contracts/actions/AdvancedStakingDataDecoder.sol
  contracts/contracts/common/Constants.sol
  contracts/contracts/common/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: AdvancedStakeRewardController.sol implemented
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/interfaces/IERC721Receiver.sol
  contracts/contracts/interfaces/INftGrantor.sol
  contracts/contracts/interfaces/IPantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: fix: Vault gets approved as spender in AdvancedStakeRewardController
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/interfaces/IPantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: AdvancedStakeRewardController minor refactoring
  contracts/contracts/AdvancedStakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: fix: reward calc bug in AdvancedStakeRewardController
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/mocks/MockAdvancedStakeRewardController.sol
  contracts/test/advancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix: approval for the Pool added to AdvancedStakeRewardController
  contracts/contracts/AdvancedStakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: `yarn console` updated
  contracts/package.json
Due: prettier --write

contracts: `chainId` for `hardhat` network maid configurable
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: AdvancedStakeRewardController: START_BLOCK added, RewardGenerated extended
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/interfaces/IPantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: IFxMessageProcessor and IStateSender moved to separate files
  contracts/contracts/AdvancedStakeActionMsgRelayer.sol
  contracts/contracts/AdvancedStakeRewardAdviserAndMsgSender.sol
  contracts/contracts/interfaces/IFxMessageProcessor.sol
  contracts/contracts/interfaces/IStateSender.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: comments in AdvancedStakeActionMsgRelayer clarified
  contracts/contracts/AdvancedStakeActionMsgRelayer.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: `yarn clean` defined
  contracts/package.json
Due: prettier --write

contracts: comments clarified in PantherPoolV0
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
Due: prettier --write

contracts: constant PRP_VIRTUAL_CONTRACT defined
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
  panther-protocol-contracts-ws/contracts/common/Constants.sol
  panther-protocol-contracts-ws/contracts/pantherPool/PrpGrantor.sol
Due: prettier --write

contracts: some functions in PrpGrantor made `private`
  panther-protocol-contracts-ws/contracts/pantherPool/PrpGrantor.sol
Due: prettier --write

contracts: constant PRP_VIRTUAL_CONTRACT used
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/common/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contract: fix: bug in PrpGrantor::getUnusedGrant fixed
  panther-protocol-contracts-ws/contracts/pantherPool/PrpGrantor.sol
Due: prettier --write

contracts: tests for PrpGrantor (drafted)
  panther-protocol-contracts-ws/contracts/mocks/MockPrpGrantor.sol
  panther-protocol-contracts-ws/test/PrpGrantor.test.ts
Due: prettier --write

contracts: Unused contracts removed
  panther-protocol-contracts-ws/contracts/Registry.sol
  panther-protocol-contracts-ws/contracts/interfaces/IVerifier.sol
  panther-protocol-contracts-ws/contracts/verifier/Verifier.sol
Due: prettier --write

Renamed TOKEN_ADDRESS in panther-core repository
  contracts/.env.example
  contracts/deploy/00-ZkpFaucet.ts
  contracts/deploy/01-RewardPool.ts
  contracts/deploy/02-RewardMaster.ts
  contracts/deploy/03-Staking.ts
  contracts/deploy/05-StakeRewardController.ts
  contracts/deploy/06-RewardTreasury.ts
  contracts/deploy/08-StakeRewardController2.ts
  contracts/testing/polygon-fix/test-polygon-fix.cli.js
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: Natspec doc extended in PantherPoolV0
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
Due: prettier --write

contracts: PantherPoolV0::_processDepositedAsset refactored
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
Due: prettier --write

skip deployment of classic staking contracts
  contracts/deploy/05-StakeRewardController.ts
  contracts/deploy/07-StakeReporter.ts
  contracts/deploy/08-StakeRewardController2.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Add a script for deploying AdvancedStakingDataDecoder
  contracts/.env.example
  contracts/deploy/09-AdvancedStakeRewardController.ts
  contracts/package.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

rename all mentions of zkp-staking to panther-core
  contracts/staging/rinkeby/setup.sh
  contracts/testing/setup-local.sh
  docs/dev-guide.md
Due: prettier --write

Modify the `adviser:add` to add adviser for either classic or advanced staking.
  contracts/lib/staking.ts
  contracts/tasks/reward-adviser-add.ts
  contracts/testing/polygon-fix/test-polygon-fix.cli.js
  contracts/testing/polygon-fix/unstaking-scenario-module.js
  package.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Add advanced staking artifacts Without this patch, artifacts of advanced staking contracts won't exist.
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeRewardController.json
  contracts/deployments/ARCHIVE/staging/mumbai/RewardMaster.json
  contracts/deployments/ARCHIVE/staging/mumbai/Staking.json
Due: prettier --write

feat: add test 3
  circuits/test/inclusionProverTest.circom
  circuits/test/inclusionProverTest.info
  circuits/test/inclusionProverTest_3.json
  circuits/test/run_all_tests.sh
  circuits/test/run_test.sh
Due: prettier --write

circuits: trailing spaces removed and misprints in comments corrected
  circuits/prover-efficient.circom
  circuits/templates/noteInclusionProver.circom
  circuits/templates/publicInputHasher.circom
  circuits/templates/rewardLeafDecoder.circom
  circuits/templates/rewards.circom
  circuits/templates/utxoLeafDecoder.circom
  circuits/templates/weightLeafDecoder.circom
  circuits/test/inclusionProverTest.circom
  circuits/test/inclusionProverTest.json
  circuits/test/inclusionProverTest_2.circom
  circuits/test/inclusionProverTest_2.json
  circuits/test/inclusionProverTest_3.json
  circuits/test/noteHasherTest.circom
  circuits/test/run_all_tests.sh
  circuits/test/run_test.sh
  circuits/transaction.circom
Due: prettier --write

circuits: comments clarified (minor updates)
  circuits/prover-efficient.circom
  circuits/templates/noteInclusionProver.circom
Due: prettier --write

circuits: path to circom made env var in run_test.sh
  circuits/test/run_test.sh
Due: prettier --write

contracts: minor fix in PantherPoolV0.test.ts
  panther-protocol-contracts-ws/test/PantherPoolV0.test.ts
Due: prettier --write

contracts: more mocks added
  panther-protocol-contracts-ws/contracts/mocks/MockCommitmentGenerator.sol
  panther-protocol-contracts-ws/contracts/mocks/MockPantherPoolV0.sol
  panther-protocol-contracts-ws/contracts/mocks/MockPubKeyGenerator.sol
  panther-protocol-contracts-ws/test/helpers/mockCommitmentGenerator.ts
Due: prettier --write

contracts: tests for CommitmentGenerator and PubKeyGenerator
  panther-protocol-contracts-ws/test/CommitmentGenerator.test.ts
  panther-protocol-contracts-ws/test/PubKeyGenerator.test.ts
Due: prettier --write
