Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

chore(contracts): update deploy scripts
  contracts/deploy/01-protocol/v1/09h-core-zaccount-renewal-facet.ts
  contracts/deploy/01-protocol/v1/10h1-core-add-zaccount-renewal-facet.ts
  contracts/deploy/01-protocol/v1/parameters.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add zAccount Renewal unit test
  contracts/contracts/protocol/v1/core/facets/ZAccountsRenewal.sol
  contracts/contracts/protocol/v1/mocks/MockZAccountsRenewal.sol
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
  contracts/test/protocol/core/zAccountsRenewal.test.ts
  contracts/test/protocol/data/samples/transactionNote.data.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): mark view functions as view
  contracts/contracts/protocol/v1/Account.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/v1/mocks/MockPoolAddress.sol
  contracts/contracts/protocol/v1/mocks/MockStaticRootGetter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update verification keys
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRenewal.json
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write

feat(contracts): add zAccount renewal facet
  contracts/contracts/protocol/v1/core/facets/ZAccountsRenewal.sol
  contracts/contracts/protocol/v1/core/libraries/UtxosInserter.sol
  contracts/contracts/protocol/v1/core/publicSignals/ZAccountRenewalPublicSignals.sol
  contracts/contracts/protocol/v1/core/storage/Constants.sol
  contracts/contracts/protocol/v1/core/storage/ZAccountsRenewalStorageGap.sol
  contracts/contracts/protocol/v1/core/utils/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/core/utils/TransactionNoteEmitter.sol
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): fix key allocation
  contracts/contracts/protocol/v1/trees/facets/ProvidersKeysRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): RequiredPrefund validation
  contracts/contracts/protocol/v1/PayMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update verification keys
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
  contracts/test/protocol/data/verificationKeys/VK_prpConversion.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRenewal.json
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write

deploy(contracts): add zAssets deploy script
  contracts/deploy/01-protocol/v1/16c-trees-add-zassets.ts
  contracts/lib/staticTree/zAssetsRegistry.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): update hardhat config
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): modify ZSwap and Main test
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/core/ZTransaction.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): add updated verification keys
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write

fix(contracts): add reentrancy guards
  contracts/contracts/protocol/v1/core/facets/PrpConversion.sol
  contracts/contracts/protocol/v1/core/facets/PrpVoucherController.sol
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
  contracts/contracts/protocol/v1/core/facets/ZAccountsRenewal.sol
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/diamond/libraries/LibDiamond.sol
  contracts/contracts/protocol/v1/diamond/utils/SelfReentrant.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): public signals
  contracts/contracts/protocol/v1/core/errMsgs/ZSwapErrMsgs.sol
  contracts/contracts/protocol/v1/core/errMsgs/ZTransactionErrMsgs.sol
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/publicSignals/MainPublicSignals.sol
  contracts/contracts/protocol/v1/core/publicSignals/ZSwapPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): refactor static tree config
  contracts/deploy/01-protocol/v1/16c-trees-add-zassets.ts
  contracts/lib/staticTree/getStaticTreeRoot.ts
  contracts/lib/staticTree/staticTreeConfig.ts
  contracts/lib/staticTree/zAssetsRegistry.ts
  contracts/lib/staticTree/zNetworksRegistry.ts
  contracts/lib/token.ts
  contracts/test/protocol/PayMaster.test.ts
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): add zacc renewal selector
  contracts/deploy/01-protocol/v1/08-account.ts
  contracts/deploy/01-protocol/v1/96a-paymaster-imp.ts
  contracts/deploy/01-protocol/v1/parameters.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): multicall
  contracts/contracts/common/Multicall.sol
  contracts/contracts/protocol/v1/mocks/MockStealthDelegate.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): modify test for paymaster
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): prepare canary parameters
  contracts/deploy/01-protocol/v1/99z-add-prp-vouchers.ts
  contracts/deploy/01-protocol/v1/parameters.ts
  contracts/hardhat.config.ts
  contracts/lib/diamond.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): delete polygon artifacts
  contracts/deployments/polygon/.chainId
Due: prettier --write

chore(contracts): delete poseidons from git
  contracts/deployments/polygon/PoseidonT3.json
  contracts/deployments/polygon/PoseidonT4.json
Due: prettier --write

chore(contracts): update deployment scripts
  contracts/deploy/01-protocol/v1/01b-verification-keys.ts
  contracts/deploy/01-protocol/v1/07-fee-master-proxy-and-imp.ts
  contracts/deploy/01-protocol/v1/11a-core-circuit-ids.ts
  contracts/deploy/01-protocol/v1/96e-paymaster-bundler-config.ts
  contracts/deploy/01-protocol/v1/96f-paymaster-whitelist-bundlers.ts
  contracts/deploy/01-protocol/v1/96g-update-paymaster-proxy-owner.ts
  contracts/deploy/01-protocol/v1/98-multicall.ts
  contracts/deploy/01-protocol/v1/98b-delegate-caller.ts
  contracts/deploy/01-protocol/v1/parameters.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): fix the polygon addresses
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): paymaster verification
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/contracts/protocol/v1/errMsgs/PayMasterErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): update Polygon zAsset params
  contracts/lib/staticTree/zAssetsRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): ZkpReserveController
  contracts/contracts/protocol/v1/ZkpReserveController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update deploy scripts
  contracts/deploy/01-protocol/v1/09g-core-ztransaction-facet.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): pack token type and address
  contracts/lib/pluginData.ts
  contracts/lib/tokenTypeAndAddress.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): validate internal kyt
  contracts/contracts/protocol/v1/core/errMsgs/ZSwapErrMsgs.sol
  contracts/contracts/protocol/v1/core/errMsgs/ZTransactionErrMsgs.sol
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/facets/zTransaction/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/core/publicSignals/MainPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update verification keys
  contracts/test/protocol/data/verificationKeys/VK_pantherBusTreeUpdater.json
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
  contracts/test/protocol/data/verificationKeys/VK_prpConversion.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRenewal.json
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write

feat(contracts): transferOwnership for diamond
  contracts/contracts/protocol/v1/diamond/Diamond.sol
  contracts/contracts/protocol/v1/diamond/libraries/LibDiamond.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update package versions
  contracts/package.json
  yarn.lock
Due: prettier --write

refactor(contracts): add kyt hash to bus tree
  contracts/contracts/protocol/v1/core/facets/zTransaction/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/core/libraries/UtxosInserter.sol
  contracts/test/protocol/core/ZTransaction.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): add new VKs
  contracts/test/protocol/data/verificationKeys/VK_pantherBusTreeUpdater.json
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
  contracts/test/protocol/data/verificationKeys/VK_prpConversion.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRegistration.json
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRenewal.json
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
  contracts/test/protocol/data/verificationKeys/VK_ztransaction.json
Due: prettier --write

test(contracts): quickswap and uniswap plugins
  contracts/test/protocol/QuickSwapRouterPlugin.test.ts
  contracts/test/protocol/UniswapV3RouterPlugin.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): update utxo num for z-transaction
  contracts/contracts/protocol/v1/core/libraries/UtxosInserter.sol
  contracts/contracts/protocol/v1/core/utils/TransactionChargesHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add VaultV0WithClaim
  contracts/contracts/protocol/v0/VaultV0WithClaim.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): delete repeated `storage` script
  contracts/package.json
Due: prettier --write

fix(contracts): quoteExactInput
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
  contracts/hardhat.config.ts
  contracts/tasks/protocol/uniswap-router-plugin-swap.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
