Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

feat: Add 3 x poseidon(3) + poseidon(3) - for polygon
  circuits/templates/publicInputHasher.circom
Due: prettier --write

feat: Added packaging comments - Still use SHA256
  circuits/transaction.circom
Due: prettier --write

feat: Tests for adv-staking, all cryptography primitives used - TODO: system-test with verifier
  circuits/test/babyPbkTest.circom
  circuits/test/babyPbkTest.json
  circuits/test/babyPbkTest.keys
  circuits/test/inclusionProverTest.circom
  circuits/test/inclusionProverTest.info
  circuits/test/inclusionProverTest.json
  circuits/test/noteHasherTest.circom
  circuits/test/noteHasherTest.json
  circuits/test/noteHasherTest_2.json
  circuits/test/run_all_tests.sh
  circuits/test/run_test.sh
Due: prettier --write

contracts: indexes in PantherPoolV0::generateDeposits fixed
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
Due: prettier --write

contracts: declared constants and error messages applied in ZAssetsRegistry.sol
  panther-protocol-contracts-ws/contracts/common/ErrorMsgs.sol
  panther-protocol-contracts-ws/contracts/pantherPool/ZAssetsRegistry.sol
Due: prettier --write

feat: Add inclusion proof test for Tree-Depth=15 as in Solidity
  circuits/test/inclusionProverTest_2.circom
  circuits/test/inclusionProverTest_2.json
  circuits/test/run_all_tests.sh
Due: prettier --write

contracts: BUGFIX StakeRewardController2.sol drafted
  contracts/contracts/StakeRewardController2.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: StakeRewardController2.sol - constructor fixed
  contracts/contracts/StakeRewardController2.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: unstakeBugTestHelpers.js added
  contracts/testing/unstake-mainnet-fix/unstakeBugTestHelpers.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add hardhat-deploy script for StakeRewardController2
  contracts/deploy/08-StakeRewardController2.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Add function to test every unclaimed stakes on forked mainnet.
  contracts/testing/unstake-mainnet-fix/unclaimed-stakes-rewards-mainnet.json
  contracts/testing/unstake-mainnet-fix/unstakeBugTestHelpers.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: timelock in StakeRewardController2.sol::rescueErc20
  contracts/contracts/StakeRewardController2.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: more helper-functions in unstakeBugTestHelpers.js
  contracts/testing/unstake-mainnet-fix/unstakeBugTestHelpers.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: 08-StakeRewardController2.ts updated
  contracts/deploy/08-StakeRewardController2.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: StakeRewardController2.sol deployed
  contracts/deployments/mainnet/.chainId
  contracts/deployments/mainnet/StakeRewardController2.json
  contracts/deployments/mainnet/solcInputs/9441d307950f241abadb711a0e8af782.json
Due: prettier --write

contracts: unstakeBugTestHelpers.js updated with StakeRewardController2 deployed
  contracts/testing/unstake-mainnet-fix/unstakeBugTestHelpers.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: move new artifacts to correct ARCHIVE location
  contracts/deployments/ARCHIVE/production/mainnet/StakeRewardController2.json
  contracts/deployments/ARCHIVE/production/mainnet/solcInputs/9441d307950f241abadb711a0e8af782.json
  contracts/deployments/mainnet/.chainId
Due: prettier --write

examples of env variables for forking in hardhat local network
  contracts/.env.example
Due: prettier --write

deleting redundant env.matic-fork.example file
  contracts/.env.example
  contracts/.env.matic-fork.example
Due: prettier --write

add .yarn/ to .prettierignore in preparation for yarn v3
  .prettierignore
Due: prettier --write

contracts: fix ensureMinBalance()
  contracts/lib/hardhat.ts
  contracts/testing/polygon-fix/unstaking-scenario-module.js
  contracts/testing/unstake-mainnet-fix/unstakeBugTestHelpers.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: fix dispatch of redux-thunk masking errors
  yarn.lock
Due: prettier --write

contracts: ZAssetsRegistry::getZAssetAndId fixed
  panther-protocol-contracts-ws/contracts/pantherPool/ZAssetsRegistry.sol
Due: prettier --write

contracts: PantherPoolV0 minor improvements
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
Due: prettier --write

contracts: Vault.sol minor improvements
  panther-protocol-contracts-ws/contracts/Vault.sol
  panther-protocol-contracts-ws/contracts/Vault/OnERC1155Received.sol
  panther-protocol-contracts-ws/contracts/common/ErrorMsgs.sol
  panther-protocol-contracts-ws/contracts/common/TransferHelper.sol
  panther-protocol-contracts-ws/contracts/mocks/IMockTokens.sol
  panther-protocol-contracts-ws/contracts/vault/OnERC1155Received.sol
  panther-protocol-contracts-ws/contracts/vault/OnERC721Received.sol
Due: prettier --write

contracts: add unit tests for zAsset registery
  panther-protocol-contracts-ws/contracts/mocks/MockZAssetsRegistry.sol
  panther-protocol-contracts-ws/test/ZAssetsRegistry.test.ts
Due: prettier --write

contracts: ZeroRewardAdviser.sol added
  contracts/contracts/ZeroRewardAdviser.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: ZAssetsRegistry.sol refactored
  panther-protocol-contracts-ws/contracts/pantherPool/ZAssetsRegistry.sol
Due: prettier --write

contracts: common/Constants and Types tuned
  panther-protocol-contracts-ws/contracts/common/Constants.sol
  panther-protocol-contracts-ws/contracts/common/Types.sol
Due: prettier --write

contracts: ZAssetsRegistry.test.ts refactored
  panther-protocol-contracts-ws/contracts/interfaces/IZAssetsRegistry.sol
  panther-protocol-contracts-ws/test/ZAssetsRegistry.test.ts
  panther-protocol-contracts-ws/test/data/zAssetsSample.ts
Due: prettier --write

add AWS amplify.yml
  amplify.yml
Due: prettier --write

ZKP Faucet contract has been added Without this patch, we do not have a faucet contract.
  contracts/contracts/ZkpFaucet.sol
  contracts/deploy/00-ZkpFaucet.ts
  contracts/deployments/ARCHIVE/staging/mumbai/ZkpFaucet.json
  contracts/test/zkpFaucet.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix: refactor code placement
  panther-protocol-contracts-ws/lib/message-encryption.ts
  panther-protocol-contracts-ws/test/PantherPoolV0.test.ts
Due: prettier --write

fix: minors + naming + comments
  panther-protocol-contracts-ws/contracts/mocks/MockMerkleProofVerifier.sol
  panther-protocol-contracts-ws/contracts/mocks/MockPantherPoolV0.sol
  panther-protocol-contracts-ws/contracts/pantherPool/v0/MerkleProofVerifier.sol
  panther-protocol-contracts-ws/test/MerkleProofVerifier.test.ts
  panther-protocol-contracts-ws/test/PantherPoolV0.test.ts
Due: prettier --write

feat: Tests for pub-key generation - first interation - still dirty
  panther-protocol-contracts-ws/contracts/common/ErrorMsgs.sol
  panther-protocol-contracts-ws/contracts/crypto/BabyJubJub.sol
  panther-protocol-contracts-ws/contracts/crypto/SnarkConstants.sol
  panther-protocol-contracts-ws/contracts/mocks/MockTriadIncrementalMerkleTrees.sol
  panther-protocol-contracts-ws/contracts/pantherPool/v0/MerkleProofVerifier.sol
  panther-protocol-contracts-ws/contracts/pantherPool/v0/PubKeyGenerator.sol
  panther-protocol-contracts-ws/test/MerkleProofVerifier.test.ts
  panther-protocol-contracts-ws/test/helpers/mockTriadTrees.ts
Due: prettier --write

feat: ciphered-text flow added to tests, still no solidity part
  panther-protocol-contracts-ws/lib/message-encryption.ts
  panther-protocol-contracts-ws/test/MerkleProofVerifier.test.ts
Due: prettier --write

feat: cryptography classes + fixes ...
  panther-protocol-contracts-ws/lib/keychain.ts
  panther-protocol-contracts-ws/lib/message-encryption.ts
  panther-protocol-contracts-ws/test/MerkleProofVerifier.test.ts
  panther-protocol-contracts-ws/test/PantherPoolV0.test.ts
Due: prettier --write

fix: exit fn works
  panther-protocol-contracts-ws/contracts/mocks/MockPantherPoolV0.sol
  panther-protocol-contracts-ws/test/PantherPoolV0.test.ts
Due: prettier --write

feat: Comments & TODOs
  panther-protocol-contracts-ws/test/PantherPoolV0.test.ts
Due: prettier --write

feat: commitment get improvements + merkle-proof verifier - dirty-not-tested
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
  panther-protocol-contracts-ws/contracts/common/ErrorMsgs.sol
  panther-protocol-contracts-ws/contracts/pantherPool/CommitmentGenerator.sol
  panther-protocol-contracts-ws/contracts/pantherPool/v0/MerkleProofVerifier.sol
  panther-protocol-contracts-ws/contracts/triadTree/TriadIncrementalMerkleTrees.sol
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
