Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

fix(contracts): validate voucher limit
  contracts/contracts/protocol/v1/core/facets/prpVoucherController/PrpVoucherHandler.sol
  contracts/test/protocol/core/PrpVoucherController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): incorrect fee accounting
  contracts/contracts/protocol/v1/DeFi/UniswapV3PriceFeed.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): account ZKP reserve changes
  contracts/contracts/protocol/v1/core/errMsgs/PrpConverterErrMsgs.sol
  contracts/contracts/protocol/v1/core/facets/PrpConversion.sol
  contracts/contracts/protocol/v1/core/facets/prpConversion/ConversionHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): fix reentrancy via transfer eth
  contracts/contracts/protocol/v1/VaultV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): imprecise fee value extraction
  contracts/contracts/protocol/v1/plugins/PluginDataDecoderLib.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): update fee master unit tests
  contracts/test/protocol/FeeMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): update prp conversion tests
  contracts/contracts/protocol/v1/mocks/MockPrpConversion.sol
  contracts/test/protocol/core/PrpConversion.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): update static tree config script
  contracts/lib/staticTree/zAssetsRegistry.ts
  contracts/lib/staticTree/zNetworksRegistry.ts
  contracts/lib/staticTree/zZonesRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): add condition for issuing PRPs
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/mocks/MockProtocolFeeSwapper.sol
  contracts/test/protocol/FeeMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): add non reentrant for z swap
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): remove rescueErc20
  contracts/contracts/protocol/v1/core/facets/PrpConversion.sol
  contracts/contracts/protocol/v1/core/facets/prpConversion/ConversionHandler.sol
  contracts/contracts/protocol/v1/mocks/MockPrpConversion.sol
  contracts/test/protocol/core/PrpConversion.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): zAssets config file for canary
  contracts/lib/staticTree/staticTreeConfig.ts
  contracts/lib/staticTree/zAssetsRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): RingBufferRootCache test
  contracts/test/protocol/trees/CachedRoots.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): zasset encoding utils
  contracts/contracts/protocol/v1/trees/facets/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/v1/trees/libraries/ZAssetEncodingUtils.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): add script to compute static root
  contracts/lib/staticTree/getStaticTreeRoot.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): add comprehensive input checks
  contracts/contracts/common/Bytecode.sol
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/core/facets/AppConfiguration.sol
  contracts/contracts/protocol/v1/trees/facets/ForestTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/taxiTree/RingBufferTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): update zNetwork and zZone script
  contracts/deploy/01-protocol/v1/16c-trees-add-znetworks.ts
  contracts/deploy/01-protocol/v1/16e-trees-add-zzones.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): use oz ECDSA lib
  contracts/contracts/common/ECDSA.sol
  contracts/contracts/common/EIP712SignatureVerifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update transaction reward values in zNetworks
  contracts/lib/staticTree/zNetworksRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): update internal addresses
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): handle zero prp reward
  contracts/contracts/protocol/v1/core/facets/prpVoucherController/PrpVoucherHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): fix _accountDebtForPaymaster()
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): updated zAssetsRegistry script
  contracts/lib/staticTree/zAssetsRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): uniswapV3 pool plugin
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3PoolPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): scale check for ERC721 assets
  contracts/contracts/protocol/v1/trees/facets/ZAssetsRegistryV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): getQuoteAmount
  contracts/contracts/protocol/v1/DeFi/UniswapV3PriceFeed.sol
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/feeMaster/Types.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapPoolsList.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapV3Handler.sol
  contracts/test/protocol/FeeMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add FeeMasterTotalDebtController unit test
  contracts/contracts/protocol/v1/mocks/MockFeeMasterTotalDebtController.sol
  contracts/test/protocol/core/FeeMasterTotalDebtController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): add validations
  contracts/contracts/protocol/v1/FeeMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): revert direct ETH transfers
  contracts/contracts/protocol/v1/VaultV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): skip disallowed z account ids
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): update deployment scripts
  contracts/deploy/01-protocol/v1/01b-verification-keys.ts
  contracts/deploy/01-protocol/v1/07i-add-uniswap-v3-pools.ts
  contracts/deploy/01-protocol/v1/11a-core-circuit-ids.ts
  contracts/deploy/01-protocol/v1/11b-core-max-blocktime-offset.ts
  contracts/deploy/01-protocol/v1/16c-trees-add-znetworks.ts
  contracts/deploy/01-protocol/v1/16d0-trees-add-keyring.ts
  contracts/deploy/01-protocol/v1/16e-trees-add-zzones.ts
  contracts/lib/staticTree/getStaticTreeRoot.ts
  contracts/test/protocol/data/verificationKeys/VK_zAccountsRenewal.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): prevent precision loss in zkpCrtl
  contracts/contracts/protocol/v1/ZkpReserveController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): zAccount registration
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): update providerkey expiry time
  contracts/test/protocol/trees/ProvidersKeyRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): ensure numAllocKeys is valid
  contracts/contracts/protocol/v1/trees/facets/ProvidersKeysRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): uniswap V3 handler
  contracts/contracts/protocol/v1/feeMaster/UniswapV3Handler.sol
  contracts/contracts/protocol/v1/mocks/MockFeeMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): update keyring allocation logic
  contracts/contracts/protocol/v1/trees/facets/ProvidersKeysRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add app config unit test
  contracts/contracts/protocol/v1/mocks/MockAppConfiguration.sol
  contracts/test/protocol/core/AppConfiguration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): update staticTree Root config
  contracts/lib/staticTree/getStaticTreeRoot.ts
  contracts/lib/staticTree/providersKeys.ts
  contracts/lib/staticTree/staticTreeConfig.ts
  contracts/lib/staticTree/zNetworksRegistry.ts
  contracts/lib/staticTree/zZonesRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): enhance paymaster security
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/contracts/protocol/v1/errMsgs/PayMasterErrMsgs.sol
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint
