Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

test(contracts): unswap plugin test
  contracts/test/protocol/UniswapPlugin.e2e.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): hardhat allowUnlimitedContractSize
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): add view keyword to vault function
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/protocol/v1/VaultV1.sol
  contracts/contracts/protocol/v1/interfaces/IVaultV1.sol
  contracts/contracts/protocol/v1/mocks/FakeVault.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add new main vk file
  contracts/test/protocol/data/verificationKeys/VK_main.json
Due: prettier --write

feat(contracts): interfaces to check with parent branches
  contracts/contracts/protocol/v1/interfaces/IWETH9.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): fix tx note emitter tests
  contracts/contracts/protocol/v1/mocks/MockTransactionNoteEmitter.sol
  contracts/test/protocol/data/samples/transactionNote.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add lib to calculat sqrt price
  contracts/lib/encodePriceSqrt.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): account fees for zswap tx type
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/pantherPool/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): prepare pool to handle z swap
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/Types.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ExecPluginPublicSignals.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ZSwapPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): optimize panther pool
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/errMsgs/PantherPoolV1ErrMsgs.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

bump(contracts): aa dep to yarn lock
  yarn.lock
Due: prettier --write

feat(contracts): uniswap interfaces
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IQuoterV2.sol
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IUniswapV3Factory.sol
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IUniswapV3Pool.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): fetch token decimals
  contracts/deploy/01-protocol/common/common.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): uniswap router plugin
  contracts/contracts/protocol/v1/plugins/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): swap info type
  contracts/contracts/protocol/v1/DeFi/uniswap/Types.sol
  contracts/contracts/protocol/v1/DeFi/uniswap/libraries/SafeCast.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): etherscan-utils
  contracts/deploy/01-protocol/common/etherscan-utils.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): mocked uniswap deploy
  contracts/deploy/01-protocol/39a-link-token-proxy.ts
  contracts/deploy/01-protocol/39b-link-token-impl.ts
  contracts/deploy/01-protocol/39c-link-token-upgrade.ts
  contracts/deploy/01-protocol/39d-link-token-mint.ts
  contracts/deploy/01-protocol/42a-univ3-factory.ts
  contracts/deploy/01-protocol/43b-uniV3-create-pairs.ts
  contracts/deploy/01-protocol/44a-univ3-router-proxy.ts
  contracts/deploy/01-protocol/44b-univ3-router-impl.ts
  contracts/deploy/01-protocol/44c-univ3-router-proxy-upgrade.ts
  contracts/deploy/01-protocol/45a-univ3-quoter-proxy.ts
  contracts/deploy/01-protocol/45a-univ3-quoterr-impl.ts
  contracts/deploy/01-protocol/45c-univ3-quoter-proxy-upgrade.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): config amoy and sepolia
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): init uniswap moked factory
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): mocked uniswap pool
  contracts/test/protocol/MockUniswapV3Pool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): init mocked pairs
  contracts/deploy/01-protocol/common/pairs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): delete func that return infos
  contracts/contracts/protocol/v1/plugins/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): mock uniswap contracts
  contracts/contracts/protocol/v1/mocks/MockCallbackValidation.sol
  contracts/contracts/protocol/v1/mocks/MockPoolAddress.sol
  contracts/contracts/protocol/v1/mocks/MockQuoterV2.sol
  contracts/contracts/protocol/v1/mocks/MockUniSwapV3Router.sol
  contracts/contracts/protocol/v1/mocks/MockUniswapV3Factory.sol
  contracts/contracts/protocol/v1/mocks/MockUniswapV3Pool.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): uniswap pool plugin
  contracts/contracts/protocol/v1/plugins/UniswapV3PoolPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add uniswap addresses
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): update hardhat config
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): move attempt verify func
  contracts/deploy/01-protocol/42a-univ3-factory.ts
  contracts/deploy/01-protocol/common/etherscan-utils.ts
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): fix deployment tags
  contracts/deploy/01-protocol/10f-define-verification-keys-for-zSwap-transaction.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): add z swap vk file
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
Due: prettier --write

refactor(contracts): pool deployment param
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add router deployment script
  contracts/deploy/01-protocol/46-uniswap-router-plugin.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): handle native swap
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/plugins/Types.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): update uniswap router plugin
  contracts/contracts/common/PluginCaller.sol
  contracts/contracts/common/PluginExecutor.sol
  contracts/contracts/common/Types.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/interfaces/IPlugin.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ZSwapPublicSignals.sol
  contracts/contracts/protocol/v1/plugins/PluginLib.sol
  contracts/contracts/protocol/v1/plugins/Types.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3Plugin.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): uniswap router plugin
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): swap func for old circuit
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): quote for all fees
  contracts/contracts/protocol/v1/plugins/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix deployment script
  contracts/deploy/01-protocol/43b-uniV3-create-pairs.ts
  contracts/deploy/01-protocol/44b-univ3-router-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): accounting fee for main tx
  contracts/contracts/protocol/v1/FeeMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): skip the failed unit tests
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/PantherPoolV1.test.ts
  contracts/test/protocol/PayMaster.test.ts
  contracts/test/protocol/UniswapPlugin.e2e.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): read sqrt price from pool
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IQuoterV2.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
