Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

contracts: explain how to view coverage report
  docs/dev-guide.md
Due: prettier --write

Add .gitlab-ci.yml file for linting and tests
  .gitlab-ci.yml
Due: prettier --write

ci: use node:14 image and reuse cache config YAML
  .gitlab-ci.yml
  .prettierignore
Due: prettier --write

ci: include node_modules/ directories in cache
  .gitlab-ci.yml
Due: prettier --write

document how to create a vesting pool and release tokens from it
  docs/dev-guide.md
Due: prettier --write

fix: fix the `require()` conditios in `_addRewardAdviser`
  contracts/contracts/actions/RewardAdvisersList.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix: update `lastBalance` in `_triggerVesting()`
  contracts/contracts/RewardMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test: add unit tests for onAction
  contracts/test/rewardMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix: change `_getRewardEntitled()`
  contracts/contracts/RewardMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test: add more unit tests for creating share using `onAction()`
  contracts/test/rewardMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore: include `types` folder in tsconfig
  contracts/tsconfig.json
Due: prettier --write

chore: modify the tsconfig
  contracts/tsconfig.json
Due: prettier --write

chore: add compile script to ci
  .gitlab-ci.yml
  contracts/tsconfig.json
Due: prettier --write

🚧 StakeRewardAdviser depl script & AdviserAdd task
  contracts/deploy/04-StakeRewardAdviser.ts
  contracts/hardhat.config.ts
  contracts/tasks/reward-adviser-add.ts
  contracts/tasks/task-names.ts
  contracts/tasks/terms-add.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix typo
  contracts/test/rewardMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Fix the wording in the contract
  contracts/contracts/actions/StakingMsgProcessor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

UI updates
  docs/dev-guide.md
  yarn.lock
Due: prettier --write

Fixed action type formatting before creating adviser
  contracts/tasks/reward-adviser-add.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: _unpackStakingActionMsg implemented
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/actions/StakingMsgProcessor.sol
  contracts/contracts/mocks/MockStakingMsgProcessor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: tests for StakingMsgProcessor
  contracts/contracts/mocks/MockStakingMsgProcessor.sol
  contracts/test/StakingMsgProcessor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: refactor classic staking action hash calculation
  contracts/lib/hash.ts
  contracts/tasks/reward-adviser-add.ts
  contracts/test/StakingMsgProcessor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

make prettier ignore *.puml and plantuml.skin
  .prettierignore
Due: prettier --write

add blank lines for visual clarity
  contracts/contracts/RewardMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix a few minor grammatical issues
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/Staking.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

rename advisor.adviceReward() to .getRewardAdvice()
  contracts/contracts/RewardMaster.sol
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/interfaces/IRewardAdviser.sol
  contracts/test/rewardMaster.test.ts
  docs/classic-staking.puml
  docs/contracts.svg
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

improve classic-staking diagram
  docs/classic-staking.png
  docs/classic-staking.puml
  docs/plantuml.skin
Due: prettier --write

document how to set up staking contracts
  docs/dev-guide.md
Due: prettier --write

rename 'advisor' to 'adviser' for consistency
  contracts/test/rewardMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add rewardpool:init hardhat task and corresponding docs
  contracts/hardhat.config.ts
  contracts/tasks/reward-pool-init.ts
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: bug in RewardMaster._getRewardEntitled fixed
  contracts/contracts/RewardMaster.sol
  contracts/test/rewardMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

🔧 (staking): adding waffle configuration files
  contracts/package.json
  contracts/waffle.json
Due: prettier --write

contracts: unit tests for Staking contract
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: use waffle for revert expectations for consistency
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix test dependencies
  contracts/hardhat.config.ts
  contracts/package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

remove unneeded await from staking tests
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Add TokenMock contract
  contracts/contracts/mocks/TokenMock.sol
  contracts/package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: remove dependency on @openzeppelin/test-helpers
  contracts/package.json
  contracts/test/helpers/hardhatHelpers.ts
  contracts/test/staking.test.ts
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

rafactor `rewardMaster.test.ts`
  contracts/test/rewardMaster.test.ts
  contracts/test/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test: unit tests for `StakeRewardAdviser.sol`
  contracts/test/stakeRewardAdviser.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test: add test case to get FACTOR from StakeRewardAdviser contract
  contracts/test/stakeRewardAdviser.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
