Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

Set NFT rewards limit value by the owner
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/interfaces/IPrpGrantor.sol
  contracts/contracts/mocks/TokenMock.sol
  contracts/test/advancedStakeRewardController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

dapp: obtain the remaining PRP rewards using PrpGrantor
  amplify.yml
Due: prettier --write

contracts: AdvancedStakeRewardController refactored, tests extended
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/mocks/FakePrpGrantor.sol
  contracts/contracts/mocks/MockAdvancedStakeRewardController.sol
  contracts/test/advancedStakeRewardController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

dapp: add ZAssetsRegistry contract to fetch zAssetsId in MASP v0.5
  amplify.yml
Due: prettier --write

dapp: add goerli testnetwork
  amplify.yml
Due: prettier --write

fix: typo in amplify.yaml
  amplify.yml
Due: prettier --write

dapp: PrpGrantor to request unused PRP grant on any network
  amplify.yml
Due: prettier --write

dapp: extract sumBigNumbers() into @crypto workspace
  contracts/tasks/unstaked-rewards.ts
  contracts/test/staking.scenario.test.ts
  crypto/src/numbers.ts
  crypto/tests/numbers.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Revise "build:types" in package.json
  package.json
Due: prettier --write

dapp: add faucet on Goerli
  amplify.yml
Due: prettier --write

fix: lint before building graph in gitlab CI
  .gitlab-ci.yml
Due: prettier --write

crypto: generate Merkle Tree based on commitments from NewCommitments events
  crypto/scripts/build-commitments-tree.ts
  crypto/src/triad-merkle-tree/__tests__/data/commitmentsLog-test-data.json
  crypto/src/triad-merkle-tree/__tests__/tree.test.ts
  crypto/src/triad-merkle-tree/__tests__/utils.test.ts
  crypto/src/triad-merkle-tree/index.ts
  crypto/src/triad-merkle-tree/scripts/build.ts
  crypto/src/triad-merkle-tree/utils.ts
  docs/advanced-staking-build-commitment-tree.md
Due: prettier --write

contracts: download NewCommitments events from PantherPool contract
  contracts/hardhat.config.ts
  contracts/tasks/commitments-list.ts
  crypto/src/types/commitments.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor by extracting type commitment into @panther-core/crypto
  .gitlab-ci.yml
  crypto/tsconfig.json
Due: prettier --write

dapp: refactor paginator
  contracts/tasks/commitments-list.ts
  contracts/tasks/staking-list.ts
  contracts/tasks/vesting-list.ts
  crypto/src/paginator.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto: removing CONSTANTS from triad-merkle-tree package
  crypto/src/triad-merkle-tree/__tests__/tree.test.ts
  crypto/src/triad-merkle-tree/__tests__/utils.test.ts
  crypto/src/triad-merkle-tree/constants.ts
  crypto/src/triad-merkle-tree/utils.ts
Due: prettier --write

contracts: advanced staking reward params made mutable (refactoring)
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/mocks/MockAdvancedStakeRewardController.sol
  contracts/test/advancedStakeRewardController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contract: make rewarding times/APYs mutable
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/mocks/MockAdvancedStakeRewardController.sol
  contracts/test/advancedStakeRewardController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: dependencies from dapp package (fn sumBigNumbers) removed
  contracts/tasks/unstaked-rewards.ts
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: check if the user is blocked
  amplify.yml
Due: prettier --write

dapp: ADVANCED_STAKING_EARLY_REDEMPTION->ADVANCED_STAKING_T_REDEMPTION
  amplify.yml
Due: prettier --write

contracts: Modify `adviser:add` task Without this patch, there will be some situations that have not been covered by the task:
  contracts/lib/staking.ts
  contracts/tasks/reward-adviser-add.ts
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: Add a task for updating reward params Without this patch, there is no task to update the reward parameters of advanced stake program.
  contracts/hardhat.config.ts
  contracts/lib/staking.ts
  contracts/tasks/reward-params-update.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix `AdvancedStakeRewardController` deployment script
  contracts/.env.example
  contracts/deploy/09-AdvancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contract: add new artifacts
  contracts/deployments/ARCHIVE/staging/goerli/AdvancedStakeRewardAdviserAndMsgSender.json
  contracts/deployments/ARCHIVE/staging/goerli/RewardMaster.json
  contracts/deployments/ARCHIVE/staging/goerli/RewardPool.json
  contracts/deployments/ARCHIVE/staging/goerli/RewardTreasury.json
  contracts/deployments/ARCHIVE/staging/goerli/StakeRewardAdviser.json
  contracts/deployments/ARCHIVE/staging/goerli/Staking.json
  contracts/deployments/ARCHIVE/staging/goerli/ZkpFaucet.json
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeActionMsgRelayer_Implementation.json
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeActionMsgRelayer_Proxy.json
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeRewardController.json
  contracts/deployments/ARCHIVE/staging/mumbai/ZkpFaucet.json
Due: prettier --write

contracts: updating the address of controller Without this patch, the controller address is not the address that we are using on the Mumbai network.
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeRewardController.json
Due: prettier --write

contracts: fix the typing issue in hardhat task
  contracts/tasks/terms-add-advanced-local.ts
  contracts/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix solhint Cannot read property 'errorCount' of undefined
  contracts/package.json
  yarn.lock
Due: prettier --write

contracts: fix solhint not ignoring .solhintignore specified files
  .lintstagedrc.mjs
Due: prettier --write

feat: eslintignore added
  circuits/.eslintignore
Due: prettier --write

fix: remove circuits/.prettierignore
  circuits/.prettierignore
Due: prettier --write

contracts: add deployment script for Bridge
  .prettierignore
  contracts/.env.example
  contracts/.eslintignore
  contracts/.solhintignore
  contracts/contracts/common/proxy/EIP173Proxy.sol
  contracts/contracts/common/proxy/LICENSE
  contracts/contracts/common/proxy/Proxy.sol
  contracts/contracts/common/proxy/README.md
  contracts/deploy/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/13-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
  contracts/hardhat.config.ts
  contracts/lib/hardhat.ts
  contracts/resources.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: resources.json moved to .deploy/ folder
  contracts/deploy/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/13-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
  contracts/deploy/resources.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix StakeZeroRewardAdviser::getRewardAdvice and IFxStateSender::sendMessageToChild bugs
  contracts/contracts/AdvancedStakeRewardAdviserAndMsgSender.sol
  contracts/contracts/StakeZeroRewardAdviser.sol
  contracts/contracts/interfaces/IFxStateSender.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: solhint failure on checking Proxy.sol fixed
  .prettierignore
  contracts/.solhintignore
  contracts/contracts/common/proxy/Proxy.sol
  contracts/package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: commit bb51c07d (dd. 2022-08-05) partially reverted
  contracts/tasks/terms-add-advanced-local.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: unused `function isLocal` in lib/hardhat.ts removed
  contracts/lib/hardhat.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: `yarn lint` fixed
  contracts/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
