Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

contracts: add Hyphens instead of cammleCase format for tags
  contracts/deploy/02-advanced-staking/00-ZkpFaucet.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/03-Staking.ts
  contracts/deploy/02-advanced-staking/04-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/06-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/07-StakeReporter.ts
  contracts/deploy/02-advanced-staking/08-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: avoid redeploying if contract is in env
  contracts/.env.example
  contracts/deploy/02-advanced-staking/00-ZkpFaucet.ts
  contracts/deploy/02-advanced-staking/01-RewardPool.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/03-Staking.ts
  contracts/deploy/02-advanced-staking/04-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/06-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/07-StakeReporter.ts
  contracts/deploy/02-advanced-staking/08-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/lib/checkNetwork.ts
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: use helper function to verify network Without this patch, the network name is checkhed in the deployment scripts in an dirty way.
  contracts/deploy/02-advanced-staking/01-RewardPool.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/02-advanced-staking/13-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: checking adv staking params
  contracts/.env.example
  contracts/deploy/02-advanced-staking/00-ZkpFaucet.ts
  contracts/deploy/02-advanced-staking/00-check-params.ts
  contracts/deploy/02-advanced-staking/01-RewardPool.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/03-Staking.ts
  contracts/deploy/02-advanced-staking/04-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/06-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/07-StakeReporter.ts
  contracts/deploy/02-advanced-staking/08-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/02-advanced-staking/13-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
  contracts/deploy/02-advanced-staking/resources.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: verify signer when deploy to production
  contracts/deploy/02-advanced-staking/00-ZkpFaucet.ts
  contracts/deploy/02-advanced-staking/01-RewardPool.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/03-Staking.ts
  contracts/deploy/02-advanced-staking/04-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/06-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/07-StakeReporter.ts
  contracts/deploy/02-advanced-staking/08-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/lib/deploymentHelpers.ts
  contracts/package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Contracts: fix the order of deployment scripts Without this patch, there are two deployment script with`00` prefix: `00-check-params.ts` and `00-ZkpFaucet.ts` scripts
  contracts/deploy/02-advanced-staking/01-ZkpFaucet.ts
  contracts/deploy/02-advanced-staking/02-RewardPool.ts
  contracts/deploy/02-advanced-staking/03-RewardMaster.ts
  contracts/deploy/02-advanced-staking/04-Staking.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/06-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/07-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/08-StakeReporter.ts
  contracts/deploy/02-advanced-staking/09-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeRewardController.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/13-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/02-advanced-staking/14-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: verify signer when deploy to production Issue-URL: https://app.clickup.com/t/33zbjte
  contracts/deploy/01-protocol/01-crypto-libs.ts
  contracts/deploy/01-protocol/02a-vault-proxy.ts
  contracts/deploy/01-protocol/02b-prpGrantor-proxy.ts
  contracts/deploy/01-protocol/02c-zAssetRegistry-proxy-and-impl.ts
  contracts/deploy/01-protocol/03-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/01-protocol/04a-vault-impl.ts
  contracts/deploy/01-protocol/04b-prpGrantor-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: remove `DEPLOY_CLASSIC_STAKING` env
  contracts/deploy/02-advanced-staking/06-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/08-StakeReporter.ts
  contracts/deploy/02-advanced-staking/09-StakeRewardController2.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: delete `protocol` tag from prp deployment script This is a problem because the protocol contracts do not use the `PrpGrantor` contract anymore.
  contracts/deploy/01-protocol/02b-prpGrantor-proxy.ts
  contracts/deploy/01-protocol/04b-prpGrantor-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: remove `PoseidonT6` deployment
  contracts/.env.example
  contracts/deploy/01-protocol/01-crypto-libs.ts
  contracts/deploy/01-protocol/03-pantherPoolV0-proxy-and-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix linting issues
  contracts/deploy/01-protocol/01-crypto-libs.ts
  contracts/deploy/02-advanced-staking/00-check-params.ts
  contracts/deploy/02-advanced-staking/02-RewardPool.ts
  contracts/deploy/02-advanced-staking/03-RewardMaster.ts
  contracts/deploy/02-advanced-staking/10-AdvancedStakeRewardController.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/13-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts:fix - zAssetRegistry:getZAssetAndIds attack prevention
  contracts/contracts/protocol/ZAssetsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

WIP: slither run on entire project (not on isolated files)
  contracts/contracts/advanced-staking/AdvancedStakeActionMsgRelayer.sol
  contracts/contracts/advanced-staking/AdvancedStakeRewardAdviserAndMsgSender.sol
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/RewardPool.sol
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/advanced-staking/StakeZeroRewardAdviser.sol
  contracts/contracts/advanced-staking/Staking.sol
  contracts/contracts/advanced-staking/actions/AdvancedStakingBridgedDataCoder.sol
  contracts/contracts/advanced-staking/actions/RewardAdvisersList.sol
  contracts/contracts/advanced-staking/actions/StakingMsgProcessor.sol
  contracts/contracts/common/Claimable.sol
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/common/Utils.sol
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/Vault.sol
  contracts/contracts/protocol/ZAssetsRegistry.sol
  contracts/contracts/protocol/crypto/BabyJubJub.sol
  contracts/contracts/protocol/pantherPool/AmountConvertor.sol
  contracts/contracts/protocol/pantherPool/CommitmentGenerator.sol
  contracts/contracts/protocol/pantherPool/CommitmentsTrees.sol
  contracts/contracts/protocol/pantherPool/MerkleProofVerifier.sol
  contracts/contracts/protocol/pantherPool/NullifierGenerator.sol
  contracts/contracts/protocol/pantherPool/PubKeyGenerator.sol
  contracts/contracts/protocol/triadTree/Hasher.sol
  contracts/contracts/protocol/triadTree/TriadIncrementalMerkleTrees.sol
  contracts/contracts/protocol/triadTree/TriadMerkleZeros.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: protection against calls to non-existing contracts by TransferHelper
  contracts/contracts/common/TransferHelper.sol
  contracts/test/advanced-staking/claimable.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

WIP: more slither false positive issues silenced
  contracts/contracts/advanced-staking/AdvancedStakeActionMsgRelayer.sol
  contracts/contracts/advanced-staking/AdvancedStakeRewardAdviserAndMsgSender.sol
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/MaticRewardPool.sol
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/RewardPool.sol
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/advanced-staking/StakeRewardController2.sol
  contracts/contracts/advanced-staking/Staking.sol
  contracts/contracts/advanced-staking/VotingPowerInformer.sol
  contracts/contracts/advanced-staking/ZkpFaucet.sol
  contracts/contracts/advanced-staking/actions/AdvancedStakingDataDecoder.sol
  contracts/contracts/advanced-staking/actions/StakingMsgProcessor.sol
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/Vault.sol
  contracts/contracts/protocol/crypto/BabyJubJub.sol
  contracts/contracts/protocol/pantherPool/MerkleProofVerifier.sol
  contracts/contracts/protocol/triadTree/TriadIncrementalMerkleTrees.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

WIP: more slither false positive issues silenced
  contracts/contracts/advanced-staking/StakesReporter.sol
  contracts/contracts/advanced-staking/Staking.sol
  contracts/contracts/protocol/PrpGrantor.sol
  contracts/contracts/protocol/pantherPool/CommitmentGenerator.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: Events added to ZkpFaucet
  contracts/contracts/advanced-staking/ZkpFaucet.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

WIP: more slither false positive issues silenced
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/advanced-staking/StakesReporter.sol
  contracts/contracts/protocol/PantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts:feat - yarn slither:install & yarn slither:check commands
  .prettierignore
  contracts/package.json
  contracts/scripts/slither.patch
  contracts/scripts/slither_check.sh
  contracts/scripts/slither_install.sh
Due: prettier --write

contracts:fix - slither-install script - fresh install option add
  contracts/scripts/slither_install.sh
Due: prettier --write

crypto: refactor Merkle tree
  crypto/src/other/triad-merkle-tree/constants.ts
  crypto/src/other/triad-merkle-tree/index.ts
  crypto/src/other/triad-merkle-tree/tree.ts
  crypto/src/other/triad-merkle-tree/utils.ts
  crypto/tests/other/triad-merkle-tree/utils.test.ts
Due: prettier --write

dapp: feat build MerkleTree in the browser
  amplify.yml
Due: prettier --write

contracts:staking: notes on prod bugs added
  contracts/contracts/advanced-staking/MaticRewardPool.sol
  contracts/contracts/advanced-staking/RewardPool.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: comments in ZAssetRegistry.sol clarified
  contracts/contracts/protocol/ZAssetsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts:fix - slither timestamp false positive
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/MaticRewardPool.sol
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/RewardPool.sol
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/advanced-staking/StakeRewardController2.sol
  contracts/contracts/advanced-staking/Staking.sol
  contracts/contracts/common/Utils.sol
  contracts/contracts/protocol/PantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

graph: add the LICENSE file
  subgraph/LICENSE
  subgraph/package.json
  subgraph/src/handleAdvancedStakingRewards.ts
Due: prettier --write

dapp: dapp: replace momentjs library with date-fns
  yarn.lock
Due: prettier --write

contracts: split the bridge deployment command
  contracts/package.json
Due: prettier --write

contracts: add README to explain deployment process Issue-URL: https://app.clickup.com/t/33874hp
  contracts/README.md
Due: prettier --write

contracts: add pNft roken
  contracts/contracts/advanced-staking/PNftToken.sol
  contracts/contracts/advanced-staking/pNftToken/ContentMixin.sol
  contracts/contracts/advanced-staking/pNftToken/EIP712Base.sol
  contracts/contracts/advanced-staking/pNftToken/Initializable.sol
  contracts/contracts/advanced-staking/pNftToken/NativeMetaTransaction.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: add license file of PNFT token
  contracts/contracts/advanced-staking/pNftToken/ContentMixin.sol
  contracts/contracts/advanced-staking/pNftToken/LICENSE
  contracts/contracts/advanced-staking/pNftToken/README.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: add unit tests for PNFT token
  contracts/test/advanced-staking/pNftToken.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts:fix - deployment readme moved to docs + 2 root READMEs added
  README.md
  contracts/README.md
  contracts/docs/Producation-Deployment-README.md
  contracts/package.json
  contracts/waffle.json
Due: prettier --write

contracts:fix - readme typo...
  contracts/docs/Production-Deployment-README.md
Due: prettier --write

graph: Write instructions for deployment Without this patch, there is no instruction for a nonsavvy tech person on how to deploy the graph.
  subgraph/.env.example
  subgraph/.gitignore
  subgraph/README.md
  subgraph/abis/AdvancedStakeRewardController.json
  subgraph/abis/PantherPoolV0.json
  subgraph/package.json
  subgraph/subgraph.yaml
Due: prettier --write

contracts: add missed type in unit tests
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: relocate the PNFT contracts
  contracts/contracts/staking/PNftToken.sol
  contracts/contracts/staking/pNftToken/ContentMixin.sol
  contracts/contracts/staking/pNftToken/EIP712Base.sol
  contracts/contracts/staking/pNftToken/Initializable.sol
  contracts/contracts/staking/pNftToken/LICENSE
  contracts/contracts/staking/pNftToken/NativeMetaTransaction.sol
  contracts/contracts/staking/pNftToken/README.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
