Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

`circuits` workspace added
  circuits/package.json
  package.json
  yarn.lock
Due: prettier --write

circuits: restyled with prettier
  circuits/circuits/test/babyPbkTest.json
  circuits/circuits/test/inclusionProverTest.json
  circuits/circuits/test/inclusionProverTest_2.json
  circuits/circuits/test/inclusionProverTest_3.json
  circuits/circuits/test/noteHasherTest.json
  circuits/circuits/test/noteHasherTest_2.json
  circuits/circuits/test/run_all_tests.sh
  circuits/circuits/test/run_test.sh
  circuits/scripts/circom-docker.sh
  circuits/test/Reward.test.js
  circuits/test/helpers/circomTester.js
Due: prettier --write

circuits: Licence updated
  circuits/package.json
Due: prettier --write

`nohoist` for the `circomlib`
  package.json
Due: prettier --write

circuits: Reward.test.js prettier'ed
  circuits/test/Reward.test.js
Due: prettier --write

remove "[completed]" from MR template
  .gitlab/merge_request_templates/Default.md
Due: prettier --write

Subgraph codes have been added.
  .gitlab-ci.yml
  amplify.yml
  docs/subgraph-guide.md
  package.json
  subgraph/.env.example
  subgraph/.gitignore
  subgraph/abis/PantherPoolV0.json
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/setupSubgraph.ts
  subgraph/src/handleAdvancedStakingRewards.ts
  subgraph/src/types/stakerReward.ts
  subgraph/src/utils/advancedStakingReward.ts
  subgraph/src/utils/staker.ts
  subgraph/subgraph.template.yaml
  subgraph/tsconfig.json
  subgraph/yarn.lock
  yarn.lock
Due: prettier --write

contracts: TriadMerkleZeros::FIELD_SIZE removed
  panther-protocol-contracts-ws/contracts/triadTree/TriadMerkleZeros.sol
  panther-protocol-contracts-ws/lib/TriadMerkleZeros.sol.template
  panther-protocol-contracts-ws/lib/triadMerkleZerosContractGenerator.ts
Due: prettier --write

contracts: generateTriadMerkleZeroesContracts.sh run on every compilation
  panther-protocol-contracts-ws/lib/triadMerkleZerosContractGenerator.ts
Due: prettier --write

contracts: pchain snapshot fixed
  panther-protocol-contracts-ws/deploy/06-vault-proxy-owner-change.ts
  panther-protocol-contracts-ws/scripts/setup-pchain.sh
Due: prettier --write

contracts: deployment scripts updated to work w/ ganache-cli
  panther-protocol-contracts-ws/deploy/05-vault-proxy-upgrade.ts
Due: prettier --write

contracts: minot fix in TriadIncrementalMerkleTrees.switchingTrees.test.ts
  panther-protocol-contracts-ws/test/TriadIncrementalMerkleTrees.switchingTrees.test.ts
Due: prettier --write

contracts: deployments/ARCHIVE excluded from .gitignore and `yarn clean`
  panther-protocol-contracts-ws/deployments/ARCHIVE/README.txt
Due: prettier --write

contracts: fix of scaling in PantherPoolV0::_processDepositedAsset
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
  panther-protocol-contracts-ws/contracts/common/ErrorMsgs.sol
Due: prettier --write

Add a missing `advancedActionHash()` to `lib/hash.ts`
  contracts/lib/hash.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto: update the Merkle tree to work with more than 2048 quad leaves
  crypto/src/triad-merkle-tree/tree.ts
  crypto/src/triad-merkle-tree/utils.ts
Due: prettier --write

amplify.yml: add missing advanced staking env variables
  amplify.yml
Due: prettier --write

dapp: persist advanced stakes rewards slice in local storage
  yarn.lock
Due: prettier --write

Rename `SNARK_FIELD_SIZE` to `BN254_FIELD_SIZE` in the whole project
  crypto/src/groth16.ts
Due: prettier --write

dapp: add package moment
  yarn.lock
Due: prettier --write

Add a task to set Zkp rewards limit Without this patch, there is no task to set Zkp rewards limit for `AdvancedStakeRewardController` contract.
  contracts/hardhat.config.ts
  contracts/tasks/rewards-limit-add.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

amplify.yml: add missing COMMITMENT_TREE_URL_80001
  amplify.yml
Due: prettier --write

update caniuse-lite and others to avoid warning about outdated db
  yarn.lock
Due: prettier --write

Add a `TestnetStaking` contract Without this patch, a new staking contract needs to be deployed for each test period.
  contracts/contracts/mocks/TestnetStaking.sol
  contracts/deploy/03-Staking.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Modify `tems:add` task to support both advance and classic terms.
  contracts/lib/staking.ts
  contracts/tasks/terms-add.ts
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

don't ignore .env.example files
  .gitignore
Due: prettier --write

dapp: add missing ADVANCED_STAKING_T_UNLOCK to amplify.yml
  amplify.yml
Due: prettier --write

add new artifacts for mumbai staging
  contracts/deployments/ARCHIVE/staging/mumbai/AdvancedStakeRewardController.json
  contracts/deployments/ARCHIVE/staging/mumbai/RewardMaster.json
  contracts/deployments/ARCHIVE/staging/mumbai/Staking.json
Due: prettier --write

contracts: allow testnet deployments to override EXIT_TIME
  panther-protocol-contracts-ws/contracts/PantherPoolV0.sol
  panther-protocol-contracts-ws/contracts/mocks/TestnetPantherPoolV0.sol
  panther-protocol-contracts-ws/deploy/03-pantherPoolV0-proxy-and-impl.ts
Due: prettier --write

contracts: zero zZKP rewards for advanced stakes before rewarding start
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/test/advancedStakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fixed processing of zero zZKP UTXO on advanced stakes
  contracts/contracts/AdvancedStakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

rename PantherPoolV0.EXIT_TIME() to exitTime()
  contracts/contracts/mocks/FakePantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Add task to update the terms. Without this patch, there is no task to update the terms for test networks.
  contracts/hardhat.config.ts
  contracts/lib/staking.ts
  contracts/package.json
  contracts/tasks/terms-update.ts
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto: add declaration map for navigation to definition
  crypto/tsconfig.json
Due: prettier --write

move TS_NODE_TRANSPILE_ONLY=1 into contracts/package.json
  contracts/package.json
  package.json
Due: prettier --write

Clean up Faucet contract Without this patch, the `Faucet` contract is not as clean as expected.
  contracts/contracts/ZkpFaucet.sol
  contracts/test/zkpFaucet.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

dapp: add colour to syncEnv.ts output
  yarn.lock
Due: prettier --write

dapp: don't exclude src/types/staking.ts from prettier
  .prettierignore
Due: prettier --write

contracts: AdvancedStakeRewardController refactored
  contracts/contracts/AdvancedStakeRewardController.sol
  contracts/contracts/mocks/MockAdvancedStakeRewardController.sol
  contracts/test/advancedStakeRewardController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

DRY summing of BigNumbers via a new helper function
  contracts/tasks/unstaked-rewards.ts
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint
