Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

contracts: change solidity version of pNft
  contracts/contracts/staking/PNftToken.sol
  contracts/contracts/staking/pNftToken/ContentMixin.sol
  contracts/contracts/staking/pNftToken/EIP712Base.sol
  contracts/contracts/staking/pNftToken/Initializable.sol
  contracts/contracts/staking/pNftToken/NativeMetaTransaction.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: add deployment script for pnft
  contracts/deploy/02-staking/00-check-params.ts
  contracts/deploy/02-staking/10-PNftToken.ts
  contracts/deploy/02-staking/11-AdvancedStakeRewardController.ts
  contracts/deploy/02-staking/12-PNft-owner-change.ts
  contracts/deploy/02-staking/13-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-staking/14-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-staking/15-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/02-staking/16-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: rename `advanced-staking` to `staking`
  contracts/test/staking/pNftToken.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: ignore slither issues
  contracts/contracts/staking/pNftToken/ContentMixin.sol
  contracts/contracts/staking/pNftToken/EIP712Base.sol
  contracts/contracts/staking/pNftToken/NativeMetaTransaction.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

subgraph:fix - licenses
  subgraph/LICENSE
  subgraph/package.json
  subgraph/src/handleAdvancedStakingRewards.ts
Due: prettier --write

contracts: improve doc
  contracts/.env.example
  contracts/docs/Production-Deployment-README.md
Due: prettier --write

contracts: fix fresh deployment issues
  contracts/.env.example
  contracts/deploy/01-protocol/00-check-params.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

docs: add README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

contracts:fix - unlicensed...
  contracts/contracts/common/mocks/FakePrpGrantor.sol
  contracts/contracts/staking/mocks/FakePantherPoolV0.sol
  contracts/contracts/staking/mocks/MockAdvancedStakeRewardController.sol
  contracts/contracts/staking/mocks/MockAdvancedStakingBridgedDataCoder.sol
  contracts/contracts/staking/mocks/MockAdvancedStakingDataDecoder.sol
  contracts/contracts/staking/mocks/MockClaimable.sol
  contracts/contracts/staking/mocks/MockRewardMaster.sol
  contracts/contracts/staking/mocks/MockStakingMsgProcessor.sol
  contracts/contracts/staking/mocks/TestnetStaking.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(dev-guide): switch GitLab references to GitHub
  docs/dev-guide.md
Due: prettier --write

docs(README): add information about MASP versions
  README.md
Due: prettier --write

docs(README): fix links to contracts/ subdirectories
  README.md
Due: prettier --write

docs(README): really fix links to contracts/ subdirectories
  README.md
Due: prettier --write

subgraph: fix the bug with a task name
  subgraph/README.md
  subgraph/package.json
  subgraph/subgraph.yaml
Due: prettier --write

contracts: fix deployment tag Without this patch, the deployment script for AdvancedStakeRewardAdviserAndMsgSender contract is wrong in the `package.json` file.
  contracts/package.json
Due: prettier --write

contracts: fix the wrong key in `.env.example` file
  contracts/.env.example
Due: prettier --write

contracts: fix/improve the production README
  contracts/docs/Production-Deployment-README.md
Due: prettier --write

contracts: fix various issues in the bridge deployment process
  contracts/deploy/02-staking/14-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-staking/15-AdvancedStakeActionMsgRelayer-imp.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: use helper function to upgrade relayer proxy
  contracts/deploy/02-staking/16-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: remove unnecessary logs
  contracts/deploy/02-staking/01-ZkpFaucet.ts
  contracts/deploy/02-staking/02-RewardPool.ts
  contracts/deploy/02-staking/03-RewardMaster.ts
  contracts/deploy/02-staking/04-Staking.ts
  contracts/deploy/02-staking/05-StakeRewardAdviser.ts
  contracts/deploy/02-staking/06-StakeRewardController.ts
  contracts/deploy/02-staking/07-RewardTreasury.ts
  contracts/deploy/02-staking/08-StakeReporter.ts
  contracts/deploy/02-staking/09-StakeRewardController2.ts
  contracts/deploy/02-staking/10-PNftToken.ts
  contracts/deploy/02-staking/11-AdvancedStakeRewardController.ts
  contracts/deploy/02-staking/13-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-staking/14-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-staking/15-AdvancedStakeActionMsgRelayer-imp.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: verify user address in msgSender deployment
  contracts/deploy/02-staking/14-AdvancedStakeRewardAdviserAndMsgSender.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: fix amplify config by adding env variable
  amplify.yml
Due: prettier --write

contracts: delete the prpGrantor deployment script
  contracts/deploy/01-protocol/02b-prpGrantor-proxy.ts
  contracts/deploy/01-protocol/02b-zAssetRegistry-proxy-and-impl.ts
  contracts/deploy/01-protocol/04-vault-impl.ts
  contracts/deploy/01-protocol/04b-prpGrantor-impl.ts
  contracts/deploy/01-protocol/05-vault-proxy-upgrade.ts
  contracts/deploy/01-protocol/05b-prpGrantor-proxy-upgrade.ts
  contracts/deploy/01-protocol/06-vault-proxy-owner-change.ts
  contracts/deploy/01-protocol/06b-prpGrantor-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add minter for PNFT
  contracts/contracts/staking/PNftToken.sol
  contracts/deploy/02-staking/12a-PNft-set-minter.ts
  contracts/deploy/02-staking/12b-PNft-owner-change.ts
  contracts/test/staking/pNftToken.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: PNftToken slither check and test fixed
  contracts/contracts/staking/PNftToken.sol
  contracts/test/staking/pNftToken.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: deployment scripts for PNftToken updated
  contracts/deploy/02-staking/00-check-params.ts
  contracts/deploy/02-staking/10-PNftToken.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add `protocol` tag to advanced deployment script
  contracts/package.json
Due: prettier --write

contracts: "Approved for all" operator made updatable by the owner
  contracts/contracts/staking/PNftToken.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: Owner in PNftToken.sol made immutable
  contracts/contracts/staking/PNftToken.sol
  contracts/contracts/staking/pNftToken/ContentMixin.sol
  contracts/contracts/staking/pNftToken/EIP712Base.sol
  contracts/contracts/staking/pNftToken/Initializable.sol
  contracts/contracts/staking/pNftToken/NativeMetaTransaction.sol
  contracts/contracts/staking/pNftToken/README.md
  contracts/deploy/02-staking/10-PNftToken.ts
  contracts/deploy/02-staking/12a-PNft-set-minter.ts
  contracts/deploy/02-staking/12b-PNft-owner-change.ts
  contracts/test/staking/pNftToken.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix the bug when fill up local envs
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix pnft deployment script for prod/dev
  contracts/deploy/02-staking/10-PNftToken.ts
  contracts/deploy/02-staking/12-PNft-set-minter.ts
  contracts/lib/checkNetwork.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: extend the contract's readme files
  contracts/README.md
  contracts/docs/Production-Deployment-README.md
Due: prettier --write

crypto: clean up debug messages that can link to the user
  crypto/src/other/triad-merkle-tree/tree.ts
  crypto/src/panther/keys.ts
  crypto/src/panther/messages.ts
Due: prettier --write

feat: add publish.sh script for publishing to GitHub
  publish.sh
Due: prettier --write

dapp: fix replace subgraph name with hash id
  amplify.yml
Due: prettier --write

feat: update MR template
  .gitlab/merge_request_templates/Default.md
Due: prettier --write

feat(dapp): optimize performance of UTXO update
  yarn.lock
Due: prettier --write

feat: Bump typescript from 4.5 to 4.9
  contracts/package.json
  crypto/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
