Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

contracts: comments and unused code cleaned/removed
  contracts/contracts/advanced-staking/AdvancedStakeRewardController.sol
  contracts/contracts/advanced-staking/actions/AdvancedStakingDataDecoder.sol
  contracts/contracts/advanced-staking/interfaces/IPantherPoolV0.sol
  contracts/contracts/advanced-staking/mocks/FakePantherPoolV0.sol
  contracts/contracts/common/Constants.sol
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/pantherPool/CommitmentsTrees.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts:refactor - remove unused code from message-encryption
  contracts/lib/message-encryption.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: mismatching message nonce bug fixed
  contracts/contracts/advanced-staking/AdvancedStakeActionMsgRelayer.sol
  contracts/contracts/advanced-staking/AdvancedStakeRewardAdviserAndMsgSender.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

dapp: ref bigIntToBuffer()
  crypto/src/bigint-conversions.ts
Due: prettier --write

contracts:refactor - cryptography + semi-prolog
  contracts/lib/keychain.ts
  contracts/lib/message-encryption.ts
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts+dapp: refactor - cryptography for advanced staking - v0.5
  contracts/lib/keychain.ts
  contracts/lib/message-encryption.ts
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

root: refactor moving services/keychain to crypto/sdk/keychain
  contracts/lib/message-encryption.ts
  crypto/src/errors.ts
  crypto/src/sdk/keychain.ts
  crypto/tests/encryption.integration.test.ts
  crypto/tests/errors.test.ts
  crypto/tests/message-encryption.test.ts
  crypto/tests/sdk/keychain.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto: fix types generation crypto workspace
  .gitignore
  crypto/scripts/gen-types.sh
  crypto/tsconfig.json
Due: prettier --write

crypto: refactor rename of extractCipherKeyAndIV()
  crypto/src/keychain.ts
  crypto/src/sdk/message-encryption.ts
  crypto/tests/encryption.integration.test.ts
  crypto/tests/message-encryption.test.ts
  crypto/tests/transaction.integration.test.ts
Due: prettier --write

root: refactoring of lib/keychain logic
  contracts/lib/keychain.ts
  contracts/lib/message-encryption.ts
  contracts/lib/types/keypair.ts
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  crypto/src/assertions.ts
  crypto/src/keychain.ts
  crypto/src/types/keypair.ts
  crypto/tests/keychain.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto: remove not used blake-hash package
  crypto/package.json
  crypto/scripts/gen-types.sh
Due: prettier --write

root: refactor message-encryption in panther-core/crypto workspace
  contracts/lib/message-encryption.ts
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  crypto/src/bigint-conversions.ts
  crypto/src/message-encryption.ts
  crypto/src/sdk/message-encryption.ts
  crypto/src/types/message.ts
  crypto/tests/encryption.integration.test.ts
  crypto/tests/message-encryption.test.ts
  crypto/tests/sdk/message-encryption.test.ts
  crypto/tests/transaction.integration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto+contracts+dapp:refactor - namings + minor separation
  contracts/lib/message-encryption.ts
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  crypto/src/base/encryption.ts
  crypto/src/base/field-operations.ts
  crypto/src/base/groth16.ts
  crypto/src/base/keypairs.ts
  crypto/src/base/witness-calculator.js
  crypto/src/panther/keys.ts
  crypto/src/panther/messages.ts
  crypto/src/types/keypair.ts
  crypto/src/utils/assertions.ts
  crypto/tests/base/encryption.test.ts
  crypto/tests/base/keypairs.test.ts
  crypto/tests/panther/encryption.integration.test.ts
  crypto/tests/panther/keys.test.ts
  crypto/tests/panther/messages.test.ts
  crypto/tests/panther/transaction.integration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto: eslint config file update
  crypto/.eslintignore
  crypto/.eslintrc.json
  crypto/package.json
  crypto/scripts/build-commitments-tree.ts
  crypto/src/base/encryption.ts
  crypto/src/base/groth16.ts
  crypto/src/base/hashes.ts
  crypto/src/base/keypairs.ts
  crypto/src/other/triad-merkle-tree/tree.ts
  crypto/src/other/triad-merkle-tree/utils.ts
  crypto/src/panther/keys.ts
  crypto/src/panther/messages.ts
  crypto/src/utils/paginator.ts
  crypto/tests/base/encryption.test.ts
  crypto/tests/base/keypairs.test.ts
  crypto/tests/other/triad-merkle-tree/tree.test.ts
  crypto/tests/other/triad-merkle-tree/utils.test.ts
  crypto/tests/panther/encryption.integration.test.ts
  crypto/tests/panther/keys.test.ts
  crypto/tests/panther/messages.test.ts
  crypto/tests/panther/transaction.integration.test.ts
  crypto/tests/utils/numbers.test.ts
  crypto/tsconfig.json
Due: prettier --write

crypto: refactor move parseTxErrorMessage() in dApp services
  crypto/src/panther/keys.ts
  crypto/src/utils/errors.ts
  crypto/tests/utils/errors.test.ts
Due: prettier --write

crypto: refactor folder structure of the @crypto workspace
  contracts/lib/message-encryption.ts
  contracts/tasks/advanced-staking/commitments-list.ts
  contracts/tasks/advanced-staking/staking-list.ts
  contracts/tasks/advanced-staking/vesting-list.ts
  contracts/test/protocol/CommitmentGenerator.test.ts
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  crypto/src/base/encryption.ts
  crypto/src/base/groth16.ts
  crypto/src/base/hashes.ts
  crypto/src/base/keypairs.ts
  crypto/src/base/witness_calculator.js
  crypto/src/hash.ts
  crypto/src/other/triad-merkle-tree/index.ts
  crypto/src/other/triad-merkle-tree/tree.ts
  crypto/src/other/triad-merkle-tree/utils.ts
  crypto/src/panther/keys.ts
  crypto/src/panther/messages.ts
  crypto/src/utils/assertions.ts
  crypto/src/utils/bigint-conversions.ts
  crypto/src/utils/errors.ts
  crypto/src/utils/numbers.ts
  crypto/src/utils/paginator.ts
  crypto/tests/base/encryption.test.ts
  crypto/tests/base/keypairs.test.ts
  crypto/tests/other/triad-merkle-tree/data/.gitignore
  crypto/tests/other/triad-merkle-tree/data/commitmentsLog-test-data.json
  crypto/tests/other/triad-merkle-tree/data/newIdentity.events.sample.json
  crypto/tests/other/triad-merkle-tree/data/trees.js
  crypto/tests/other/triad-merkle-tree/tree.test.ts
  crypto/tests/other/triad-merkle-tree/utils.test.ts
  crypto/tests/panther/encryption.integration.test.ts
  crypto/tests/panther/keys.test.ts
  crypto/tests/panther/messages.test.ts
  crypto/tests/panther/transaction.integration.test.ts
  crypto/tests/utils/errors.test.ts
  crypto/tests/utils/numbers.test.ts
  crypto/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

crypto:refactor - contstants moved to base
  crypto/src/base/keypairs.ts
  crypto/src/panther/messages.ts
  crypto/tests/panther/messages.test.ts
Due: prettier --write

contracts: refactor use of bigint instead of BigInt
  .prettierignore
  contracts/test/protocol/MerkleProofVerifier.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Slither vulnerability - incorrect-equality
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/protocol/PantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - shadowing-state fix
  contracts/contracts/protocol/PantherPoolV0.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - unchecked-transfer
  contracts/contracts/advanced-staking/MaticRewardPool.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - unused-return
  contracts/contracts/advanced-staking/RewardPool.sol
  contracts/contracts/advanced-staking/RewardTreasury.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - write-after-write
  contracts/contracts/advanced-staking/StakeRewardController2.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - missing-inheritance
  contracts/contracts/advanced-staking/StakeRewardController2.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - divide-before-multiply
  contracts/contracts/protocol/pantherPool/AmountConvertor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: improve the task for updating exit times Without this patch, there is no way to pass Date as a task parameter.
  contracts/hardhat.config.ts
  contracts/tasks/protocol/exitTime-update.ts
  contracts/tasks/protocol/pool-time-update.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Slither vulnerability - external-function
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/Staking.sol
  contracts/contracts/advanced-staking/VotingPowerInformer.sol
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/ZAssetsRegistry.sol
  contracts/contracts/protocol/crypto/ElGamal.sol
  contracts/contracts/protocol/triadTree/TriadIncrementalMerkleTrees.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - unused-state
  contracts/contracts/advanced-staking/StakeRewardController2.sol
  contracts/contracts/protocol/PantherPoolV0.sol
  contracts/contracts/protocol/PrpGrantor.sol
  contracts/contracts/protocol/pantherPool/CommitmentsTrees.sol
  contracts/contracts/protocol/triadTree/TriadIncrementalMerkleTrees.sol
  contracts/contracts/protocol/triadTree/TriadMerkleZeros.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Slither vulnerability - dead-code
  contracts/contracts/advanced-staking/StakeZeroRewardAdviser.sol
  contracts/contracts/advanced-staking/actions/AdvancedStakingBridgedDataCoder.sol
  contracts/contracts/advanced-staking/actions/RewardAdvisersList.sol
  contracts/contracts/advanced-staking/actions/StakingMsgProcessor.sol
  contracts/contracts/common/Claimable.sol
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/common/Utils.sol
  contracts/contracts/protocol/crypto/BabyJubJub.sol
  contracts/contracts/protocol/pantherPool/AmountConvertor.sol
  contracts/contracts/protocol/pantherPool/CommitmentGenerator.sol
  contracts/contracts/protocol/pantherPool/CommitmentsTrees.sol
  contracts/contracts/protocol/pantherPool/MerkleProofVerifier.sol
  contracts/contracts/protocol/pantherPool/NullifierGenerator.sol
  contracts/contracts/protocol/pantherPool/PubKeyGenerator.sol
  contracts/contracts/protocol/triadTree/Hasher.sol
  contracts/contracts/protocol/triadTree/TriadIncrementalMerkleTrees.sol
  contracts/contracts/protocol/triadTree/TriadMerkleZeros.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

dapp: Unify Eslint for crypto workspace
  crypto/.eslintrc.json
Due: prettier --write

Slither vulnerability - reentrancy-benign
  contracts/contracts/advanced-staking/RewardMaster.sol
  contracts/contracts/advanced-staking/StakeRewardController.sol
  contracts/contracts/advanced-staking/Staking.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

set `strictNullChecks` and `noImplicitAny` to true
  contracts/lib/triadMerkleZerosContractGenerator.ts
  contracts/test/protocol/PantherPoolV0.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  contracts/test/protocol/Poseidon.test.ts
  contracts/test/protocol/PrpGrantor.test.ts
  contracts/test/protocol/PubKeyGenerator.test.ts
  contracts/test/protocol/TriadIncrementalMerkleTree.test.ts
  contracts/test/protocol/TriadIncrementalMerkleTrees.switchingTrees.test.ts
  contracts/test/protocol/TriadTrees.multipleTrees.test.ts
  contracts/test/protocol/ZAssetsRegistry.test.ts
  contracts/tsconfig.json
  crypto/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add `any` type for error object
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add the missing ts types Without this patch, the ts compiler complains about the uninitialized properties in the `UtxoSenderData` and `UtxoRecipientData` Classes.
  contracts/lib/message-encryption.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryAndVaultIntegration.test.ts
  contracts/test/protocol/PantherPoolV0AndZAssetRegistryIntegration.test.ts
  contracts/test/protocol/Poseidon.test.ts
  contracts/test/protocol/PubKeyGenerator.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: implemented improvement of reduce bundle size after build
  yarn.lock
Due: prettier --write

dapp: changing the secret variable name
  crypto/src/panther/messages.ts
Due: prettier --write

dapp: fix OnBoarding page responsiveness
  yarn.lock
Due: prettier --write

contracts: add classic/advanced staking tags
  contracts/deploy/02-advanced-staking/01-RewardPool.ts
  contracts/deploy/02-advanced-staking/02-RewardMaster.ts
  contracts/deploy/02-advanced-staking/03-Staking.ts
  contracts/deploy/02-advanced-staking/04-StakeRewardAdviser.ts
  contracts/deploy/02-advanced-staking/05-StakeRewardController.ts
  contracts/deploy/02-advanced-staking/06-RewardTreasury.ts
  contracts/deploy/02-advanced-staking/07-StakeReporter.ts
  contracts/deploy/02-advanced-staking/08-StakeRewardController2.ts
  contracts/deploy/02-advanced-staking/09-AdvancedStakeRewardController.ts
  contracts/package.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add tags for bridge deployment scripts
  contracts/.env.example
  contracts/deploy/02-advanced-staking/10-AdvancedStakeActionMsgRelayer-proxy.ts
  contracts/deploy/02-advanced-staking/11-AdvancedStakeRewardAdviserAndMsgSender.ts
  contracts/deploy/02-advanced-staking/12-AdvancedStakeActionMsgRelayer-imp.ts
  contracts/deploy/02-advanced-staking/13-AdvancedStakeActionMsgRelayer-proxy-upgrade.ts
  contracts/package.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
