Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

chore(contracts): solcover
  contracts/.solcover.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): modify and clanup fee master
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeDistributor.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/feeMaster/TotalDebtHandler.sol
  contracts/contracts/protocol/v1/feeMaster/Types.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapPoolsList.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapV3Handler.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMaster.sol
  contracts/contracts/protocol/v1/interfaces/IPrpConverter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): unit test for FeeMaster
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1andFeeMaster.sol
  contracts/test/protocol/FeeMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): add panther trees folder
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherStaticTree.sol
  contracts/contracts/protocol/v1/PantherTrees.sol
  contracts/contracts/protocol/v1/ProvidersKeys.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/v1/ZNetworksRegistry.sol
  contracts/contracts/protocol/v1/ZZonesRegistry.sol
  contracts/contracts/protocol/v1/mocks/MockCachedRoots.sol
  contracts/contracts/protocol/v1/pantherTrees/Constants.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherBusTree.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherFerryTree.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherForest.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherStaticTree.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherTrees/README.md
  contracts/contracts/protocol/v1/pantherTrees/Types.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusTree.sol
  contracts/contracts/protocol/v1/pantherTrees/forestTree/CachedRoots.sol
  contracts/contracts/protocol/v1/pantherTrees/interfaces/IPantherTreesRootGetter.sol
  contracts/contracts/protocol/v1/pantherTrees/interfaces/IPantherTreesRootVerifier.sol
  contracts/contracts/protocol/v1/pantherTrees/interfaces/ITreeRootGetter.sol
  contracts/contracts/protocol/v1/pantherTrees/interfaces/ITreeRootUpdater.sol
  contracts/contracts/protocol/v1/pantherTrees/merkleTrees/BinaryIncrementalTree.sol
  contracts/contracts/protocol/v1/pantherTrees/merkleTrees/BinaryUpdatableTree.sol
  contracts/contracts/protocol/v1/pantherTrees/merkleTrees/DegenerateIncrementalBinaryTree.sol
  contracts/contracts/protocol/v1/pantherTrees/taxiTree/TaxiTree.sol
  contracts/contracts/protocol/v1/pantherTrees/zeroTrees/Constants.sol
  contracts/contracts/protocol/v1/pantherTrees/zeroTrees/EightLevelZeroTree.sol
  contracts/contracts/protocol/v1/pantherTrees/zeroTrees/SixLevelZeroTree.sol
  contracts/contracts/protocol/v1/pantherTrees/zeroTrees/TwoLevelZeroTree.sol
  contracts/contracts/protocol/v1/zAccountsRegistry/BlacklistedZAccountIdsTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update hh compile runtime
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): remove modifier
  contracts/contracts/protocol/v1/PantherTrees.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): store net value of premium reward
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusQueues.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): ownable panther pool
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): account mining rewards
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PantherTrees.sol
  contracts/contracts/protocol/v1/errMsgs/MiningRewardsErrMsgs.sol
  contracts/contracts/protocol/v1/interfaces/IDebtSettlement.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMaster.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTrees.sol
  contracts/contracts/protocol/v1/mocks/TestnetPantherTrees.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherBusTree.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/MiningRewards.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/MiningRewardsSignatureVerifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add tests for bus queue
  contracts/contracts/protocol/v1/mocks/MockBusQueues.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusQueues.sol
  contracts/test/protocol/BusQueue.test.ts
  contracts/test/protocol/helpers/randomSnarkFriendlyInputGenerator.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): initialize the contract
  contracts/contracts/protocol/v1/PantherTrees.sol
  contracts/contracts/protocol/v1/errMsgs/PantherTreesErrMsgs.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherBusTree.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): draft
  contracts/contracts/common/interfaces/IWETH.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherTrees.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/errMsgs/PantherBusTreeErrMsgs.sol
  contracts/contracts/protocol/v1/errMsgs/PantherTreesErrMsgs.sol
  contracts/contracts/protocol/v1/interfaces/IBusTree.sol
  contracts/contracts/protocol/v1/interfaces/IOnboardingController.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTaxiTree.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTrees.sol
  contracts/contracts/protocol/v1/interfaces/IPluginRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IRootsHistory.sol
  contracts/contracts/protocol/v1/interfaces/IUtxoInserter.sol
  contracts/contracts/protocol/v1/interfaces/IWETH9.sol
  contracts/contracts/protocol/v1/mocks/MockUniSwapV3Router.sol
  contracts/contracts/protocol/v1/mocks/TestnetPantherTrees.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherBusTree.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherFerryTree.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherForest.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherStaticTree.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusTree.sol
  contracts/contracts/protocol/v1/pantherTrees/interfaces/IPantherTreesRootGetter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add bus queue tests
  contracts/contracts/protocol/v1/mocks/MockBusQueues.sol
  contracts/contracts/protocol/v1/pantherTrees/busTree/BusQueues.sol
  contracts/test/protocol/BusQueue.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): panther trees and taxi tree
  contracts/contracts/protocol/v1/PantherTrees.sol
  contracts/contracts/protocol/v1/mocks/MockTreeRootGetterAndUpdater.sol
  contracts/contracts/protocol/v1/pantherTrees/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherTrees/taxiTree/TaxiTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): relocate erc4337 files
  contracts/contracts/common/erc4337/README.md
  contracts/contracts/common/erc4337/contracts/core/Helpers.sol
  contracts/contracts/common/erc4337/contracts/interfaces/IAccount.sol
  contracts/contracts/common/erc4337/contracts/interfaces/IAggregator.sol
  contracts/contracts/common/erc4337/contracts/interfaces/IEntryPoint.sol
  contracts/contracts/common/erc4337/contracts/interfaces/INonceManager.sol
  contracts/contracts/common/erc4337/contracts/interfaces/IPaymaster.sol
  contracts/contracts/common/erc4337/contracts/interfaces/IStakeManager.sol
  contracts/contracts/common/erc4337/contracts/interfaces/UserOperation.sol
  contracts/contracts/protocol/v1/erc4337/contracts/interfaces/UserOperation.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): disable solhint for poseidon lib
  contracts/contracts/common/crypto/Poseidon.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add diamond package
  contracts/contracts/protocol/v1/diamond/Diamond.sol
  contracts/contracts/protocol/v1/diamond/facets/DiamondCut.sol
  contracts/contracts/protocol/v1/diamond/facets/DiamondLoupe.sol
  contracts/contracts/protocol/v1/diamond/interfaces/IDiamondCut.sol
  contracts/contracts/protocol/v1/diamond/interfaces/IDiamondLoupe.sol
  contracts/contracts/protocol/v1/diamond/interfaces/IERC165.sol
  contracts/contracts/protocol/v1/diamond/interfaces/IERC173.sol
  contracts/contracts/protocol/v1/diamond/libraries/LibDiamond.sol
  contracts/contracts/protocol/v1/diamond/utils/Ownable.sol
  contracts/lib/diamond.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): del the unused contracts
  contracts/contracts/protocol/v1/PolygonPrpRewardMsgRelayer.sol
  contracts/contracts/protocol/v1/ProtocolRewardController.sol
  contracts/contracts/protocol/v1/ToPolygonZkpTokenAndPrpRewardMsgSender.sol
  contracts/contracts/protocol/v1/actions/PrpRewardBridgedDataCoder.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): abstract verifier
  contracts/contracts/protocol/v1/interfaces/IVerifier.sol
  contracts/contracts/protocol/v1/interfaces/IVerifyingKeyProvider.sol
  contracts/contracts/protocol/v1/verifier/Verifier.sol
  contracts/contracts/protocol/v1/verifier/VerifyingKeyProvider.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): fix import paths and interfaces
  contracts/contracts/protocol/v1/Account.sol
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/contracts/protocol/v1/core/interfaces/IPrpConversion.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeDistributor.sol
  contracts/contracts/protocol/v1/feeMaster/TotalDebtHandler.sol
  contracts/contracts/protocol/v1/plugins/TokenApprovalLib.sol
  contracts/contracts/protocol/v1/plugins/quickswap/QuickswapRouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): skip failed unit tests
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/Account.test.ts
  contracts/test/protocol/BusQueue.test.ts
  contracts/test/protocol/FeeMaster.test.ts
  contracts/test/protocol/MockUniswapV3Pool.test.ts
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/PantherPoolV1.test.ts
  contracts/test/protocol/PantherSataticTree.test.ts
  contracts/test/protocol/PantherTaxiTree.test.ts
  contracts/test/protocol/PantherVerifier.test.ts
  contracts/test/protocol/PayMaster.test.ts
  contracts/test/protocol/ProvidersKeys.test.ts
  contracts/test/protocol/PrpConverter.test.ts
  contracts/test/protocol/PrpVoucherGrantor.test.ts
  contracts/test/protocol/TransactionNoteEmitter.test.ts
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): blacklisted zacc ids
  contracts/contracts/protocol/v1/mocks/MockBlacklistedZAccountsIdsRegistry.sol
  contracts/contracts/protocol/v1/trees/facets/BlacklistedZAccountsIdsRegistry.sol
  contracts/test/protocol/trees/BlacklistedZAccountIdRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): adds tests for diamond
  contracts/test/protocol/BusQueue.test.ts
  contracts/test/protocol/core/Diamond.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): addZAccountsRegistry unit test
  contracts/contracts/protocol/v1/mocks/MockZAccountsRegistration.sol
  contracts/lib/eip712SignatureGenerator.ts
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): renaming static tree
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add TaxiTree unit test
  contracts/contracts/protocol/v1/mocks/MockTaxiTree.sol
  contracts/test/protocol/trees/TaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add ProviderKey unit test
  contracts/contracts/protocol/v1/diamond/utils/Ownable.sol
  contracts/contracts/protocol/v1/mocks/MockProvidersKey.sol
  contracts/test/protocol/trees/ProvidersKeyRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): renamed MockZSwap
  contracts/contracts/protocol/v1/mocks/MockZSwap.sol
  contracts/test/protocol/core/ZSwap.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add zSwap unit test
  contracts/contracts/protocol/v0/interfaces/IPlugin.sol
  contracts/contracts/protocol/v1/core/libraries/NullifierSpender.sol
  contracts/contracts/protocol/v1/interfaces/IPlugin.sol
  contracts/contracts/protocol/v1/mocks/MockUniswapPlugin.sol
  contracts/contracts/protocol/v1/mocks/MockZSwap.sol
  contracts/contracts/protocol/v1/plugins/quickswap/QuickswapRouterPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
  contracts/test/protocol/core/ZSwap.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): fix unit test TransactionNoteEmitter
  contracts/contracts/protocol/v1/core/utils/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/mocks/MockTransactionNoteEmitter.sol
  contracts/test/protocol/TransactionNoteEmitter.test.ts
  contracts/test/protocol/data/samples/transactionNote.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): token type and addr in main
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/facets/zTransaction/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/core/utils/TransactionChargesHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): encode token type and address
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): remove Todo
  contracts/test/protocol/TransactionNoteEmitter.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): rename file name
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
  contracts/contracts/protocol/v1/core/libraries/NullifierSpender.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): token type and address inputs
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/v1/core/facets/zSwap/SwapHandler.sol
  contracts/contracts/protocol/v1/core/libraries/TokenTypeAndAddressDecoder.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add staticTree unit test
  contracts/contracts/protocol/v1/mocks/MockStaticRootGetter.sol
  contracts/contracts/protocol/v1/mocks/MockStaticTree.sol
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
  contracts/test/protocol/PantherSataticTree.test.ts
  contracts/test/protocol/trees/ProvidersKeyRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add PrpConversion unit test
  contracts/contracts/protocol/v1/mocks/MockPrpConversion.sol
  contracts/test/protocol/core/PrpConversion.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): unit test cleanup
  contracts/test/protocol/core/PrpConversion.test.ts
  contracts/test/protocol/core/ZAccountsRegistration.test.ts
  contracts/test/protocol/core/ZSwap.test.ts
  contracts/test/protocol/core/ZTransaction.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint
