Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

feat(contracts): lock/unlock token by fee master
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/VaultV1.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/ITransactionChargesHandler.sol
  contracts/contracts/protocol/v1/interfaces/IVaultV1.sol
  contracts/contracts/protocol/v1/mocks/FakeVault.sol
  contracts/contracts/protocol/v1/pantherForest/Constants.sol
  contracts/contracts/protocol/v1/pantherForest/PantherForest.sol
  contracts/contracts/protocol/v1/pantherForest/Types.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionChargesHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add new verification key
  contracts/test/protocol/data/verificationKeys/VK_prpAccountConversion.json
  contracts/test/protocol/data/verificationKeys/VK_prpAccounting.json
Due: prettier --write

feat(contracts): new tx types
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMaster.sol
  contracts/contracts/protocol/v1/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionTypes.sol
  contracts/contracts/protocol/v1/pantherPool/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): remove onboaring crtl
  contracts/contracts/protocol/v1/OnboardingController.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherPoolV1.sol
  contracts/deploy/01-protocol/17-onboarding-controller-proxy-and-imp.ts
  contracts/deploy/01-protocol/17a-update-onboarding-reward-params.ts
  contracts/deploy/01-protocol/18-zAccountsRegistry-imp.ts
  contracts/deploy/01-protocol/18b-update-onboarding-voucher-terms.ts
  contracts/deploy/01-protocol/18c-zAccountsRegistry-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): EthEscrow
  contracts/test/protocol/EthEscrow.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts) EntryPoint
  contracts/contracts/common/erc4337/EntryPoint.sol
  contracts/contracts/common/erc4337/README.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

bump(contracts): @openzeppelin and @account-abstraction
  contracts/package.json
Due: prettier --write

deploy(contracts): PayMaster and Account
  contracts/deploy/01-protocol/34-paymaster-proxy.ts
  contracts/deploy/01-protocol/35-deploy-account.ts
  contracts/deploy/01-protocol/36-paymaster-impl.ts
  contracts/deploy/01-protocol/37-paymaster-proxy-upgrade.ts
  contracts/deploy/01-protocol/38-paymaster-add-deposit.ts
  contracts/deploy/01-protocol/39-paymaster-add-stake.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): mocks for tests
  contracts/contracts/protocol/v1/mocks/MockERC20.sol
  contracts/contracts/protocol/v1/mocks/MockFeeMaster.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): Constants
  contracts/contracts/common/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): callculateAndGetNonce
  contracts/lib/calcAndGetNonce.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): IFeeMaster
  contracts/contracts/common/interfaces/IFeeMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): account unit and e2e
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/Account.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contract): account contract
  contracts/contracts/protocol/v1/Account.sol
  contracts/contracts/protocol/v1/account/OffsetGetter.sol
  contracts/contracts/protocol/v1/errMsgs/AccountErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): lib to compose exec data
  contracts/lib/composeExecData.ts
  contracts/lib/token.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): shared and main inputs
  contracts/test/protocol/data/samples/pantherPool.data.ts
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): plugin caller
  contracts/contracts/common/PluginCaller.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): proxy that allows receive
  contracts/contracts/common/proxy/EIP173ProxyWithReceive.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): masp main from EOA
  contracts/test/protocol/PantherPoolV1.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): paymaster
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/contracts/protocol/v1/errMsgs/PayMasterErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): paymaster test
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): plugin executor
  contracts/contracts/common/PluginExecutor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add contract mocks for tests
  contracts/contracts/protocol/v1/mocks/MockLinkToken.sol
  contracts/contracts/protocol/v1/mocks/MockUniSwapV3Router.sol
  contracts/contracts/protocol/v1/mocks/MockUniswapV3Factory.sol
  contracts/contracts/protocol/v1/mocks/MockUniswapV3Pool.sol
  contracts/contracts/protocol/v1/mocks/WETH9.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): shared with plugin deploy
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): getBalance to VaultV1
  contracts/contracts/protocol/v1/VaultV1.sol
  contracts/contracts/protocol/v1/interfaces/IVaultV1.sol
  contracts/contracts/protocol/v1/mocks/FakeVault.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): PantherPoolV1 plugin updates
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): plugin data struct
  contracts/contracts/common/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): account unit and e2e tests
  contracts/test/protocol/Account.e2e.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): mock uniswap pool
  contracts/test/protocol/MockUniswapV3Pool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): _insertGenerateDepositUtxos
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): scale handler
  contracts/contracts/common/ScaleHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): IPlugin exec function
  contracts/contracts/protocol/v1/interfaces/IPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): ad _getBalance to TransferHelper
  contracts/contracts/common/TransferHelper.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): generateExecPluginTestInputs
  contracts/test/protocol/data/samples/pantherPool.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): uniswap callback validation
  contracts/contracts/protocol/v1/DeFi/uniswap/libraries/CallbackValidation.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): adopted unisawp plugin test to new codebase
  contracts/test/protocol/UniswapPlugin.e2e.test.ts
  contracts/test/protocol/data/samples/pantherPool.data.ts
  contracts/test/protocol/data/samples/transactionNote.data.ts
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): fixes tests to work with updated codebase
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/PayMaster.test.ts
  contracts/test/protocol/UniswapPlugin.e2e.test.ts
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): adding plugin
  contracts/contracts/protocol/v1/plugins/PluginRegistry.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3Plugin.sol
  contracts/contracts/protocol/v1/plugins/UniswapV3PoolPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add plugin public signals
  contracts/contracts/protocol/v1/pantherPool/publicSignals/ExecPluginPublicSignals.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): plugin registry interface
  contracts/contracts/protocol/v1/interfaces/IPluginRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
