Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

feat(contracts): update z assets registry tree
  contracts/.solhint.json
  contracts/contracts/protocol/v1/trees/facets/ZAssetsRegistryV1.sol
  contracts/contracts/protocol/v1/trees/libraries/ZAssetEncodingUtils.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): adds cached roots unit tests
  contracts/contracts/protocol/v1/mocks/MockCachedRoots.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/CachedRoots.sol
  contracts/test/protocol/trees/CachedRoots.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): amm refill
  contracts/test/protocol/AMMRefill.test.ts
  contracts/test/protocol/data/abi/ZKPToken.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

deploy(contracts): amm refill
  contracts/deploy/01-protocol/48-amm-refill-proxy-and-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): zkp reserve controller
  contracts/test/protocol/AMMRefill.test.ts
  contracts/test/protocol/ZkpReserveController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): update BlacklistedZAccountId test
  contracts/test/protocol/trees/BlacklistedZAccountIdRegistry.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): update max zaccount flag index
  contracts/contracts/protocol/v1/trees/facets/BlacklistedZAccountsIdsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): remove unuses test file
  contracts/test/protocol/UniswapPlugin.e2e.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): migrate Slither integration to Docker-based setup
  .prettierignore
  contracts/package.json
  contracts/scripts/slither.patch
  contracts/scripts/slither_check.sh
  contracts/scripts/slither_install.sh
  contracts/slither.Dockerfile
  contracts/slither.db.json
Due: prettier --write

fix(contracts): remove unneeded storage gap
  contracts/contracts/protocol/v1/trees/facets/forestTrees/cachedRoots/RingBufferRootCache.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): RingBufferRootCache
  contracts/contracts/protocol/v1/trees/facets/forestTrees/cachedRoots/RingBufferRootCache.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): StaticTree
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): FeeMasterTotalDebtController
  contracts/contracts/protocol/v1/core/facets/FeeMasterTotalDebtController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): AppConfiguration natspecs
  contracts/contracts/protocol/v1/core/facets/AppConfiguration.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): ZSwap
  contracts/contracts/protocol/v1/core/facets/ZSwap.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): match vault allowance and reserves
  contracts/contracts/protocol/v1/core/facets/PrpConversion.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): ForestTree
  contracts/contracts/protocol/v1/trees/facets/ForestTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): PrpConversion
  contracts/contracts/protocol/v1/core/facets/PrpConversion.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): UtxosInserter
  contracts/contracts/protocol/v1/core/libraries/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): PrpVoucherController
  contracts/contracts/protocol/v1/core/facets/PrpVoucherController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): ZTransaction
  contracts/contracts/protocol/v1/core/facets/ZTransaction.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): ZAccountsRegistration
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add info notes in the fee master
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/feeMaster/TotalDebtHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): cached roots
  contracts/contracts/protocol/v1/trees/facets/forestTrees/CachedRoots.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): read vk based on tx type
  contracts/contracts/protocol/v1/core/facets/ZAccountsRegistration.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): fee master
  contracts/contracts/protocol/v1/mocks/MockFeeMaster.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/v1/mocks/MockProtocolFeeSwapper.sol
  contracts/test/protocol/FeeMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): fee master
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PayMaster.sol
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeDistributor.sol
  contracts/contracts/protocol/v1/feeMaster/ProtocolFeeSwapper.sol
  contracts/contracts/protocol/v1/feeMaster/Types.sol
  contracts/contracts/protocol/v1/feeMaster/UniswapPoolsList.sol
  contracts/contracts/protocol/v1/interfaces/ICachedNativeZkpTwap.sol
  contracts/contracts/protocol/v1/interfaces/IFeeAccountant.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMaster.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMasterHelper.sol
  contracts/contracts/protocol/v1/interfaces/IPayOff.sol
  contracts/contracts/protocol/v1/interfaces/IProviderFeeDebt.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update deployment script
  contracts/deploy/01-protocol/48-amm-refill-proxy-and-impl.ts
  contracts/deploy/01-protocol/v1/01a-poseidon-libs.ts
  contracts/deploy/01-protocol/v1/01b-verification-keys.ts
  contracts/deploy/01-protocol/v1/02-paymaster-proxy.ts
  contracts/deploy/01-protocol/v1/03a-diamond-cut-facet.ts
  contracts/deploy/01-protocol/v1/03b-diamond-loupe-facet.ts
  contracts/deploy/01-protocol/v1/04-core-diamond-proxy.ts
  contracts/deploy/01-protocol/v1/05-trees-diamond-proxy.ts
  contracts/deploy/01-protocol/v1/06-vault-v1-proxy-and-imp.ts
  contracts/deploy/01-protocol/v1/07i-add-uniswap-v3-pools.ts
  contracts/deploy/01-protocol/v1/12a-core-init-prp-conversion.ts
  contracts/deploy/01-protocol/v1/14d-trees-zassets-registry-facet.ts
  contracts/deploy/01-protocol/v1/16a-trees-init-static-tree.ts
  contracts/deploy/01-protocol/v1/16b-trees-init-forest-tree.ts
  contracts/deploy/01-protocol/v1/16d0-trees-add-keyring.ts
  contracts/deploy/01-protocol/v1/96-zkp-reserve-controller.ts
  contracts/deploy/01-protocol/v1/96a-update-zkp-reserve-controller-params.ts
  contracts/deploy/01-protocol/v1/96b-transfer-zkp-reserve.ts
  contracts/deploy/01-protocol/v1/97-zaccount-status-resolver.ts
  contracts/deploy/01-protocol/v1/98a-multicall.ts
  contracts/deploy/01-protocol/v1/98b-delegate-caller.ts
  contracts/deploy/01-protocol/v1/99z-add-prp-vouchers.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/verifyContracts.ts
  contracts/tasks/get-deployment-addresses.ts
  contracts/test/protocol/data/verificationKeys/VK_pantherBusTreeUpdater.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): forest tree
  contracts/contracts/protocol/v1/trees/facets/ForestTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): static tree
  contracts/contracts/protocol/v1/trees/facets/StaticTree.sol
  contracts/test/protocol/trees/SataticTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): pay master
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/PayMaster.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): taxi tree event arg
  contracts/contracts/protocol/v1/trees/facets/forestTrees/TaxiTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): bus queue
  contracts/contracts/protocol/v1/mocks/MockBusQueues.sol
  contracts/test/protocol/trees/BusQueue.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): bus tree and bus queue
  contracts/contracts/protocol/v1/trees/facets/forestTrees/BusTree.sol
  contracts/contracts/protocol/v1/trees/facets/forestTrees/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/trees/interfaces/IMinersNetRewardReserves.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): redeem bug in PrpConversion
  contracts/contracts/protocol/v1/core/facets/prpConversion/ConversionHandler.sol
  contracts/contracts/protocol/v1/mocks/MockPrpConversion.sol
  contracts/test/protocol/core/PrpConversion.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): public signals in prp conversion
  contracts/contracts/protocol/v1/core/publicSignals/PrpAccountingPublicSignals.sol
  contracts/contracts/protocol/v1/core/publicSignals/PrpConversionPublicSignals.sol
  contracts/test/protocol/core/PrpConversion.test.ts
  contracts/test/protocol/core/PrpVoucherController.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): z asset registry
  contracts/contracts/protocol/v1/trees/facets/ZAssetsRegistryV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

docs(contracts): fix the comments
  contracts/contracts/protocol/v1/core/libraries/PublicInputGuard.sol
  contracts/contracts/protocol/v1/core/utils/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): fix incorrect incoming token address
  contracts/contracts/protocol/v1/core/facets/zSwap/SwapHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

deploy(contracts): update deployment scripts
  contracts/contracts/protocol/v1/mocks/TestnetZkpAndLinkDonatory.sol
  contracts/deploy/00-dev-dependecy/10-zkp-and-link-donatory.ts
  contracts/deploy/01-protocol/v1/08-account.ts
  contracts/deploy/01-protocol/v1/13a-core-add-zswap-plugins.ts
  contracts/deploy/01-protocol/v1/95-zkp-reserve-controller.ts
  contracts/deploy/01-protocol/v1/95a-update-zkp-reserve-controller-params.ts
  contracts/deploy/01-protocol/v1/95b-transfer-zkp-reserve.ts
  contracts/deploy/01-protocol/v1/96a-paymaster-imp.ts
  contracts/deploy/01-protocol/v1/96b-upgrade-paymaster-proxy.ts
  contracts/deploy/01-protocol/v1/96c-paymaster-add-deposit.ts
  contracts/deploy/01-protocol/v1/96d-paymaster-add-stake.ts
  contracts/deploy/01-protocol/v1/96e-update-paymaster-proxy-owner.ts
  contracts/deploy/archive-to-be-deleted/38-paymaster-add-deposit.ts
  contracts/deploy/archive-to-be-deleted/39-paymaster-add-stake.ts
  contracts/hardhat.config.ts
  contracts/test/protocol/data/verificationKeys/VK_pantherBusTreeUpdater.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint
