Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

ci: add yarn build:types for dapp to fix pipeline
  .gitlab-ci.yml
Due: prettier --write

change FAKE_MNEMONIC to HARDHAT_NO_MNEMONIC
  contracts/package.json
Due: prettier --write

dapp: add .env.production
  docs/dev-guide.md
Due: prettier --write

add git commit message template
  .gitmessage
  .prettierignore
  package.json
Due: prettier --write

align Hardhat forking config with zkp-token
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

reorder ALCHEMY_ENDPOINTS in a more logical fashion
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add ETHERSCAN_API_KEY to .env.example
  contracts/.env.example
Due: prettier --write

contracts: MIN_VESTING_BLOCKS optimized
  contracts/contracts/RewardMaster.sol
  contracts/test/rewardMaster.test.ts
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: MIN_VESTING_BLOCKS introduced (WIP)
  contracts/contracts/RewardMaster.sol
  contracts/test/rewardMaster.test.ts
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Add snapshot & revert functions to tests
  contracts/test/StakingMsgProcessor.test.ts
  contracts/test/claimable.test.ts
  contracts/test/rewardMaster.test.ts
  contracts/test/rewardPool.test.ts
  contracts/test/stakeRewardAdviser.test.ts
  contracts/test/staking.scenario.test.ts
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Contracts: solc version made the same in waffle and hardhat configs
  contracts/waffle.json
Due: prettier --write

unnecessary evm snapshots removed in contract/test
  contracts/test/StakingMsgProcessor.test.ts
  contracts/test/claimable.test.ts
  contracts/test/helpers/hardhatHelpers.ts
  contracts/test/rewardMaster.test.ts
  contracts/test/rewardPool.test.ts
  contracts/test/stakeRewardAdviser.test.ts
  contracts/test/staking.scenario.test.ts
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

yarn.lock updated to match package.json
  yarn.lock
Due: prettier --write

ci: auto-resolve threads started by AWS Amplify preview comments
  .gitlab-ci.yml
Due: prettier --write

docs: add missing --owner to pool:add command
  docs/dev-guide.md
Due: prettier --write

docs: add missing yarn build:types to frontend setup
  docs/dev-guide.md
Due: prettier --write

VotingPowerInformer contract added
  contracts/contracts/VotingPowerInformer.sol
  contracts/contracts/mocks/MockRewardMaster.sol
  contracts/contracts/mocks/MockVotingPowerSource.sol
  contracts/test/votingPowerInformer.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

🚨 eslint-plugin-import to order import in ts files
  yarn.lock
Due: prettier --write

🐛 remove notification not working
  yarn.lock
Due: prettier --write

add a comment explaining the bytecode linking hack
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add default MR template
  .gitlab/merge_request_templates/Default.md
Due: prettier --write

contracts: update typechain modules
  contracts/package.json
  yarn.lock
Due: prettier --write

contracts: prevent hoisting of typechain modules
  package.json
Due: prettier --write

contracts: prevent hoisting of hardhat-deploy-ethers
  package.json
Due: prettier --write

upgrade Typescript and clean up npm package dependencies
  contracts/package.json
  yarn.lock
Due: prettier --write

contracts: add "yarn export-env" for easily updating dapp/.env
  contracts/package.json
Due: prettier --write

dapp: add unit tests for utils.ts
  .gitlab-ci.yml
  yarn.lock
Due: prettier --write

update Rinkeby staging environment
  contracts/deployments/staging/RewardMaster.json
  contracts/deployments/staging/RewardPool.json
  contracts/deployments/staging/StakeRewardAdviser.json
  contracts/deployments/staging/Staking.json
  contracts/deployments/staging/solcInputs/02b076c97c2a6876f90ebc67b2adfe45.json
Due: prettier --write

contracts: add some code to document setup of Rinkeby staging env
  .prettierignore
  contracts/.eslintignore
  contracts/staging/rewardPool-transfer.js
  contracts/staging/setup.js
  contracts/staging/setup.sh
  contracts/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add useful header to contracts/staging/setup.js
  contracts/staging/setup.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: adding redux toolkit to the project
  yarn.lock
Due: prettier --write

Add an optional param in `TASK_TERMS_ADD` to let user change `isRewarded` value. Without this patch, it is not possible to deploy staking contract where the isRewarded is false
  contracts/tasks/terms-add.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

MaticRewardPool.sol drafted (WIP)
  contracts/contracts/MaticRewardPool.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Add test scenarios for staking when reward is disabled.
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

CU-1zx6kud_Add unit tests for MaticRewardPool.sol
  contracts/contracts/MaticRewardPool.sol
  contracts/test/maticRewardPool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

update .gitmessage for Clickup and GitLab integration
  .gitmessage
Due: prettier --write

fix (gitlab ci): avoid uploading new cache if old cache has not changed
  .gitlab-ci.yml
Due: prettier --write

chore: modify ci file
  .gitlab-ci.yml
Due: prettier --write

fix typos in maticRewardPool unit tests.
  contracts/test/maticRewardPool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
