Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

added time increase task
  contracts/hardhat.config.ts
  contracts/tasks/time-increase.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

changed task to handle both increase and timestamp approach
  contracts/tasks/time-increase.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add "yarn contracts" task for quickly listing deployed contracts
  contracts/package.json
  package.json
Due: prettier --write

document use of new pool:{add,release} tasks in zkp-token
  docs/dev-guide.md
Due: prettier --write

removed duplicates
  contracts/tasks/time-increase.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

force use of bash for "yarn contracts" trick
  contracts/package.json
Due: prettier --write

dapp: rename REWARDS_MASTER_CONTRACT to REWARD_MASTER_CONTRACT
  docs/dev-guide.md
Due: prettier --write

test: add unit tests for `claimable.sol`
  contracts/contracts/mocks/MockClaimable.sol
  contracts/test/claimable.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

Apply 1 suggestion(s) to 1 file(s)
  contracts/test/claimable.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: bug in RewardMaster._triggerVesting fixed
  contracts/contracts/RewardMaster.sol
  contracts/contracts/Staking.sol
  contracts/contracts/interfaces/IStakingTypes.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

ci: combine CI into a single job
  .gitlab-ci.yml
  package.json
Due: prettier --write

contracts: StakeRewardAdviser::SCALE updated
  contracts/contracts/StakeRewardAdviser.sol
  contracts/test/stakeRewardAdviser.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: Staking integration tests implemented
  contracts/test/assets/VestingPools.json
  contracts/test/assets/ZKPToken.json
  contracts/test/assets/staking.scenario.data.ods
  contracts/test/assets/staking.scenario.data.ts
  contracts/test/staking.scenario.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: audit preliminary findings fixes
  contracts/contracts/RewardMaster.sol
  contracts/contracts/RewardPool.sol
  contracts/contracts/Staking.sol
  contracts/contracts/interfaces/IActionMsgReceiver.sol
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add proposal:gen task for copy and paste into snapshot
  contracts/hardhat.config.ts
  contracts/tasks/proposal-gen.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add tests to cover more allowedTill/allowedSince cases
  contracts/contracts/Staking.sol
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add test for lockedTill
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test: add `Staking` contract type fix: change 0x0 to 0x00 in staking.spec.ts
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Copy to clipboard functionality
  yarn.lock
Due: prettier --write

test: add test for accountStakes(), power(), totalVotingPower() and totalPower()
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add missing chainId for Rinkeby
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

remove unused STAKING_OWNER variable
  contracts/.env.example
  docs/dev-guide.md
Due: prettier --write

enable "yarn contracts" on other networks
  contracts/package.json
Due: prettier --write

add .env and .env.* to .gitignore
  .gitignore
Due: prettier --write

fix: delete unnecessary awaits test: add test for permit and Snapshot
  contracts/package.json
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

sort imports alphabetically
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

tidy up hardhat.network.ts and sync with zkp-token
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add Rinkeby staging artifacts and config
  contracts/deployments/staging/.chainId
  contracts/deployments/staging/RewardMaster.json
  contracts/deployments/staging/RewardPool.json
  contracts/deployments/staging/StakeRewardAdviser.json
  contracts/deployments/staging/Staking.json
  contracts/deployments/staging/solcInputs/02b076c97c2a6876f90ebc67b2adfe45.json
Due: prettier --write

document use of staging environment from frontend
  docs/dev-guide.md
Due: prettier --write

test: add unit test for `snapshotAt()` - the hint is incorrect and snapshot is not found - the hint is incorrect but snapshot is not found
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor: change the function structure in RewardMasterFixture class
  contracts/test/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

rafactor: improve the it() title in staking test
  contracts/test/staking.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore: add --owner in command of adding a pool
  docs/dev-guide.md
Due: prettier --write

chore: clarify the path for executing the command
  docs/dev-guide.md
Due: prettier --write

make MRs add a comment linking to Amplify preview deployment
  .gitlab-ci.yml
Due: prettier --write

prettier: ignore dapp/src/types/
  .prettierignore
Due: prettier --write

Error and warning notifications
  yarn.lock
Due: prettier --write

copy generated typechain types to dapp
  contracts/package.json
  package.json
Due: prettier --write

try to fix yarn build:types when there is no mnemonic
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
