Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

refactor(contracts): get balance from vault
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/protocol/v1/VaultV1.sol
  contracts/contracts/protocol/v1/errMsgs/VaultErrMsgs.sol
  contracts/contracts/protocol/v1/interfaces/IBalanceViewer.sol
  contracts/contracts/protocol/v1/interfaces/IVaultV1.sol
  contracts/contracts/protocol/v1/mocks/FakeVault.sol
  contracts/contracts/protocol/v1/vault/BalanceViewer.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add multipair swap
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/ISwapRouter.sol
  contracts/contracts/protocol/v1/DeFi/uniswap/interfaces/IUniswapV2Router.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/ZSwapLib.sol
  contracts/contracts/protocol/v1/plugins/PluginDataDecoderLib.sol
  contracts/contracts/protocol/v1/plugins/PluginLib.sol
  contracts/contracts/protocol/v1/plugins/TokenApprovalLib.sol
  contracts/contracts/protocol/v1/plugins/TokenPairResolverLib.sol
  contracts/contracts/protocol/v1/plugins/quickswap/QuickswapRouterPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3PoolPlugin.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): clean up panther pool
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/errMsgs/PantherPoolV1ErrMsgs.sol
  contracts/contracts/protocol/v1/interfaces/IFeeAccountant.sol
  contracts/contracts/protocol/v1/interfaces/IFeeMaster.sol
  contracts/contracts/protocol/v1/interfaces/ITransactionChargesHandler.sol
  contracts/contracts/protocol/v1/interfaces/IVerifier.sol
  contracts/contracts/protocol/v1/pantherPool/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/pantherPool/ZSwapLib.sol
  contracts/contracts/protocol/v1/plugins/PluginLib.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): enable zswap
  contracts/contracts/protocol/v1/FeeMaster.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/feeMaster/FeeAccountant.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionChargesHandler.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
  contracts/test/protocol/data/verificationKeys/VK_zswap.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): adopt calculate nonce
  contracts/lib/calcAndGetNonce.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add vault lib
  contracts/contracts/protocol/v1/pantherPool/VaultLib.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add and modify helper libs
  contracts/contracts/common/TransferHelper.sol
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/v1/VaultV1.sol
  contracts/contracts/protocol/v1/pantherPool/DepositAndWithdrawalHandler.sol
  contracts/contracts/protocol/v1/pantherPool/ZAssetUtxoGeneratorLib.sol
  contracts/contracts/protocol/v1/pantherPool/ZSwapLib.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

bump(contracts): get rid of aa package
  yarn.lock
Due: prettier --write

feat(contracts): handle native swap
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
  contracts/deploy/01-protocol/46-uniswap-router-plugin.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): erc4337 eslint ignore
  .prettierignore
  contracts/.eslintignore
  contracts/.solhintignore
Due: prettier --write

fix(contracts): fix quickswap plugin deploy script
  contracts/deploy/01-protocol/47-quickswap-router-plugin.ts
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): erc4337 refactor
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/Account.test.ts
  contracts/test/protocol/PayMaster.test.ts
  contracts/test/protocol/PrpConverter.test.ts
  contracts/test/protocol/shared.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): add new valication
  contracts/contracts/protocol/v1/pantherPool/ZSwapLib.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): rename vault v0 deployment tag
  contracts/deploy/01-protocol/02-vault-proxy.ts
  contracts/deploy/01-protocol/v0/02a-vault-proxy.ts
  contracts/deploy/01-protocol/v0/03-pantherPoolV0-proxy-and-impl.ts
  contracts/deploy/01-protocol/v0/04-vault-impl.ts
  contracts/deploy/01-protocol/v0/05-vault-proxy-upgrade.ts
  contracts/deploy/01-protocol/v0/06-vault-proxy-owner-change.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): fix Account e2e test
  contracts/test/protocol/Account.e2e.test.ts
  contracts/test/protocol/data/samples/pantherPool.data.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): sanitize zswap tx
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add unit test for zSwap
  contracts/contracts/protocol/v1/mocks/MockUniswapPlugin.sol
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/data/samples/transactionNote.data.ts
  contracts/test/protocol/errMsgs/PantherPoolV1ErrMsgs.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): quick swap router plugin
  contracts/contracts/protocol/v1/plugins/quickswap/QuickswapRouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): account fix
  contracts/contracts/protocol/v1/Account.sol
  contracts/contracts/protocol/v1/account/OffsetGetter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add negative unit test for main transactions
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): unit test for main transaction
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/helpers/pantherPoolV1Inputs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): update static roots
  contracts/lib/staticTree/zAssetsRegistry.ts
  contracts/lib/staticTree/zZonesRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): convert weth to eth in swap
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/v1/pantherPool/ZSwapLib.sol
  contracts/contracts/protocol/v1/plugins/uniswapV3/UniswapV3RouterPlugin.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add unit test for PantherPool
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/ZAccountsRegistry.test.ts
  contracts/test/protocol/errMsgs/PantherPoolV1ErrMsgs.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): subtract fee from withdraw amount
  contracts/contracts/protocol/v1/pantherPool/DepositAndWithdrawalHandler.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): update slither configuration
  contracts/package.json
  contracts/slither.config.json
Due: prettier --write

test(contracts): fix Account unit test
  contracts/test/protocol/Account.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): add panther taxi tree
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTaxiTree.sol
  contracts/contracts/protocol/v1/mocks/MockPantherTaxiTreeOwner.sol
  contracts/contracts/protocol/v1/pantherForest/taxiTree/TaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/EightLevelZeroTree.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
  contracts/test/protocol/PantherTaxiTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add unit test for PluginDecoder
  contracts/contracts/protocol/v1/mocks/MockPluginDataDecoder.sol
  contracts/test/protocol/PluginDataDecoder.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): add export to deploymentHelper
  contracts/lib/deploymentHelpers.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): make error message case consistent
  contracts/contracts/protocol/v1/plugins/PluginDataDecoderLib.sol
  contracts/test/protocol/PluginDataDecoder.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): rename taxi tree events
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): add unit test for PantherTaxiTree
  contracts/test/protocol/PantherPool.test.ts
  contracts/test/protocol/PantherTaxiTree.test.ts
  contracts/test/protocol/helpers/PantherTaxiMerkleTree.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): static tree
  contracts/contracts/protocol/v1/mocks/MockTreeRootGetterAndUpdater.sol
  contracts/test/protocol/PantherSataticTree.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): verifier
  contracts/test/protocol/PantherVerifier.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts): circuit artefacts
  .prettierignore
  contracts/test/protocol/data/circuits/addition.circom
  contracts/test/protocol/data/circuits/compiled/addition_js/proof.json
  contracts/test/protocol/data/circuits/compiled/addition_verification_key.json
  contracts/test/protocol/data/circuits/scripts/buildAddition.sh
Due: prettier --write

feat(contracts): add panther trees
  contracts/contracts/common/crypto/Hasher.sol
  contracts/contracts/protocol/v1/PantherBusTree.sol
  contracts/contracts/protocol/v1/PantherFerryTree.sol
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherStaticTree.sol
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/PantherTrees.sol
  contracts/contracts/protocol/v1/errMsgs/BusTreeErrMsgs.sol
  contracts/contracts/protocol/v1/errMsgs/PantherBusTreeErrMsgs.sol
  contracts/contracts/protocol/v1/errMsgs/PantherPoolV1ErrMsgs.sol
  contracts/contracts/protocol/v1/errMsgs/PantherTreesErrMsgs.sol
  contracts/contracts/protocol/v1/interfaces/IBusTree.sol
  contracts/contracts/protocol/v1/mocks/MockPantherPoolV1.sol
  contracts/contracts/protocol/v1/mocks/TestnetPantherTrees.sol
  contracts/contracts/protocol/v1/pantherForest/PantherForest.sol
  contracts/contracts/protocol/v1/pantherForest/PantherStaticTree.sol
  contracts/contracts/protocol/v1/pantherForest/Types.sol
  contracts/contracts/protocol/v1/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/v1/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/v1/pantherForest/interfaces/IPantherTreesRootGetter.sol
  contracts/contracts/protocol/v1/pantherForest/interfaces/IPantherTreesRootVerifier.sol
  contracts/contracts/protocol/v1/pantherPool/UtxosInserter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts
  contracts/contracts/protocol/v1/PantherFerryTree.sol
  contracts/contracts/protocol/v1/PantherTrees.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

bump(contracts): coverage
  contracts/package.json
  yarn.lock
Due: prettier --write

refactor(contracts): remove unused bus tree func
  contracts/contracts/protocol/v1/PantherBusTree.sol
  contracts/contracts/protocol/v1/interfaces/IBusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
