Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

fix yarn deploy scripts to use token.ts
  contracts/package.json
Due: prettier --write

add missing tsconfig.json
  contracts/tsconfig.json
Due: prettier --write

eliminate unused function parameter warning
  contracts/contracts/actions/StakingMsgProcessor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: update compilation target to es2020 in tsconfig.json
  contracts/tsconfig.json
Due: prettier --write

contracts: remove truffle; add hardhat-deploy and hardhat-deploy-ethers
  contracts/.gitignore
  contracts/hardhat.config.ts
  contracts/package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add types/ to .gitignore
  contracts/.gitignore
Due: prettier --write

contracts: add namedAccounts
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: deploy via hardhat-deploy
  contracts/deploy/01-RewardPool.ts
  contracts/deploy/02-RewardMaster.ts
  contracts/deploy/03-Staking.ts
  contracts/deploy/token.ts
  contracts/package.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

update dev-guide.md regarding hardhat-deploy
  contracts/.env.example
  docs/dev-guide.md
Due: prettier --write

ignore contract artifacts
  .prettierignore
Due: prettier --write

remove redundant .prettierrc
  contracts/.prettierrc
Due: prettier --write

Apply prettier:fix
  contracts/.solcover.js
  contracts/.solhint.json
  contracts/contracts/RewardMaster.sol
  contracts/contracts/RewardPool.sol
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/Staking.sol
  contracts/contracts/actions/RewardAdvisersList.sol
  contracts/contracts/actions/StakingMsgProcessor.sol
  contracts/contracts/interfaces/IActionMsgReceiver.sol
  contracts/contracts/interfaces/IErc20Min.sol
  contracts/contracts/interfaces/IRewardAdviser.sol
  contracts/contracts/interfaces/IRewardPool.sol
  contracts/contracts/interfaces/IVestingPools.sol
  contracts/contracts/interfaces/IVotingPower.sol
  contracts/deploy/01-RewardPool.ts
  contracts/deploy/02-RewardMaster.ts
  contracts/deploy/03-Staking.ts
  contracts/hardhat.config.ts
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

contracts: RewardPool updated to work w/o proxy
  contracts/contracts/RewardPool.sol
  contracts/contracts/interfaces/IRewardPool.sol
  contracts/contracts/interfaces/IVestingPools.sol
  contracts/contracts/utils/ImmutableOwnable.sol
  contracts/contracts/utils/Utils.sol
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

docs: update git clone instructions
  docs/dev-guide.md
Due: prettier --write

docs: expand on dapp setup
  docs/dev-guide.md
Due: prettier --write

typo with contracts
  docs/dev-guide.md
Due: prettier --write

document hardhat vest command
  docs/dev-guide.md
Due: prettier --write

Add terms for staking hardhat task
  contracts/hardhat.config.ts
  contracts/tasks/add-terms.ts
  contracts/tasks/task-names.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Adding stake/unstake updates for contract interaction
  contracts/hardhat.config.ts
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

added reward pool tests
  contracts/.eslintrc.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/rewardPool.test.js
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Fetching token market price from coingecko
  yarn.lock
Due: prettier --write

add classic staking diagram
  docs/Makefile
  docs/classic-staking.png
  docs/classic-staking.puml
  docs/plantuml.skin
Due: prettier --write

run prettier
  contracts/contracts/RewardPool.sol
  contracts/hardhat.config.ts
  contracts/tasks/add-terms.ts
  contracts/test/rewardPool.test.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

add lint-staged to husky pre-commit
  .husky/pre-commit
Due: prettier --write

fix weird issue with solhint
  package.json
Due: prettier --write

contracts: fix var-name-mixedcase solhint warnings for immutables
  contracts/contracts/RewardMaster.sol
  contracts/contracts/StakeRewardAdviser.sol
  contracts/contracts/Staking.sol
  contracts/contracts/utils/ImmutableOwnable.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: add sol2uml and generated UML class diagram
  contracts/package.json
  docs/contracts.svg
  yarn.lock
Due: prettier --write

contracts: special cases processed; revert msg clarified
  contracts/contracts/RewardMaster.sol
  contracts/contracts/Staking.sol
  contracts/contracts/interfaces/IErc20Min.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

lint: consolidate prettier module versions
  contracts/package.json
  package.json
  yarn.lock
Due: prettier --write

contracts: apply prettier fix for RewardMaster
  contracts/contracts/RewardMaster.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix "yarn lint" to call lint:ts not :js for contracts
  package.json
Due: prettier --write

contracts: fix eslint issues
  contracts/.eslintrc.json
  contracts/tasks/add-terms.ts
  contracts/test/rewardPool.test.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: convert rewardPool.test.js to TypeScript
  contracts/test/rewardPool.test.ts
  contracts/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: enhance rewardPool.test.ts
  contracts/test/rewardPool.test.ts
  contracts/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: remove types/ from tsconfig.json
  contracts/tsconfig.json
Due: prettier --write

contracts: switch from hardhat-typechain to @typechain/hardhat
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix gas reporting
  contracts/.env.example
  contracts/hardhat.config.ts
  contracts/package.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: fix "yarn coverage"
  contracts/.solcover.js
  contracts/package.json
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint
