Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

update the gap in pantherPool
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:PantherPoolV1): createZAccountUtxo restricted
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/interfaces/IPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

remove duplications of poseidon hash
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/crypto/PoseidonHashers.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/mocks/MockTaxiTree.sol
  contracts/contracts/protocol/zAccountsRegistry/BlacklistedZAccountIdsTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Subtract the forest slots from pool gap
  contracts/contracts/protocol/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(contracts:OnbardingController): solhint warning temporally silenced
  contracts/contracts/protocol/OnboardingController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:PantherForest): root history fixed
  contracts/contracts/protocol/pantherForest/PantherForest.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

modify the key:register task
  contracts/tasks/protocol/pubkey-register.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

fix(contracts): fixed uint23 to uint32 typo
  contracts/contracts/protocol/providersKeys/ProvidersKeysSignatureVerifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:PantherStaticTree): ITreeRootUpdater interface changed
  contracts/contracts/protocol/PantherStaticTree.sol
  contracts/contracts/protocol/pantherForest/interfaces/ITreeRootUpdater.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix the order of deployment params in static tree
  contracts/deploy/01-protocol/08h-static-tree-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts:ZAccountsRegistry): safe24 for zAccountId
  contracts/contracts/common/UtilsLib.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

- Adding gap to start and end of slots in forest - Add TODOS to add gap to busTree and busQueue - fix the order of slots in pantherPool
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): ProvidersKeys.sol reactivateKeyring did not update keyRing status
  contracts/contracts/protocol/ProvidersKeys.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(contracts): duplicated const EMPTY_BUS_TREE_ROOT removed
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/zeroTrees/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): public signal constraints checks in ZAccountsRegistry
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/errMsgs/ZAccountsRegistryErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(dapp): verify your info alignment
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: prettier --write

ci(root): update commitlint config
  commitlint.config.js
Due: prettier --write

fix(dapp): UI adjustments according #865crbna7
  CONTRIBUTING.md
  README.md
  yarn.lock
Due: prettier --write

fix(subgraph): update subgraph dependencies
  subgraph/package.json
  subgraph/yarn.lock
  yarn.lock
Due: prettier --write

style(contracts:PantherBusTree): cleaned up
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/errMsgs/PantherBusTreeErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

style(contracts:TransactionNoteEmitter): typos and comments
  contracts/contracts/protocol/pantherPool/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): add init err msg of bus tree
  contracts/contracts/protocol/errMsgs/PantherBusTreeErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts:PantherPool): createZAccountUtxo fixes and improvements
  contracts/contracts/protocol/PantherPoolV1.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/errMsgs/PantherPoolV1ErrMsgs.sol
  contracts/contracts/protocol/pantherPool/TransactionNoteEmitter.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): implement PrpVoucherGrantor smart contract
  contracts/contracts/protocol/PrpVoucherGrantor.sol
  contracts/test/protocol/PrpVoucherGrantor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): extend deployment scripts
  contracts/contracts/protocol/mocks/MockPantherPoolV1.sol
  contracts/deploy/01-protocol/10a-increase-vault-balance.ts
  contracts/deploy/01-protocol/11-bus-tree-impl.ts
  contracts/deploy/01-protocol/16-providers-keys.ts
  contracts/deploy/01-protocol/20-static-tree-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): busTreeScenario.js excluded from tests
  contracts/package.json
  contracts/test/protocol/data/busTreeScenario.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): modify onboardingController
  contracts/contracts/common/Constants.sol
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
  contracts/contracts/protocol/interfaces/IPrpVoucherGrantor.sol
  contracts/contracts/protocol/zAccountsRegistry/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore: add prpVoucherGrantor deployment script
  contracts/deploy/01-protocol/00-check-params.ts
  contracts/deploy/01-protocol/08c-prpVoucherGrantor-proxy-and-impl.ts
  contracts/deploy/01-protocol/17-onboarding-controller-proxy-and-imp.ts
  contracts/deploy/01-protocol/17a-update-onboarding-reward-params.ts
  contracts/deploy/01-protocol/17b-update-voucher-terms.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore: using abi.encode for encoding data in activation
  contracts/contracts/protocol/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore: rename fun signature
  contracts/contracts/protocol/PrpVoucherGrantor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix: using `abi.decode` to read secretHash
  contracts/contracts/protocol/OnboardingController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

fix(contracts): fix IPrpVoucherGrantor
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/interfaces/IPrpVoucherGrantor.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): minor update after rebase
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/errMsgs/PantherBusTreeErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

test(contracts): temp fix for 12-zAccountsRegistry-proxy.ts
  contracts/deploy/01-protocol/12-zAccountsRegistry-proxy.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

test(contracts) test scenario updated
  contracts/test/protocol/data/busTreeScenario.js
  contracts/test/protocol/data/busTreeScenario_2052_steps.zip
  contracts/test/protocol/data/busTreeScenario_20_steps.json
  contracts/test/protocol/data/busTreeScenario_20_steps.proofInput.json
  contracts/test/protocol/data/busTreeScenario_32_steps.json
  contracts/test/protocol/data/busTreeScenario_32_steps.proofInput.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts) magicalConstraint - part 2, batch add
  contracts/contracts/protocol/PantherBusTree.sol
  contracts/contracts/protocol/errMsgs/PantherBusTreeErrMsgs.sol
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts) updated to match renamed fn
  contracts/test/protocol/PrpVoucherGrantor.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

feat: use assembly to read secret
  contracts/contracts/protocol/OnboardingController.sol
  contracts/contracts/protocol/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
