Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

MaticRewardPool::_releasableAmount() fixed
  contracts/contracts/MaticRewardPool.sol
  contracts/test/maticRewardPool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

reorganise archives of Rinkeby staging artifacts and setup
  contracts/deployments/ARCHIVE/staging/rinkeby/.chainId
  contracts/deployments/ARCHIVE/staging/rinkeby/RewardMaster.json
  contracts/deployments/ARCHIVE/staging/rinkeby/RewardPool.json
  contracts/deployments/ARCHIVE/staging/rinkeby/StakeRewardAdviser.json
  contracts/deployments/ARCHIVE/staging/rinkeby/Staking.json
  contracts/staging/rinkeby/rewardPool-transfer.js
  contracts/staging/rinkeby/setup.js
  contracts/staging/rinkeby/setup.sh
  docs/dev-guide.md
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Tests for MaticRewardPool::_releasableAmount() fixed
  contracts/test/maticRewardPool.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Add polygon artifacts
  contracts/deployments/ARCHIVE/staging/mumbai/.chainId
  contracts/deployments/ARCHIVE/staging/mumbai/MaticRewardPool.json
  contracts/deployments/ARCHIVE/staging/mumbai/RewardMaster.json
  contracts/deployments/ARCHIVE/staging/mumbai/StakeRewardAdviser.json
  contracts/deployments/ARCHIVE/staging/mumbai/Staking.json
  contracts/deployments/ARCHIVE/staging/mumbai/solcInputs/496176f3b3122619b8c2f798da67ee81.json
Due: prettier --write

Add new hardhat task for initializing MaticRewardPool
  contracts/hardhat.config.ts
  contracts/tasks/matic-reward-pool-init.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Change to deploy script to be compatible with mumbai.
  contracts/deploy/01-RewardPool.ts
  contracts/deploy/02-RewardMaster.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

dapp: multichain support - adding support for polygon chain
  contracts/hardhat.config.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Delete preview job and add script to combined-job to add preview to MR
  .gitlab-ci.yml
Due: prettier --write

StakeRewardController.sol drafted (WIP)
  contracts/contracts/RewardTreasury.sol
  contracts/contracts/StakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

WIP StakeRewardController.sol updated
  contracts/contracts/RewardTreasury.sol
  contracts/contracts/StakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

StakeRewardController and RewardTreasury before u-tests
  contracts/contracts/RewardTreasury.sol
  contracts/contracts/StakeRewardController.sol
  contracts/contracts/interfaces/IErc20Approve.sol
  contracts/contracts/interfaces/ITotalStaked.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

StakeRewardController - more fixes
  contracts/contracts/StakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: rename STAKING_TOKEN -> TOKEN_ADDRESS
  contracts/.env.example
  contracts/deploy/01-RewardPool.ts
  contracts/deploy/02-RewardMaster.ts
  contracts/deploy/03-Staking.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add deployment script for StakeRewardController
  contracts/deploy/05-StakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

StakeRewardController bug fixed
  contracts/contracts/StakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

StakeRewardController - more bugs fixed
  contracts/contracts/StakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

StakeRewardController - `transfer` bug fixed
  contracts/contracts/StakeRewardController.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: hardcode REWARDING_START when deploying StakeRewardController
  contracts/deploy/05-StakeRewardController.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: make it marginally easier to test Polygon fork
  contracts/.env.matic-fork.example
  contracts/tmp/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add missing argument to cp command for setting up forking env
  contracts/tmp/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add code and data for testing Polygon fix
  contracts/tmp/amounts.json
  contracts/tmp/test-polygon-fix.js
  contracts/tmp/timestamps.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

make Polygon testing process even more obvious
  contracts/tmp/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Polygon testing: comment out expected failures
  contracts/tmp/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Polygon testing: show balance deltas
  contracts/tmp/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

move test scripts from contracts/tmp to contracts/test/manual
  contracts/test/manual/polygon-fix/amounts.json
  contracts/test/manual/polygon-fix/test-polygon-fix.js
  contracts/test/manual/polygon-fix/timestamps.json
  contracts/tmp/test-polygon-fix.js
  contracts/tmp/timestamps.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

add more polygon test data
  contracts/test/manual/polygon-fix/staking_3.json
Due: prettier --write

add old script for setting up a local test environment
  contracts/test/manual/setup-local.sh
Due: prettier --write

revert prettier formatting of test script
  .prettierignore
  contracts/test/manual/polygon-fix/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

update yarn.lock based on react-jazzicon addition
  yarn.lock
Due: prettier --write

contracts: move test/helpers/hardhatHelpers to lib for wider reuse
  contracts/lib/hardhat.ts
  contracts/test/manual/polygon-fix/test-polygon-fix.js
  contracts/test/maticRewardPool.test.ts
  contracts/test/rewardMaster.test.ts
  contracts/test/staking.scenario.test.ts
  contracts/test/staking.test.ts
  contracts/test/votingPowerInformer.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

prettierignore: add contracts/tenderly.yaml
  .prettierignore
Due: prettier --write

contracts: move test/manual/ to testing/ to avoid mocha conflicts
  .prettierignore
  contracts/.eslintignore
  contracts/testing/polygon-fix/amounts.json
  contracts/testing/polygon-fix/staking_3.json
  contracts/testing/polygon-fix/test-polygon-fix.js
  contracts/testing/polygon-fix/timestamps.json
  contracts/testing/setup-local.sh
  contracts/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: extract helpers to contracts/lib/
  contracts/lib/hardhat.ts
  contracts/lib/polygon-fix.ts
  contracts/lib/staking.ts
  contracts/lib/units-shortcuts.ts
  contracts/testing/polygon-fix/test-polygon-fix.js
  contracts/tsconfig.json
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add tenderly.yaml to gitignore
  contracts/.gitignore
  contracts/testing/polygon-fix/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: add showBalances() helper
  contracts/lib/polygon-fix.ts
  contracts/testing/polygon-fix/test-polygon-fix.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

testing/unstaking-scenario-module.js added
  contracts/testing/polygon-fix/PZkpToken.json
  contracts/testing/polygon-fix/unstaking-scenario-module.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

unstaking-scenario-module.js updated
  contracts/testing/polygon-fix/unstaking-scenario-module.js
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: filter paginator to remove the code duplication
  contracts/lib/utils.ts
  contracts/tasks/staking-list.ts
  contracts/tasks/vesting-list.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
