Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

.lintstagedrc.yaml:

'*':
  - 'prettier --write'
contracts/**/*.sol:
  - 'yarn workspace @zkp-staking/contracts lint:solhint'
contracts/**/*.{js,ts}:
  - 'yarn workspace @zkp-staking/contracts lint:eslint'
dapp/**/*.{js,jsx,ts,tsx}:
  - 'yarn workspace @zkp-staking/dapp lint:eslint'

feat(subgraph): add isOnboarded field to BusQueueOpened
  subgraph/schema.graphql
  subgraph/src/handleBusTreeQueues.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix(crypto): typo
  crypto/src/panther/keys.ts
Due: prettier --write

feat(dapp): zk proof generator in the browser
  yarn.lock
Due: prettier --write

feat(subgraph): add TransactionNote events tracking
  subgraph/abis/PantherPoolV1.json
  subgraph/schema.graphql
  subgraph/src/handePoolContract.ts
  subgraph/subgraph.yaml
Due: prettier --write

feat(crypto): implement zAccount UTXO message encryption
  crypto/jest.config.js
  crypto/src/panther/messages.ts
  crypto/src/utils/assertions.ts
  crypto/src/utils/bigint-conversions.ts
  crypto/tests/panther/messages.test.ts
  crypto/tests/utils/bigint-conversions.test.ts
Due: prettier --write

feat(dapp): deploy circut components to ipfs
  .prettierignore
  yarn.lock
Due: prettier --write

feat(crypto): random generator in snark field
  crypto/src/base/field-operations.ts
Due: prettier --write

feat(dapp): generate zAccount activation proof with non-zero input
  crypto/src/panther/keys.ts
Due: prettier --write

feat(dapp): add dead code scanner using ts-prune
  yarn.lock
Due: prettier --write

feat(dapp): kyc ui improvements
  yarn.lock
Due: prettier --write

feat(dapp): enable forest roots verification in circuits
  yarn.lock
Due: prettier --write

feat(crypto): use Big Endian representation for public keys packing
  crypto/src/base/keypairs.ts
Due: prettier --write

refactor(dapp): rename PoolV0 to PoolV1, remove unused contracts
  amplify.yml
Due: prettier --write

fix(dapp): circom extra input should be modulo snark
  crypto/src/panther/messages.ts
Due: prettier --write

circuits: "compile" task updated to look circomlib templates in ./node_modules
  circuits/package.json
Due: prettier --write

feat(contracts): add Adv stake msg translator
  contracts/.env.example
  contracts/contracts/staking/AdvancedStakeV2ActionMsgTranslator.sol
  contracts/contracts/staking/actions/Constants.sol
  contracts/deploy/02-staking/18-AdvancedStakeV2ActionMsgTranslator.ts
  contracts/test/staking/advancedStakeV2ActionMsgTranslator.test.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

circuits: PartiallyFilledChainedBatchUpdaterAndNewRootChecker circuit added
  circuits/circuits/partiallyFilledChainedBatchUpdaterAndNewRootCheckerFor26xLevelTreeAnd6xLelelBatch.circom
  circuits/circuits/templates/batchUpdaterAndNewRootBuilder.circom
  circuits/circuits/templates/merkleTreeRootBuilder.circom
  circuits/circuits/templates/partiallyFilledChainHasher.circom
  circuits/circuits/templates/partiallyFilledChainedBatchUpdaterAndNewRootBuilder.circom
  circuits/circuits/templates/partiallyFilledChainedBatchUpdaterAndNewRootChecker.circom
  circuits/circuits/templates/zeroPaddedInputChecker.circom
Due: prettier --write

circuits: selectableInclusionProofFor6x26x30xLevelTrees.circom moved to test
  circuits/test/circuits/selectableInclusionProofFor6x26x30xLevelTreesTest.cirom
Due: prettier --write

circuits: partiallyFilledChainHasher.circom renamed
  circuits/circuits/partiallyFilledChainedBatchUpdaterAndNewRootCheckerFor26xLevelTreeAnd6xLelelBatch.circom
  circuits/circuits/templates/partiallyFilledChainBuilder.circom
  circuits/circuits/templates/partiallyFilledChainedBatchUpdaterAndNewRootBuilder.circom
Due: prettier --write

circuits: Selectable3TreeInclusionProof circuit implemented
  circuits/circuits/selectableInclusionProofFor6x26x30xLevelTrees.cirom
  circuits/circuits/templates/hasher.circom
  circuits/circuits/templates/merkleInclusionProof.circom
  circuits/circuits/templates/selectable3TreeInclusionProof.circom
  circuits/circuits/templates/selector3.circom
Due: prettier --write

circuits: selectableInclusionProofFor6x26x30xLevelTrees.cirom pub input shorten
  circuits/circuits/selectableInclusionProofFor6x26x30xLevelTrees.cirom
  circuits/circuits/templates/selectable3TreeInclusionProofChecker.circom
Due: prettier --write

contracts: test data for PantherVerifier added
  contracts/test/protocol/data/groth16Proofs.json
  contracts/test/protocol/data/verifyingKeys.json
Due: prettier --write

contracts: PantherVerifier implemented
  contracts/contracts/common/Bytecode.sol
  contracts/contracts/common/Types.sol
  contracts/contracts/protocol/PantherVerifier.sol
  contracts/contracts/protocol/crypto/EllipticCurveMath.sol
  contracts/contracts/protocol/mocks/EllipticCurveMathTester.sol
  contracts/contracts/protocol/pantherVerifier/Verifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

circuits: merkleTreeRootBuilder.circom renamed to merkleTreeBuilder.circom
  circuits/circuits/templates/batchUpdaterAndNewRootBuilder.circom
  circuits/circuits/templates/merkleTreeBuilder.circom
Due: prettier --write

circuits: test circuit and data for MerkleTreeBuilder
  circuits/test/circuits/merkleTreeBuildCheckerFor6Levels.circom
  circuits/test/circuits/templates/merkleTreeBuildChecker.circom
  circuits/test/data/merkleTreeBuildCheckerFor6Levels_input.json
  circuits/test/data/merkleTreeBuildCheckerFor6Levels_input.zeroTree.json
Due: prettier --write

circuits: test data for Selectable3TreeInclusionProofChecker circuit
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.depth26.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.depth30.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.depth6.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.height26.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.height30.json
  circuits/test/data/selectable3TreeInclusionProofCheckerFor6-26-30_input.height6.json
Due: prettier --write

contracts: Poseidon.sol extended
  contracts/contracts/protocol/crypto/Poseidon.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

circuits: test circuit and data for MerkleInclusionProof circuit
  circuits/test/circuits/merkleInclusionProofCheckerFor24Levels.circom
  circuits/test/circuits/templates/merkleInclusionProofChecker.circom
  circuits/test/data/merkleInclusionProofCheckerFor24Levels_input.json
Due: prettier --write

circuits: test data for PartiallyFilledChainedBatchUpdaterAndNewRootChecker
  circuits/test/data/partiallyFilledChainedBatchUpdaterAndNewRootCheckerFor26x6_input.json
Due: prettier --write

circuits: test data for PartiallyFilledChainChecker/Builder circuits
  circuits/test/data/partiallyFilledChainCheckerFor64_input.nInputs_43.json
  circuits/test/data/partiallyFilledChainCheckerFor64_input.nInputs_64.json
Due: prettier --write

circuits: test circuit and data for circuits/hasher.circom
  circuits/test/circuits/hasherTest.circom
  circuits/test/circuits/templates/hasherTester.circom
  circuits/test/data/hasherTest_input.json
Due: prettier --write

circuits: more test data for MerkleInclusionProof circuit
  circuits/test/circuits/merkleInclusionProofCheckerFor20Levels.circom
  circuits/test/data/merkleInclusionProofCheckerFor20Levels_input.json
Due: prettier --write

contracts: BusTree.sol implemented (not yet optimized)
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/busTree/QueuedBatches.sol
  contracts/contracts/protocol/pantherForest/busTree/SnarkProvableInsertion.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/DegenerateIncrementalBinaryTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

circuits: references updated in TreeBatchUpdaterAndNewRootBuilder
  circuits/circuits/templates/treeBatchUpdaterAndNewRootBuilder.circom
Due: prettier --write

contracts: BusTree fixed, BusQueues improved
  contracts/contracts/protocol/pantherForest/busTree/BusQueues.sol
  contracts/contracts/protocol/pantherForest/busTree/BusTree.sol
  contracts/contracts/protocol/pantherForest/zeroTrees/Constants.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: scripts/generateTriadMerkleZeroesContracts.sh fixed
  contracts/scripts/generateTriadMerkleZeroesContracts.sh
Due: prettier --write

contracts: scripts/generateBinaryMerkleZeroesContracts.sh added
  contracts/lib/BinaryMerkleZeros.sol.template
  contracts/lib/binaryMerkleZerosContractGenerator.ts
  contracts/scripts/generateBinaryMerkleZeroesContracts.sh
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

contracts: PantherVerifier.sol refactored
  contracts/contracts/common/Types.sol
  contracts/contracts/protocol/PantherVerifier.sol
  contracts/contracts/protocol/crypto/EllipticCurveMath.sol
  contracts/contracts/protocol/interfaces/IPantherVerifier.sol
  contracts/contracts/protocol/interfaces/IVerifier.sol
  contracts/contracts/protocol/pantherVerifier/Verifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

contracts: WIP skeleton for the new design of trees updated
  contracts/contracts/protocol/PantherFerryTree.sol
  contracts/contracts/protocol/PantherStaticTrees.sol
  contracts/contracts/protocol/pantherForest/PantherForest.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryIncrementalTree.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/BinaryUpdatableTree.sol
  contracts/contracts/protocol/pantherForest/merkleTrees/Types.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint
