Repository pantherfoundation/panther-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint, yarn workspace @zkp-staking/dapp lint:eslint

chore: Update CODEOWNERS
  CODEOWNERS
Due: prettier --write

chore(contracts): ZAccountRegistry_Proxy workaround in deploy scripts
  contracts/deploy/01-protocol/12-zAccountsRegistry-proxy.ts
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
  contracts/deploy/01-protocol/17-onboarding-controller-proxy-and-imp.ts
  contracts/deploy/01-protocol/18a-zAccountsRegistry-proxy-upgrade.ts
  contracts/deploy/01-protocol/18b-zAccountsRegistry-proxy-owner-change.ts
  contracts/deploy/01-protocol/20-static-tree-impl.ts
  contracts/deploy/01-protocol/26-zaccounts-status-resolver.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): 16b-add-provider-key deploy scripts switched off
  contracts/deploy/01-protocol/16b-add-provider-key.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): validation of pub keys before registration (2 of 2)
  contracts/contracts/common/crypto/BabyJubJub.sol
  contracts/contracts/protocol/v1/ProvidersKeys.sol
  contracts/contracts/protocol/v1/errMsgs/ProvidersKeysErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): Vault contract name changed in deploy scripts
  contracts/deploy/01-protocol/09-vault-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): validation of pub keys before registration (1 of 2)
  contracts/contracts/common/crypto/BabyJubJub.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): removed BabyJubJub from deploy scripts
  contracts/deploy/01-protocol/01-crypto-libs.ts
  contracts/deploy/01-protocol/16-providers-keys.ts
  contracts/deploy/01-protocol/18-zAccountsRegistry-imp.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

refactor(dapp): providers wrapper component
  contracts/package.json
  yarn.lock
Due: prettier --write

feat(dapp): total fees
  yarn.lock
Due: prettier --write

fix(circuits): taxi tree depth temporary changes
  circuits/circuits/mainZAccountRenewalV1.circom
  circuits/circuits/mainZSwapV1.circom
  circuits/circuits/mainZTransactionV1.circom
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
Due: prettier --write

feat(contracts): log kyt msg
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/errMsgs/PantherPoolV1ErrMsgs.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): remove require
  contracts/contracts/protocol/v1/PantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add paymaster compensation
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): support for meta tx
  contracts/contracts/protocol/v1/ProvidersKeys.sol
  contracts/contracts/protocol/v1/providersKeys/ProvidersKeysSignatureVerifier.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): add registerkey without signature
  contracts/contracts/protocol/v1/ProvidersKeys.sol
  contracts/deploy/01-protocol/16b-add-provider-key.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

feat(contracts): taxi tree
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/mocks/MockTaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/taxiTree/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/taxiTree/TaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/Constants.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/TwoLevelZeroTree.sol
  contracts/deploy/01-protocol/04-taxi-tree.ts
  contracts/deploy/01-protocol/13-pantherPoolV1-impl.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint, yarn workspace @zkp-staking/contracts lint:eslint

refactor(contracts): clean up taxi
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/Constants.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/TwoLevelZeroTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

refactor(contracts): opt taxi and pool
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PantherTaxiTree.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherTaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/taxiTree/TaxiTree.sol
  contracts/contracts/protocol/v1/pantherForest/zeroTrees/TwoLevelZeroTree.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(dapp): support taxi tree
  crypto/src/other/sparse-merkle-tree/constants.ts
  crypto/tests/other/sparse-merkle-tree/bus-tree.test.ts
Due: prettier --write

feat(circuits): range check implementation for zTransaction
  circuits/circuits/zTransactionV1.circom
  circuits/circuits/zTransactionV1RangeCheck.circom
Due: prettier --write

chore(contracts): fix zacc reg slots
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): pack func args
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherPoolV1.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): add tx options lib
  contracts/contracts/protocol/v1/PantherPoolV1.sol
  contracts/contracts/protocol/v1/PrpConverter.sol
  contracts/contracts/protocol/v1/PrpVoucherGrantor.sol
  contracts/contracts/protocol/v1/ZAccountsRegistry.sol
  contracts/contracts/protocol/v1/interfaces/IPantherPoolV1.sol
  contracts/contracts/protocol/v1/pantherPool/TransactionOptions.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

feat(contracts): gen static node roots
  contracts/deploy/01-protocol/15a-add-zone-to-zZone-registry.ts
  contracts/deploy/01-protocol/19a-add-local-network-to-zNetworks-registry.ts
  contracts/deploy/01-protocol/19aa-add-test-networks-to-zNetworks-registry.ts
  contracts/deploy/01-protocol/19ba-add-local-network-to-zNetworks-registry.ts
  contracts/lib/checkNetwork.ts
  contracts/lib/data/staticTree/zNetworksRegistry.ts
  contracts/lib/data/staticTree/zZonesRegistry.ts
  contracts/lib/deploymentHelpers.ts
  contracts/lib/utilities.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): add new VK
  contracts/test/protocol/data/verificationKeys/VK_main.json
Due: prettier --write

fix(contracts): update roots
  contracts/contracts/protocol/v1/ZNetworksRegistry.sol
  contracts/contracts/protocol/v1/ZZonesRegistry.sol
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:solhint

chore(contracts): change files dir
  contracts/deploy/01-protocol/15a-add-zone-to-zZone-registry.ts
  contracts/deploy/01-protocol/19aa-add-test-networks-to-zNetworks-registry.ts
  contracts/deploy/01-protocol/19ba-add-local-network-to-zNetworks-registry.ts
  contracts/lib/staticTree/zNetworksRegistry.ts
  contracts/lib/staticTree/zZonesRegistry.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): fix comments
  contracts/lib/data/staticTree/zNetworksRegistry.ts
  contracts/lib/data/staticTree/zZonesRegistry.ts
  contracts/lib/utilities.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(dapp): storybook update
  yarn.lock
Due: prettier --write

chore(dapp): frontend packages update and cleanup
  yarn.lock
Due: prettier --write

feat(dapp): gitlab ci tests Without this patch, we didn't see an error inline
  .gitignore
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: prettier --write

feat(dapp): migrate to sepolia network
  yarn.lock
Due: prettier --write

fix(circuits): circuits updates
  circuits/circuits/ammV1.circom
  circuits/circuits/ammV1RangeCheck.circom
  circuits/circuits/mainAmmV1.circom
  circuits/circuits/mainZAccountRegistrationV1.circom
  circuits/circuits/mainZAccountRenewalV1.circom
  circuits/circuits/mainZSwapV1.circom
  circuits/circuits/mainZTransactionV1.circom
  circuits/circuits/templates/balanceChecker.circom
  circuits/circuits/zAccountRegistrationV1.circom
  circuits/circuits/zAccountRegistrationV1RangeCheck.circom
  circuits/circuits/zAccountRenewalV1.circom
  circuits/circuits/zAccountRenewalV1RangeCheck.circom
  circuits/circuits/zSwapV1.circom
  circuits/circuits/zTransactionV1.circom
  circuits/circuits/zTransactionV1RangeCheck.circom
  circuits/test/BalanceChecker.test.ts
  circuits/test/DepositOnlyNonZeroInputWitnessGeneration.test.ts
  circuits/test/DepositOnlyZeroInputWitnessGeneration.test.ts
  circuits/test/InternalZAssetTransferSplit.test.ts
  circuits/test/InternalZAssetTransferToSelf.test.ts
  circuits/test/WithdrawOnlyZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorDepositTx.ts
  circuits/test/api/proofGeneratorInternalTx.ts
  circuits/test/api/proofGeneratorWithdrawTx.ts
Due: prettier --write

fix(circuits): test and clean up zaccount registration circuit details
  circuits/circuits/zAccountRegistrationV1RangeCheck.circom
  circuits/compiled/zAccountRegistration/circuits.wasm
  circuits/compiled/zAccountRegistration/provingKey.zkey
  circuits/compiled/zAccountRegistration/verificationKey.json
  circuits/test/ZAccountRegistrationNonZeroInputWitnessGeneration.test.ts
  circuits/test/ZAccountRegistrationZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorZAccountRegistration.ts
Due: prettier --write

fix(circuits): test and clean up amm circuit details
  circuits/circuits/ammV1RangeCheck.circom
  circuits/compiled/prpConverter/circuits.wasm
  circuits/compiled/prpConverter/provingKey.zkey
  circuits/compiled/prpConverter/verificationKey.json
  circuits/test/AMMExchangeNonZeroInputWitnessGeneration.test.ts
  circuits/test/AMMVoucherExchangeNonZeroInputWitnessGeneration.test.ts
  circuits/test/AMMZeroInputWitnessGeneration.test.ts
  circuits/test/api/proofGeneratorAMM.ts
Due: prettier --write

fix(circuits): fix build script and update files for zTransaction
  circuits/compiled/zTransaction/circuits.wasm
  circuits/compiled/zTransaction/provingKey.zkey
  circuits/compiled/zTransaction/verificationKey.json
  circuits/scripts/buildMainTransactionV1Extended.sh
Due: prettier --write

fix(dapp): disable ZTransaction proof generation tests temporarily
  yarn.lock
Due: prettier --write

chore(contracts): fix taxi tree deploy script
  contracts/deploy/01-protocol/11c-taxi-tree.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): add sepolia network
  contracts/hardhat.config.ts
  contracts/package.json
  yarn.lock
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

chore(contracts): delete duplicate file
  contracts/deploy/01-protocol/24-add-zaccounts-registration-vk-to-pool.ts
Due: prettier --write, yarn workspace @zkp-staking/contracts lint:eslint

Path conditions:
  prettier --write: any of: *
  yarn workspace @zkp-staking/contracts lint:solhint: any of: contracts/**/*.sol
  yarn workspace @zkp-staking/contracts lint:eslint: any of: contracts/**/*.{js,ts}
  yarn workspace @zkp-staking/dapp lint:eslint: any of: dapp/**/*.{js,jsx,ts,tsx}
